*
{
    margin: 0;    
    padding: 0;
}
body 
{
    background: #fff;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
}
.poppins-bold
{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
/* input[type=text], textarea 
{
    text-transform: uppercase;
} */
.poppins-light
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.poppins
{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.side-nav
{
    height: 100vh;
    /* background: #0b325e; */
    /* background:#535353; */
    background: -webkit-linear-gradient(157deg,#ffffff, #ffffff);
    background: linear-gradient(157deg,#ffffff, #ffffff);
    width: 270px;
    border-right: 2px #7f7f7f solid;
    position: fixed;
    z-index: 2;
    left: 0%;
    overflow-y: auto;
    padding-bottom: 20px;
}
.nav-bar
{
    width: 100%;
    padding: 5px;    
    box-shadow: 0 0 19px 0px rgba(0, 0, 0, 0.25);
    /* background: #535353; */
    border-bottom: 2px solid #7f7f7f;
    background: #fff;
    position: fixed;
    z-index: 1;
    padding-left: 275px;
}
.main-app
{
    padding-left: 280px;
    width: 100%;    
    padding-right: 10px;
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 10px;
}
/* @media (min-width: 768px) 
{
    .container 
    {
        max-width: 840px;
    }
} */
.side-nav.no-collapse
{
    width: 62px;
}
.nav-bar.active, .main-app.active
{
    padding-left: 70px;
}
.side-nav, .nav-bar, .main-app
{
    transition: .5s cubic-bezier(1, -0.08, 0, 1.24);
}
.wrapper_nav_control > a, .wrapper_profile_control > a
{
    height: 30px;
    width: 30px;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    color: #fff  !important;
    justify-content: center;
    transition: .2s ease-in;
}
.wrapper_nav_control > a:active, .wrapper_profile_control > a:active
{
    transform: scale(.8);
}
.wrapper_nav_control > a:hover, .wrapper_profile_control > a:hover
{
    background: #fff!important;
    color: #585858 !important;
}
.wrapper_nav_control > .divider
{
    height: 25px;
    border-color: #0b325e !important;
}
.profile-photo
{
    width: 40px;
    border:solid 2px #fff;
    border-radius: 50%;
    /* height: 40px; */
}
.bg-dark 
{
    background-color: #565656!important;
}
.bg-dark-blue
{
    background: #0b325e;
}
.text-dark-blue 
{
    color: #0b325e;
}
.d-inline-grid
{
    display: inline-grid;
}
.n-r
{
    line-height: 15px;
    text-align: end;
    font-size: 14px;
}
.wrapper_profile_control
{
    align-items: center;
    justify-items: center;
    display: flex;
}
.side-nav .nav-item 
{
    display: inline-block;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    transition: width 0.3s ease-in-out;
    color: #565656;
}
.side-nav .nav-item i.ifa
{
    float: left;
    position: relative;
    top: -1px;
    margin-right: 10px;
    color: #565656;
    transition: .3s ease;
    font-size: 25px;
    padding-left: 0.25rem;
}
.side-nav ul>div>li
{
    padding: 15px 0 10px 0;
    cursor: pointer;        
    transition: 0.3s ease-in-out;
    /* border-left: 2px solid transparent; */
}
.side-nav ul>div>li:hover
{
    border-left: 0px solid #0b325e ;
    background: #0000000d;
}
.side-nav ul>div>li:hover i.ifa
{
    color: #272626 !important;    
    transform: scale(1.15);
}
.more-items-nav
{
    display: none !important;
    animation-fill-mode: initial !important;
    transform: rotate(0deg);
    transition: .3s cubic-bezier(1, -0.08, 0, 1.24) !important;
}
.side-nav ul>div>li>div>p.item-text-title
{
    opacity: 0;    
    display: none;        
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0px;
    font-size: .9em;
    transition: .3s cubic-bezier(1, -0.08, 0, 1.24);
}
.side-nav ul > div > li> div > p.item-text-title.active, .more-items-nav.show
{
    opacity: 1;
    display: block !important;
    color: #565656;
}
.more-items-nav.active
{
    animation-fill-mode: initial !important;
    transform: rotate(90deg)
}
.more-items-in-item
{
    background: #6b6b6b;
    display: none;
    transition: .5s;
    overflow: hidden;
}
.more-items-in-item.active
{
    display: block;
}
.more-items-in-item > a
{
    text-decoration: none !important;
}
.more-items-in-item > a > p
{
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #fff;
    border-left: solid 8px #4a4b4b;
    padding:12px 10px 12px 10px;
    margin-bottom: 0px;
    transition: .3s all;
}
.more-items-in-item > a > p:hover
{
    background: rgb(63, 66, 66);
    text-decoration: none !important;
    cursor: pointer;
}
.more-items-in-item > a.router-link-exact-active.router-link-active > p
{   
    font-weight: 500;
    background: rgb(82, 82, 82);
    border-left: solid 12px #4a4b4b;
}
.info-s-wrapper
{
    background:#6c6f71;
    padding: 4px 0px 4px 0px;
    font-size: 12px;
    font-weight: 500;
}
.wrapper_notification
{
    transition: .4s ease;
    border-radius: 4px;
}
.wrapper_notification:hover
{
    background: rgba(14, 96, 115, .3);
}
.wrapper_notification > a
{
    position: relative;
    top: 3px;
    right: 2px;
}
.wrapper_notification .notification-icon
{
    font-size: 20px;    
}
.wrapper_notification .count-notification
{
    position: absolute;
    top: 0px;
    right: 0px;
    transform: scale(.9);
    background: #ff0000;
}
.wrapper_profile_control > div > strong
{
    color: #565656 !important;
}
.wrapper_profile_control > div > span
{
    color: #0b3260 !important;
}
/* .input-group-text 
{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 500;
    background-color: #9aa6b3;
    border: 1px solid #454a4f;
}
.form-control 
{
    border: 1px solid #454a4f;
} */
.input-group-text 
{
    font-family: 'Poppins', sans-serif;
    color: #969696;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #969696;
}
.form-control 
{
    font-family: 'Poppins';
    font-weight: 300;
    border: 1px solid #969696;
}    
select.form-control>option {
    font-weight: 500 !important;
}
.el-select>.el-input {
    display: block;
    font-family: 'poppins';
}
.el-select-dropdown .el-select-dropdown__list {
    padding: 0;
    font-family: 'Poppins';
    font-weight: 300;
}
.input-group>.form-control::placeholder
{
    color: #969696;
}    
.el-input__inner
{
    border: 1px solid #969696 !important;
}
.card-header 
{
    background-color: rgba(188, 194, 195, 0.04);
    border-bottom: 1px solid rgb(226, 226, 226);
}
.no-underline
{
    text-decoration: none !important;
}
#chidoriAlert
{
    bottom: -100%;
    padding-left: 25vw !important;
    transition: .5s cubic-bezier(1, -0.08, 0, 1.24) !important;
}

@media screen and (max-width:1024px)
{
    #chidoriAlert
    {
        padding-left: 30vw !important;
    }
}

@media screen and (max-width:768px)
{
    #chidoriAlert
    {
        padding-left: 13vw !important;
    }
}

#chidoriAlert.success
{
    background: #bff199;
    color: #65ab00;
    /* height: 140px; */
}
#chidoriAlert.error
{
    background: #f1a6a2;
    color: #e70800;
}
#chidoriAlert > div .iconAlert
{
    width: 90px;
}
#chidoriAlert .textAlert strong
{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 45px;    
}
#chidoriAlert .textAlert strong.success 
{
    color: #5da100;
}
#chidoriAlert .textAlert strong.error 
{
    color: #d1140d;
}
#chidoriAlert .textAlert
{
    top: -5px;
    margin-left: 20px;
}
#chidoriAlert > div .alertButton
{    
    padding: 7px 25px 7px 25px;
    color: #fff;
    border: solid 3px #acacac00;    
    font-family: 'Poppins',
    sans-serif;
    font-weight: 600;
    border-radius: 10em;
    height: 50px;
    cursor: pointer;
    outline: none !important;
    transition: .5s ease !important;
    transform: scale(1)
}
#chidoriAlert > div .alertButton:active
{
    transform: scale(.85)
}
#chidoriAlert > div .alertButton:hover 
{
    border: solid 3px #00000036;
}
#chidoriAlert > div .alertButton.success
{
    background: #6bba00;    
}
#chidoriAlert > div .alertButton.error
{
    background: #d1140d;
}

.wrapper_notification .notification-icon.notify
{
    -webkit-animation: ring 1.5s ease;
    animation: ring 1.5s ease;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
    }

    12.5% {
        -webkit-transform: rotate(-30deg);
    }

    25% {
        -webkit-transform: rotate(25deg);
    }

    37.5% {
        -webkit-transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
    }

    62.5% {
        -webkit-transform: rotate(-10deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }

    12.5% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }

    25% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

    37.5% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    62.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.main-app
{
    position: relative;
    z-index: 0;
}
#notificationWrapper
{
    display: none;
    position: fixed;
    right: 9px;
    top: 50px;
    max-height: 440px;
    border-radius: 5px;
    z-index: 3;
    width: 400px;
    background: #fff;
    -webkit-box-shadow: 0 12px 32px 0 rgba(0,0,0,.16);
    -moz-box-shadow: 0 12px 32px 0 rgba(0,0,0,.16);
    box-shadow: 0 12px 32px 0 rgba(0,0,0,.16);
}
#notificationWrapper:before
{
    content: "";
    position: absolute;
    top: -20px;
    right: 37px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
#NotifyList
{
    position: static;
    font-weight: 300;
    font-size: 13px;
    color: #000000;
}
#NotifyList > div > li
{
    font-size: 13px;
    padding-right: 5px !important;
    color: #000;
    position: relative;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    transition: all .5s;
}
.success-text
{
    color:#1f921f;
    font-weight: 500;
}
#notificationWrapper>.notificationBody::-webkit-scrollbar
{
    width: 6px;
    background-color: transparent;
}
#notificationWrapper>.notificationBody::-webkit-scrollbar-thumb
{
    cursor: pointer;
    background-color: #85858524;
    border-radius: 10em;
    transition: .5s all ease;
}
#notificationWrapper>.notificationBody::-webkit-scrollbar-thumb:hover
{
    background-color: #858585d8;
}
.error-text
{
    color:#de2323;
    font-weight: 500;
}
#NotifyList > div > li.unread:hover
{
    background: #dbdada !important;
}
#NotifyList > div > li:hover
{
    background: #f6f6f6;
}
#NotifyList > div > li.unread
{
    background: #f6f6f6;
}
#NotifyList > div > li > hr
{
    position: absolute;
    bottom: 0px;
    background: #f1f1f1 !important;
    width: 93%;
    margin: auto;
    left: 0;
    right: 0;
}
#NotifyList> div:last-child > li hr
{
    display: none
}
#notificationWrapper > .notificationHeader h5
{
    border-bottom: 2px solid #eaeaea;
    padding: 0 10px 0 16px;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #2f2f2f;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
#notificationWrapper > .notificationBody
{
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 350px;
}
#notificationWrapper > .notificationBody > .modeless-box-list 
{
    margin: 0;
    padding: 0;
    width: 100%;
    /* min-height: 116px; */
}
#notificationWrapper > .notificationBody > .modeless-box-list > li.modeless-box-noresults 
{
    height: 116px;
    line-height: 116px;
    background-color: #f8f8f8;
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    text-align: center;
    /* text-shadow: 0 1px 1px #fff; */
}
.li-item-notify > div
{
    display: grid;
}
.li-item-notify > div > a
{
    outline: none;
}
.li-item-notify>div>a>i,
.li-item-notify>div>i
{
    font-size:14px;
    transition: all .1s ease-in;
    cursor: pointer;
    transform: scale(1);
    outline: none;
    color:#6e6e6e;
}
.li-item-notify>div>a>i:hover,
.li-item-notify>div>i:hover
{
    transform: scale(1.2);
    color: #000;
}
.custom-control-label::before 
{
    transition: .5s ease;
}
.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
.dropdown-toggle::after
{
    display: none;
}
button.el-button 
{
    outline: none !important;
}
.el-pagination, .el-pagination > span
{
    font-weight: 500 !important;
}
.el-input__inner
{
    height: 37px !important;
}

.switch {
    font-size: 1rem;
    position: relative;
}

.switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}

.switch input+label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}

.switch input+label::before,
.switch input+label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
}

.switch input+label::before {
    right: 0;
    background-color: #f56c6c;
    border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
}

.switch input+label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
}

.switch input:checked+label::before {
    background-color: #7ee24c;
}

.switch input:checked+label::after {
    margin-left: calc(2.375rem * .8);
}

.switch input:focus+label::before {
    outline: none;
    /* box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25); */
}

.switch input:disabled+label {
    color: #868e96;
    cursor: not-allowed;
}

.switch input:disabled+label::before {
    background-color: #e9ecef;
}

.switch.switch-sm {
    font-size: 0.875rem;
}

.switch.switch-sm input+label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}

.switch.switch-sm input+label::before {
    width: calc(calc(1.9375rem * .8) * 2);
}

.switch.switch-sm input+label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}

.switch.switch-sm input:checked+label::after {
    margin-left: calc(1.9375rem * .8);
}

.switch.switch-lg {
    font-size: 1.25rem;
}

.switch.switch-lg input+label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}

.switch.switch-lg input+label::before {
    width: calc(calc(3rem * .8) * 2);
}

.switch.switch-lg input+label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
}

.switch.switch-lg input:checked+label::after {
    margin-left: calc(3rem * .8);
}

.switch+.switch {
    margin-left: 1rem;
}

.modal-details-close
{
    position: absolute !important;
    right: 1px !important;
    top: 0px !important;
    background: #fff !important;
    opacity: 1 !important;
    color: #bebebe !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    font-size: 15px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    outline: none !important;
    align-content: center !important;
    padding-bottom: 1px !important;
    /* border: solid 2px #bdbdbd !important; */
}
.modal-backdrop 
{
    background-color: #222222 !important;
}
.btn
{
    font-weight: 500 !important;
}
#viewDetailsModal .modal-header h5.modal-name
{
    text-transform: capitalize;
}
.main-name-module
{
    font-size: 16px;
}
@media (min-width: 576px)
{
    .modal-dialog 
    {
        max-width: 700px;        
    }    
}
.el-select>.el-input>input::placeholder
{
    color: rgb(59, 59, 59) !important;
}

@media screen and (max-width: 425px)
{
    .wrapper_profile_control>div>strong 
    {        
        font-size: 10px;
    }
    .button-reception
    {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    #notificationWrapper
    {
        width:100% !important;
        right: 0;
    }
    #notificationWrapper:before
    {
        right: 46px;
    }
    .nav-bar.active, .main-app.active 
    {
        padding-left: 12px;
    }
    .side-nav.no-collapse 
    {
        width: 0px;
    }
}
.el-pagination 
{
    padding: 15px 5px !important;
}
.el-table td,
.el-table th 
{
    padding: 8px 0 !important;
}
table.el-table__body,
table.el-table__header 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.el-pagination .el-select .el-input .el-input__inner 
{
    padding-right: 25px;
    border-radius: 3px;
    font-weight: 500;
}
.el-pagination__editor.el-input .el-input__inner 
{
    height: 28px;
    font-weight: 500;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator
{
    font-weight:300;
}
@media screen and (max-width: 600px)
{
    .main-name-module
    {
        display: none;
    }
    .table-responsive-reception 
    {
        display: block;        
        overflow-x: auto;
    }
}

@media screen and (max-width: 770px) 
{
    #scene
    {
        left: 0% !important;
    }
}

.el-card__header
{
    position: relative;
}
.close-card-upreception
{
    position: absolute;
    right: 20px;
    top: 20%;
}


/* PARALLAX */
main {
	width: 100%;
	/* height: 100vh; */
	/* overflow: hidden; */
}

#scene {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
	top: 0;
	position: fixed;
	left: 10%;
}

.layer {
	width: 100%;
    height: 100%;
    position: relative
	/* overflow: hidden; */
}

.layer1,
.layer2,
.layer3,
.layer4 {
	background-size: 45%;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
    left: 0;
    background-repeat: no-repeat;
    top: 0;
    margin: 0 auto;
}

.layer2 {
	background-image: url(/src/textures/logos/isotipo-fade.png);
}

.vrc > .el-card__header
{
    padding-left: 1rem !important;
    padding-bottom: .5rem !important;
    padding-top: .5rem !important;
    padding-right: 1rem !important;
}

.list-reception-view > li > .el-divider--horizontal
{
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
}

.list-reception-view>li
{
    cursor: pointer;
    font-size: 13px;
}

.vrc > .el-card__body
{
    padding-bottom: 1rem !important;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    padding-top: 1rem !important;
}

.list-reception-view
{
    list-style: none;
}

.el-input--suffix .el-input__inner {
    padding-right: 30px;
    font-weight: 300;
}

.btn-secondary
{
    background: #6c757d !important;
}

.bg-btn {
    color: #fff;
    background-color: #5a6269 !important;
    border-color: #848887 !important;
}

.bg-btn:hover {
    background-color: #858a89 !important;
    border-color: #909292 !important;
}

.bg-btn:focus {
    background-color: rgb(90, 105, 102) !important;
    border-color: rgb(97, 107, 105) !important;
}

.el-popover
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    word-break: normal !important;
}

.swal2-popup .swal2-title
{
    font-size: 1.5em !important;
    font-weight: 500 !important;
}

.swal2-popup .swal2-styled
{
    font-weight: 300 !important;
}

.cont-upt
{
    position: absolute;
    right: 0;
    top: 5px;
    margin: 0 8px;
}






.bounce-in-bck {
    -webkit-animation: bounce-in-bck 1.1s both;
    animation: bounce-in-bck 1.1s both
}

.bounce-in-top 
{
	-webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both;
}

.text-pop-up-bottom {
    -webkit-animation: text-pop-up-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: text-pop-up-bottom .5s cubic-bezier(.25, .46, .45, .94) both
}

.focus-in-contract-bck {
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both
}

.roll-in-blurred-left {
    -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both
}

@-webkit-keyframes text-pop-up-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(50px);transform:translateY(50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}@keyframes text-pop-up-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(50px);transform:translateY(50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}

@-webkit-keyframes roll-in-blurred-left{0%{-webkit-transform:translateX(-1000px) rotate(-720deg);transform:translateX(-1000px) rotate(-720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes roll-in-blurred-left{0%{-webkit-transform:translateX(-1000px) rotate(-720deg);transform:translateX(-1000px) rotate(-720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

@-webkit-keyframes bounce-in-bck{0%{-webkit-transform:scale(7);transform:scale(7);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:scale(1.5);transform:scale(1.5);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:scale(1.24);transform:scale(1.24);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}89%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:scale(1.04);transform:scale(1.04);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-bck{0%{-webkit-transform:scale(7);transform:scale(7);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:scale(1.5);transform:scale(1.5);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:scale(1.24);transform:scale(1.24);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}89%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:scale(1.04);transform:scale(1.04);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

@-webkit-keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

@-webkit-keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}