*
{
    margin: 0;    
    padding: 0;
}
body 
{
    background: #fff;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
}
button
{
    outline: none !important;
}
.poppins-bold
{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
/* input[type=text], textarea 
{
    text-transform: uppercase;
} */
.el-select>.el-input>input::-webkit-input-placeholder
{
    color: rgb(59, 59, 59) !important;
}
.el-select>.el-input>input::-moz-placeholder
{
    color: rgb(59, 59, 59) !important;
}
.el-select>.el-input>input:-ms-input-placeholder
{
    color: rgb(59, 59, 59) !important;
}
.el-select>.el-input>input::-ms-input-placeholder
{
    color: rgb(59, 59, 59) !important;
}
.el-select>.el-input>input::placeholder
{
    color: rgb(59, 59, 59) !important;
}
.el-select>.el-input {
    display: block;
    font-family: 'poppins';
}
.el-select-dropdown .el-select-dropdown__list {
    padding: 0;
    font-family: 'Poppins';
    font-weight: 300;
}
.input-group>.form-control::-webkit-input-placeholder
{
    color: #969696;
}
.input-group>.form-control::-moz-placeholder
{
    color: #969696;
}
.input-group>.form-control:-ms-input-placeholder
{
    color: #969696;
}
.input-group>.form-control::-ms-input-placeholder
{
    color: #969696;
}
.input-group>.form-control::placeholder
{
    color: #969696;
}    
.el-input__inner
{
    border: 1px solid #ccc9db !important;
}
.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
.form-control 
{
    font-family: 'Poppins';
    height: calc(1.5em + .75rem + 4px) !important;
    font-weight: 300;
    border: 1px solid #969696;
}   
.el-input--suffix .el-input__inner {
    padding-right: 30px;
    font-weight: 300 !important;
}

.el-input__inner
{
    font-weight: 300 !important;
}

.swal2-popup .swal2-title
{
    font-size: 1.5em !important;
    font-weight: 500 !important;
}

.swal2-popup .swal2-styled
{
    font-weight: 300 !important;
}

.poppins-light
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300 !important;
}
.poppins
{
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif;
}

.sideM, .aside
{
    height: 100vh;
    width: 100px;
    position: fixed;
    z-index: 1;
    background: #fff;
}

.backdrop-b
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #34374178;
    z-index: 100;    
}

.aside
{
    width: 370px;
    left: 100px;
    z-index: 100;
}

.aside .cart i
{
    cursor: pointer;
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
}

.aside .cart i:hover, .remove-item:hover
{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #1b9ecd;
}

.sideM > ul
{
    height: 100vh;
    margin-bottom: 0;
    display: block;
    list-style: none;
}

.sideM > ul > li
{    
    width: 100%;
    outline: none;
    cursor: pointer;
}

.text-gradient
{
    background: -o-linear-gradient(30deg, #3b3b3b, #d5d5d5);
    background: linear-gradient(-300deg, #3b3b3b, #d5d5d5);
    -webkit-background-clip: text;
            background-clip: text;
    text-fill-color: transparent;
}

.sideM > ul a
{    
    font-size: 28px;
    outline: none;
    /* background: -webkit-linear-gradient(1800deg, #ffffff, #060606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #565656;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.ff .el-carousel__item:nth-child(1) 
{
    background-image: url('../img/back/1.jpg')
}

.ff .el-carousel__item:nth-child(2) 
{
    background-image: url('../img/back/2.jpg')
}

.ff .el-carousel__item:nth-child(3) 
{
    background-image: url('../img/back/3.jpg')
}

.ff .el-carousel__item
{
    background-size: cover;    
    background-position: center;    
}

.prod .el-carousel__item
{
    background-size: cover !important;
    background-position: center;    
    background-repeat: no-repeat;
}

/* @media screen and (max-width: 900px)
{
    .prod .el-carousel__item 
    {
        background-size: contain !important;
    }
} */

.body
{
    padding-left: 110px;
    padding-right: 10px;
    padding-top: 10px;
}

.shadow-c
{
    -webkit-box-shadow: 2px 0px 3px 0px #cecece71 !important;
            box-shadow: 2px 0px 3px 0px #cecece71 !important;    
}

.shadow-cc 
{
    -webkit-box-shadow: 0px 2px 3px 0px #cecece71 !important;
            box-shadow: 0px 2px 3px 0px #cecece71 !important;
}

.sideM .el-divider__text 
{        
    padding: 0 8px !important;   
    color: #6d7477;
}

.sideM .el-divider--horizontal 
{            
    margin: 8px 0px 10px 0;
}

.car > div.dd
{   
    position: absolute;
    z-index: 100;
    text-align: center;    
    display: inline-block;
    margin: 0 auto;
    letter-spacing: 4px;
    width: 98%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.car > div.dd > span:nth-child(1)
{
    font-size: 65px;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    font-weight: 900;
    color: #ffffff3d;
    z-index: 0;
}

.car > div.dd > span:nth-child(2)
{
    font-size: 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: -37px;
    font-weight: 300;
    color: #ffffff;
    z-index: 5;
}

a.aProd
{
    color: initial;
}

a.aProd:hover 
{
    text-decoration: none !important;
}

.card-prod:hover p.text-prod
{
    white-space: initial;
}

.card-prod div.ss
{
    overflow: hidden;
    height: 0;
}

.card-prod:hover div.ss
{
    height: auto;
}

.card-prod div.ss small
{
    opacity: 0;
    top: -30px;
    position: relative;    
    -webkit-transition: .4s all ease;    
    -o-transition: .4s all ease;    
    transition: .4s all ease;
}

.card-prod:hover div.ss small
{
    top: 0px;
    opacity: 1;    
}

.div-icons-prod
{
    /* overflow: hidden; */
    /* height: 0; */
    height: auto;
    padding: 0px 0px;
    margin-top: 0px;
}

.el-carousel__indicators--outside
{
    margin-top: 8px !important;
}

.div-icons-prod i:nth-child(1)
{
    -webkit-transition: .4s !important;
    -o-transition: .4s !important;
    transition: .4s !important;
}

.div-icons-prod i:nth-child(2)
{
    -webkit-transition: .8s !important;
    -o-transition: .8s !important;
    transition: .8s !important;
}

.div-icons-prod  i, i.icon-prod 
{
    position: relative;
    /* right: -45px;     */
    /* opacity: 0; */
    font-size: 17px;
    border-bottom: solid 1px #cecece61;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    right: 0px;
    opacity: 1;
}

.div-icons-prod  i:hover
{
    -webkit-box-shadow: 0px 3px 7px 0px #cececea6;
            box-shadow: 0px 3px 7px 0px #cececea6;
}

.card-prod:hover .div-icons-prod
{
    height: auto;
    padding: 3px 0px;
    margin-top: 6px;
}

.card-prod:hover .div-icons-prod  i
{    
    right: 0px;
    opacity: 1;
}

.el-tooltip__popper.is-dark 
{    
    background: #293245 !important;
}

.el-tooltip__popper .popper__arrow {    
    border-top-color: #595b5d;
}

.empty-cart
{
    max-height:100px;
    max-width: 100px;
}

.shadow-button
{
    /* box-shadow: 0px 4px 9px 0px #409effc2; */    
    -webkit-box-shadow: 0 14px 26px -12px rgba(0, 35, 255, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 35, 255, 0.2) !important;    
            box-shadow: 0 14px 26px -12px rgba(0, 35, 255, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 35, 255, 0.2) !important;
}

.shadow-button-h
{    
    -webkit-transition: all .4s cubic-bezier(0.22, 0.61, 0.36, 1) !important;    
    -o-transition: all .4s cubic-bezier(0.22, 0.61, 0.36, 1) !important;    
    transition: all .4s cubic-bezier(0.22, 0.61, 0.36, 1) !important;
}

.shadow-button-h:hover
{        
    -webkit-box-shadow: 0 14px 26px -12px rgba(0, 35, 255, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 35, 255, 0.2) !important;        
            box-shadow: 0 14px 26px -12px rgba(0, 35, 255, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 35, 255, 0.2) !important;
}

.active-item-side
{
    background: -webkit-linear-gradient(1800deg, #ffffff, #3390f1) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.cart-body .shopping-cart-items li {
    min-height: 85px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 0 20px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-body .shopping-cart-items img {
    float: left;
    max-height: 50px;
}

.cart-body .shopping-cart-items .item-meta {
    display: block;
    width: 60%;
    padding: 0 10px;
}

.cart-body .shopping-cart-items .item-name {
    display: block;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.cart-body .shopping-cart-items .item-price {
    color: #3390f1;
    margin-right: 8px;
}

.cart-body .shopping-cart-items .quantity {
    display: block;
    margin: 0 10px;
}

.cart-body .shopping-cart-items {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80vh;
    min-height: 60vh;
}

.cart-body .shopping-cart-items .remove-item {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-transition: all .45s;
    -o-transition: all .45s;
    transition: all .45s;
    opacity: 0;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
        transform: translateX(200px);
    background: #f9f9f9;
}

.cart-body .shopping-cart-items li:hover .remove-item {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
        transform: translateX(0);
}

.remove-item-i {
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.remove-item-i:hover {
    color: #1b9ecd;
}

.cart-body .cart-action {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 0 20px;
    height: 80px;
    background: #fcfcfc;
    border-bottom: 1px solid #ededed;
}

.cart-body .cart-action .cart-total {
    display: block;
    font-size: 1.7rem;
    color: #3591f0;
    font-weight: 600;
}

.cart-body .cart-action .cart-total small {
    font-size: 70%;
    font-weight: 600;
    padding-right: 5px;
}

.shopping-cart-items::-webkit-scrollbar
{
    width: 6px;
    background-color: transparent;
}
.shopping-cart-items::-webkit-scrollbar-thumb
{
    cursor: pointer;
    background-color: #92949563;
    border-radius: 10em;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}
.shopping-cart-items::-webkit-scrollbar-thumb:hover
{
    background-color: #81bbf6;
}

.cart-body .shopping-cart-items li:last-child {
    margin-bottom: 20px;
}

.account-title {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    padding-left: 30px;
    margin-top: 20px;
}

.account-title .brand-filigrane {
    position: absolute;
    top: -10px;
    left: 0;
    height: 50px;
    z-index: 0;
    opacity: 0.3;
}

.account-title h2
{
    font-weight: 400;
    letter-spacing: 2px;
    color: #5b6977;
    z-index: 1;
    text-transform: uppercase;
}

@media screen and (max-width:768px)
{
    .account-title .brand-filigrane {
        top: -10px !important;
        left: 0px !important;
        height: 50px !important;
    }
}

.order-list-card .order-block {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 10px 0;
}

.order-list-card .order-block img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.order-list-card .order-block .handled-by,
.order-list-card .order-block .status,
.order-list-card .order-block .date,
.order-list-card .order-block .total {
    margin: 0 10px;
}

.order-list-card .order-block .handled-by div:first-child,
.order-list-card .order-block .status div:first-child,
.order-list-card .order-block .date div:first-child,
.order-list-card .order-block .total div:first-child {
    font-size: .65rem;
    text-transform: uppercase;
    font-weight: 500;
}

.order-list-card .order-block .handled-by div:nth-child(2),
.order-list-card .order-block .status div:nth-child(2),
.order-list-card .order-block .date div:nth-child(2),
.order-list-card .order-block .total div:nth-child(2) {
    color: #828282;
}

.order-list-card .order-block .order-icon {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    height: 40px;
    width: 40px;
}

.order-list-card .order-block .handled-by,
.order-list-card .order-block .status,
.order-list-card .order-block .date,
.order-list-card .order-block .total {
    margin: 0 10px;
}

.order-list-card .order-block .handled-by div:nth-child(2).is-date,
.order-list-card .order-block .status div:nth-child(2).is-date,
.order-list-card .order-block .date div:nth-child(2).is-date,
.order-list-card .order-block .total div:nth-child(2).is-date {
    font-size: .85rem;
    font-weight: 500;
}

.order-list-card .order-block .handled-by div:nth-child(2).is-price,
.order-list-card .order-block .status div:nth-child(2).is-price,
.order-list-card .order-block .date div:nth-child(2).is-price,
.order-list-card .order-block .total div:nth-child(2).is-price {
    font-size: 1rem;
    font-weight: 500;
    color: #0023ff;
}

.order-list-card .table-block {
    margin-top: 20px;
}

.order-list-card .table-block table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.order-list-card .table-block table tr {
    background: #fcfcfc;
    border-bottom: 1px solid #ededed;
    padding: .35em;
}

.order-list-card .table-block table tr {
    background: #fcfcfc;
    border-bottom: 1px solid #ededed;
    padding: .35em;
}

.order-list-card .order-block .order-icon svg {
    stroke: #999;
    stroke-width: 1.4px;
    height: 20px;
    width: 20px;
}

.order-list-card .table-block table td {
    font-size: .75rem;
    font-weight: 500;
    color: #828282;
    padding: .825rem .625em !important;
}

.order-list-card .table-block table th,
.order-list-card .table-block table td {
    padding: .625em;
    text-align: center;
}

.order-list-card .button-block {
    margin-top: 20px;
}

.title-card-list
{
    color: #636060;
}

.el-tabs__content 
{
    overflow: initial !important;
    position: relative;
}

.pp
{
    top:8px;
}

.list-card ul li.is-active {
    color: #0023ff;
}

.list-card ul li {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    color: #999;
    font-size: 0.75rem;
    font-weight: 500;
    border-top: 1px solid #ededed;
}

.list-card ul li:first-child {
    border-top: none;
}

.list-card ul li:hover {
    background: #f9f9f9;
    color: #4a4a4a;
}

.list-card ul li .order-indicator {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    opacity: 0;
}

.list-card ul li.is-active .order-indicator {
    opacity: 1;
}

.el-progress.is-waiting > div > div > div
{
    background-color: #eda514;
}

.el-progress.is-ready > div > div > div
{
    background-color: #0023ff;
}

.el-progress.is-received > div > div > div
{
    background-color: #00b289;
}

.el-progress.is-delivered > div > div > div
{
    background-color: #000000;
}


.list-card .el-card__body 
{
    padding: 0px;
}

.lst-card .el-card__header
{
    background: #fafafa78;
}

.list-card ul li:hover .order-indicator {
    opacity: 0.8;
}

.list-card ul li .order-indicator.is-waiting {
    background: #eda514;
}

.list-card ul li .order-indicator.is-ready {
    background: #0023ff;
}

.list-card ul li .order-indicator.is-delivered {
    background: #000000;
}

.list-card ul li .order-indicator.is-received {
    background: #00b289;
}

.list-card ul li .order-indicator.is-reject {
    background: #db1811;
}

.el-tag--dark.el-tag--ready {
    background-color: #0023ff;
    border-color: #0023ff;
    color: #fff;
}

.el-tag--dark.el-tag--waiting {
    background-color: #eda514;
    border-color: #eda514;
    color: #fff;
}

.el-tag--dark.el-tag--delivered {
    background-color: #000000;
    border-color: #000000;
    color: #fff;
}

.el-tag--dark.el-tag--received {
    background-color: #00b289;
    border-color: #00b289;
    color: #fff;
}

.el-tag--dark.el-tag--reject {
    background-color: #db1811;
    border-color: #db1811;
    color: #fff;
}

.cart-summary {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 20px;
}

.cart-summary .cart-total {
    font-size: 1.6rem;
    font-weight: 600;
}

.cart-summary .cart-total:before {
    content: '$';
    font-size: 60%;
    position: relative;
    left: 8px;
}

.cart-summary .cart-total small {
    display: block;
    font-size: .8rem;
    color: #0023ff;
    font-weight: 500;
    text-align: right;
}

.cart-summary a.el-button
{
    text-decoration: none
}

.el-input-number .el-input__inner
{
    font-weight: 300 !important;
}

span.el-image-viewer__btn.el-image-viewer__close {
    color: #fff;
    opacity: 1;
}

.shopping-cart {
    width: 100%;
    background: #FFFFFF;
    border-radius: 6px;
   
    display: -webkit-box;
   
    display: -ms-flexbox;
   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
   
  .itemm {
    padding: 20px 30px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
   
  .itemm:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }

  .buttons {
    position: relative;
    /* padding-top: 30px; */
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .delete-btnn,
  .like-btnn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btnn {
    width: 18px;
    height: 17px;
    background: url('/img/delete-icn.svg') no-repeat center;
  }
  .is-active {
    -webkit-animation-name: animate;
            animation-name: animate;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
            animation-timing-function: steps(28);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
   
  @-webkit-keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }

  .image {
    margin-right: 50px;
    width: 110px;
  }

  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }

  .quant {
    padding-top: 10px;
    margin-right: 60px;
  }
   
  button[class*=btnn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }

  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
    }
    .itemm {
      height: auto;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .image img {
      width: 100%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
      padding: 20px 0px;
      width: 100%;
    }    
  }

  @media (max-width:500px)
  {
    .quant
    {
        margin-right: 0px;
    }
  }

.product-price span.pp
{
    font-size: 1.2rem;
    font-weight: 600;
    color: #0023ff;
    width: 100px;
}

.num-text
{
    font-size: 1.2rem;
    font-weight: 600;
    color: #0023ff;
}

.product-price span:first-child {
    font-weight: 600;
    font-size: .75rem;
    text-transform: uppercase;
    color: #4a4a4a;
}

.product-price
{
    display: block;
}

.product-panel {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 102px;
    height: 100%;
    z-index: 0;
    min-height: 100vh;
    width: 40%;
    background: #fff;
    -webkit-box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.06);
            box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.06);
    z-index: 1;
}

.product-panel .product-image {
    padding: 8% 0;
    text-align: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
}

.product-panel .product-image .imgg > img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    margin: 0 auto !important;
    cursor:zoom-in;
}

.prevII
{
    z-index:-1;
}

.product-panel .panel-header {
    line-height: 20px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 40px 0;
    padding-top: 40px;
    position: relative;
    z-index: 15;
}

.product-info-panel .inner-panel {
    height: 100%;
}

.product-info-panel .inner-panel .panel-header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 40px 0;
    z-index: -1;
}

.product-panel .panel-header .points {
    margin: 0 30px;
}

.product-panel .panel-header .points span:first-child {
    font-size: 1.2rem;
    font-weight: 600 !important;
    color: #999;
}

.product-panel .panel-header .points span:last-child {    
    color: #999;
}

.details-carousel-for .slick-prev:before, .slick-next:before { 
    color: #848a8d;
}


@media (max-width: 768px)
{
    .it > img
    {
        height: 200px !important;
    }

    .itt > img
    {
        width: 70px;
    }

    .itt
    {
        height: 70px;
    }

    .product-panel {
        left: 0px;
        display: block;
        position: relative;
        width: 100%;
        min-height: 75vh;
        /* margin-left: 0; */
        /* margin: 0 auto; */
        top: -10px;
    }
    .product-info-panel {
        display: block;
        position: relative !important;
        width: 100% !important;
    }

    .product-panel .panel-header .points {
        margin: 0 auto;
    }

    .product-panel .product-image img {
        max-width: 100%;
        margin: 0 auto !important;
    }

    .product-panel .product-image {
        padding: 8% 0;
        text-align: center;
        position: relative;
        width: 97%;
        margin: 0;
        padding-top: 0;
    }

    .product-info-panel .inner-panel .panel-body
    {
        padding: 40px;
        padding-top: 0px;
    }
}

@media (max-width:600px)
{
    .product-info-panel .inner-panel .panel-body
    {
        padding: 15px !important;
    }
    .details-carousel-for.slick-initialized.slick-slider.slick-dotted
    {
        width: 100% !important
    }
}

@media (max-width:425px)
{
    .product-info-panel .inner-panel .panel-body
    {
        padding: 10px !important;
    }
}

.ui-icon--content > i
{
    font-size: 25px;
}

.product-info-panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 100vh;
    width: 59%;
    background: #f0f0f021;
}

.product-info-panel .inner-panel .panel-header .category-title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 3px;
    color: #4a4a4a;
}

.product-info-panel .inner-panel .panel-header .category-title {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    padding: 0 125px;
}

.product-info-panel .inner-panel .panel-body {
    padding: 30px 30px 60px 120px;
}

.product-info-panel .inner-panel .panel-body .product-name {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 600;
    color: #409eff;
}

.product-info-panel .inner-panel .panel-body .product-name span {
    font-family: 'Poppins', sans-serif;
    color: #999;
    font-size: 50%;
    font-weight: 500;
}

.product-info-panel .inner-panel .panel-body .product-controls .add-to-cart button {
    line-height: 0;
    font-size: 0.75rem;
    font-weight: 600;
    margin-left: 0px;
}

.product-info-panel .inner-panel .panel-body .product-description {
    padding-top: 20px;
    color: #999;
}

.product-info-panel .inner-panel .panel-body .product-controls {
    padding-top: 0px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: baseline;
    -webkit-box-align: baseline;
            align-items: baseline;
    -ms-flex-pack: start;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
}

.product-info-panel .inner-panel .panel-body .product-controls .product-price {
    position: relative;
}

.product-info-panel .inner-panel .panel-body .product-controls .product-price .heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 5px 0;
}

.product-info-panel .inner-panel .panel-body .product-controls .product-price .value {
    font-size: 1.6rem;
    font-weight: 700;
    color: #409eff;
}

.product-info-panel .inner-panel .panel-body .product-controls .product-price .value-discount {    
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0;
    color: #999;
    text-decoration: line-through;
}

.product-info-panel .inner-panel .panel-body .product-controls .product-quantity {
    margin-left: 0;
}

.product-info-panel .inner-panel .panel-body .product-controls .product-quantity .heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 5px 0;
    text-align: center;
}

/* .it > img
{
    height: 300px !important;
} */

.heading {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.product-quantity .control {
    font-size: 1rem;
    position: relative;
    text-align: left;
}

.product-info-panel .inner-panel .panel-body .product-controls .product-quantity .control {
    height: 48px;
    max-width: 80px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.details-carousel-for.slick-initialized.slick-slider.slick-dotted
{
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}

.details-carousel-for
{
    width: 96%;
    margin: 0 auto;
}

.num-details
{
    border: solid 1px #d6d6d6;
    background: #fff;
    width: 70px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 4px 0px #5f5f5f29;
            box-shadow: 0px 2px 4px 0px #5f5f5f29;
    padding: 3px 8px;
    font-size: 15px;
    font-weight: 500;
    color: #6b6a6a;
}

.pay-methods-row{
    position: relative;
    padding-left: 32px;
}

.ui-icon--content {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    left: 0;
    top: 0;
}

.pay-methods-row p {
    margin: 0;
    color: #333;
    font-weight: 400;
}

.payments-small {
    background: url(https://http2.mlstatic.com/secure/payment-logos/v2/payment-logos-mco-small_v_fde33692ba.png) no-repeat;
}

._visa-small {
    width: 34px;
    height: 11px;
    background-position: left -143px;
}

.pay-methods-row .cardd {
    display: inline-block;
    vertical-align: middle;
    margin: 4px 0 2px;
}

.pay-methods-row .cardd+.cardd {
    margin-left: 4px;
}

._pse-small {
    width: 48px;
    height: 19px;
    background-position: left 0px;
}

._master-small {
    width: 29px;
    height: 24px;
    background-position: left -81px;
}

._amex-small {
    width: 22px;
    height: 19px;
    background-position: left -60px;
}

.el-textarea__inner
{
    font-weight: 300;
    border: 1px solid #ccc9db !important;
} 

@media (max-width: 425px)
{
    .product-info-panel .inner-panel .panel-body .product-controls
    {
        display: block !important;
    }
}

.cart-image
{
    width: 120px;
}


.fielset
{
    position: relative;
}

[data-quantity] input {
    font-size: 18px;
    height: 3rem;
    padding: 0 3rem;
    border-radius: 2rem;
    border: 0;
    background: #fff;
    color: #222;    
    -webkit-box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.18), 0 0 4px #90909000;    
            box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.18), 0 0 4px #90909000;
    text-align: center;
    width: 130px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: lighter;
    -webkit-transition: .2s ease-in all;
    -o-transition: .2s ease-in all;
    transition: .2s ease-in all;
  }
  
  [data-quantity] input:focus {
    outline: none;
    -webkit-box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
            box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  }
  
  [data-quantity] input[type=number]::-webkit-inner-spin-button,
  [data-quantity] input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  [data-quantity] input[type=number] {
    -moz-appearance: textfield;
  }
  
  [data-quantity] button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0.5rem;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    background: #fff
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><path d="M17 25h16M67 25h16M75 17v16" fill="none" stroke="rgb(59,69,66)" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" /></svg>')
    no-repeat 0 0;
    background-size: 5.6rem 2.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    border-radius: 1.4rem;
    cursor: pointer;
    -webkit-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    transition: opacity 0.15s;
    opacity: 0.5;
  }
  
  [data-quantity] button:active {
    background-position-y: -0.25em !important;
    -webkit-box-shadow: inset 0 2px 12px -4px #c5d1d9;
            box-shadow: inset 0 2px 12px -4px #c5d1d9;
  }
  
  [data-quantity] button:focus {
    outline: none;
  }
  
  [data-quantity] button:hover {
    opacity: 1;
  }
  
  [data-quantity] button.sub {
    left: 0.6rem;
    background-position-y: -5px;
    background-position-x: -5px;
  }

  [data-quantity] button.add {
    right: 0.6rem;
    background-position-x: -3.2rem;
    background-position-y: -0.3em;
  }
  
  .tile.has-background-image .tile-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(131, 137, 140, 0.55) !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 0;
}

/* @media (min-width: 769px)
{ */
    .tile:not(.is-child) {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;  
    }
/* } */

@media (max-width: 768px)
{
    .catPD > .el-dialog
    {
        width: 95% !important;
    }
}

.tile.has-min-height {
    min-height: 280px;
}

.tile.has-background-image {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 1.25rem 2rem;
}

.tile.has-background-image .tile-content {
    position: relative;
    height: 100%;
    z-index: 2;
}

.tile.has-background-image .tile-content .shop-category {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 3px;
}

.category-header h2 {
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    line-height: 1.2;
    text-transform: uppercase;
}

.tile.has-background-image .tile-content .divider {
    height: 1.4px;
    background: #fff;
    width: 0%;
    min-width: 0px;
    margin: 10px 0;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}

.tile.has-background-image .tile-content p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
        transform: translateY(20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-size: .9rem;
}

.tile.has-class
{
    width: 100%;
}

.tile.has-background-image .tile-content p.desc {
    font-weight: 300;
    font-size: .85rem;
    font-family: 'Poppins', sans-serif;
}

.tile.has-background-image .tile-content p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
        transform: translateY(20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-size: .9rem;
}

.tile.has-background-image .tile-content .action span {
    font-family: 'Poppins', sans-serif;
    font-size: .75rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none !important;
}

.tile.has-background-image .tile-content .action svg 
{
    width: 16px;
    height: 16px;
    stroke: #fff;
    opacity: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
        transform: translateX(0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.tile.has-background-image .tile-content .action:hover svg {
    opacity: 1;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
        transform: translateX(5px);
}

.tile.has-background-image .tile-content .action:hover {
    opacity: 0.7;
}

.tile.has-background-image .tile-content .products {
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
        transform: translateY(20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: .1s;
         -o-transition-delay: .1s;
            transition-delay: .1s;
}

.tile.has-background-image .tile-content .action {
    position: absolute;
    right: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-size: 13px;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    text-decoration:none;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
        transform: translateY(50px);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .15s;
         -o-transition-delay: .15s;
            transition-delay: .15s;
}

.tile.has-background-image:hover .tile-content .divider {
    width: 100% !important;
}

.tile.has-background-image:hover .tile-content p, .tile.has-background-image:hover .tile-content .products, .tile.has-background-image:hover .tile-content .action {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
        transform: translateY(0);
}

.tile.has-background-image:hover .tile-overlay {
    background: rgba(0,0,0,0.70) !important;
}

.el-dialog__title 
{
    line-height: 24px;
    font-size: 20px;
    color: #303133;
    font-weight: 500;
}

.categoriesD .el-dialog__body 
{
    padding: 10px 20px !important;    
    display: -ms-grid;    
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

@media (max-width: 769px)
{
    .categoriesD .el-dialog__body 
    {        
        -ms-grid-columns: 1fr 5px 1fr;        
        grid-template-columns: repeat(2, 1fr);        
    }   
}

@media (max-width: 426px)
{
    .categoriesD .el-dialog__body 
    {        
        -ms-grid-columns: 1fr;        
        grid-template-columns: repeat(1, 1fr);        
    }   
}

.loadD
{
    font-size: 30px;
}








































































.owl-carousel .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    /* background: #D6D6D6; */
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-carousel .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none;
}

.owl-carousel .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-carousel .owl-nav.disabled+.owl-dots {
    margin-top: 10px;    
}

.owl-carousel .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none !important;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
    background: #869791;
}

.owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.btn-carousel {
    z-index: 100;
    position: absolute;
    right: 30px;
}

.owl-carousel .owl-dots {
    margin-top: 0px;
}

.owl-carousel .owl-dots .owl-dot span {
    height: 10px;
    width: 10px;
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
    -webkit-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
    transition: .2s all ease-in;
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
    background: #1c1a1a;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2)
}

.slide-in-blurred-left {
    -webkit-animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.focus-in-contract-bck {
    -webkit-animation: focus-in-contract-bck 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract-bck 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.swing-in-left-fwd {
    -webkit-animation: swing-in-left-fwd 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-left-fwd 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.fade-in{-webkit-animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) both}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}


@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.el-tooltip__popper
{
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: initial;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.el-tooltip__popper[x-placement^=top] .popper__arrow {
    bottom: -6px;
    border-top-color: #293245 !important;
    border-bottom-width: 0
}

.el-tooltip__popper[x-placement^=top] .popper__arrow::after {
    bottom: 1px;
    margin-left: -5px;
    border-top-color: #293245 !important;
    border-bottom-width: 0
}

.el-tooltip__popper[x-placement^=bottom] {
    margin-top: 12px
}

.el-tooltip__popper[x-placement^=bottom] .popper__arrow {
    top: -6px;
    border-top-width: 0;
    border-bottom-color: #293245 !important
}

.el-tooltip__popper[x-placement^=bottom] .popper__arrow::after {
    top: 1px;
    margin-left: -5px;
    border-top-width: 0;
    border-bottom-color: #293245 !important
}

.el-tooltip__popper[x-placement^=right] {
    margin-left: 12px
}

.el-tooltip__popper[x-placement^=right] .popper__arrow {
    left: -6px;
    border-right-color: #293245 !important;
    border-left-width: 0
}

.el-tooltip__popper[x-placement^=right] .popper__arrow::after {
    bottom: -5px;
    left: 1px;
    border-right-color: #293245 !important;
    border-left-width: 0
}

.el-tooltip__popper[x-placement^=left] {
    margin-right: 12px
}

.el-tooltip__popper[x-placement^=left] .popper__arrow {
    right: -6px;
    border-right-width: 0;
    border-left-color: #293245 !important
}

.el-tooltip__popper[x-placement^=left] .popper__arrow::after {
    right: 1px;
    bottom: -5px;
    margin-left: -5px;
    border-right-width: 0;
    border-left-color: #293245 !important
}

.el-tooltip__popper.is-dark {
    background: #293245 !important;
    color: #FFF
}

.el-tooltip__popper.is-light {
    background: #FFF;
    border: 1px solid #293245 !important
}

.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
    border-top-color: #293245 !important
}

.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow::after {
    border-top-color: #FFF
}

.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #293245 !important
}

.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #FFF
}

.el-tooltip__popper.is-light[x-placement^=left] .popper__arrow {
    border-left-color: #293245 !important
}

.el-tooltip__popper.is-light[x-placement^=left] .popper__arrow::after {
    border-left-color: #FFF
}

.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow {
    border-right-color: #293245 !important
}

.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow::after {
    border-right-color: #FFF
}




    /* STYLES NAV */
.nav-bar
{
    width: 100%;
    padding: 5px;    
    -webkit-box-shadow: 0 0 19px 0px rgba(0, 0, 0, 0.25);    
            box-shadow: 0 0 19px 0px rgba(0, 0, 0, 0.25);
    /* background: #535353; */
    border-bottom: 2px solid #7f7f7f;
    background: #fff;
    position: fixed;
    z-index: 1;
    padding-left: 275px;
} 
.nav-bar.active, .main-app.active
{
    padding-left: 70px;
}
.more-items-nav.active
{
    -webkit-animation-fill-mode: initial !important;
            animation-fill-mode: initial !important;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg)
}
.wrapper_nav_control > a, .wrapper_profile_control > a
{
    height: 30px;
    width: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff  !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}
.wrapper_nav_control > a:active, .wrapper_profile_control > a:active
{
    -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
            transform: scale(.8);
}
.wrapper_nav_control > a:hover, .wrapper_profile_control > a:hover
{
    background: #fff!important;
    color: #585858 !important;
}
.wrapper_nav_control > .divider
{
    height: 25px;
    border-color: #0b325e !important;
}
.bg-dark 
{
    background-color: #565656!important;
} 
.nav-bar, .main-app
{
    -webkit-transition: .5s cubic-bezier(1, -0.08, 0, 1.24);
    -o-transition: .5s cubic-bezier(1, -0.08, 0, 1.24);
    transition: .5s cubic-bezier(1, -0.08, 0, 1.24);
}
.wrapper_nav_control > a, .wrapper_profile_control > a
{
    height: 30px;
    width: 30px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff  !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}
.wrapper_nav_control > a:active, .wrapper_profile_control > a:active
{
    -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
            transform: scale(.8);
}
.wrapper_nav_control > a:hover, .wrapper_profile_control > a:hover
{
    background: #fff!important;
    color: #585858 !important;
}
.wrapper_nav_control > .divider
{
    height: 25px;
    border-color: #0b325e !important;
}
.profile-photo
{
    width: 40px;
    border:solid 2px #fff;
    border-radius: 50%;
    /* height: 40px; */
}
.bg-dark 
{
    background-color: #565656!important;
}
.bg-dark-blue
{
    background: #0b325e;
}
.text-dark-blue 
{
    color: #0b325e;
}
.d-inline-grid
{
    display: -ms-inline-grid;
    display: inline-grid;
}
.n-r
{
    line-height: 15px;
    text-align: end;
    font-size: 14px;
}
.wrapper_profile_control
{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.btn
{
    font-weight: 500 !important;
}  
.main-name-module {
    font-size: 16px;
}
.text-dark {
    color: #343a40!important;
}
.focus-in-contract-bck {
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both;
}

input.el-range-input {
    font-weight: 500;
}

.modal-info-seller .el-dialog__body
{
    padding: 15px 20px;
}

.modal-info-seller > div:first-child
{
    width: 95%;
}

.el-pagination
{
    padding-top: 15px !important;
}

.el-table__expanded-cell[class*=cell] {
    padding: 20px 20px !important;
}

.v-modal
{
    z-index: 8 !important;
}

.el-dialog__wrapper
{
    z-index: 10 !important;
}