<template>
    <div class="cont">
        <navec-component></navec-component>
        <div class="container" style="top:63px;position:relative" >
            <div class="mb-2 px-1 " v-if="formAddCat == false"> 
                <h4 class="mt-0 mb-1 poppins">Registrar Producto</h4>
                <hr class="mt-0 mb-2">
                <el-form  :model="dataPro" ref="dataPro"  class="form-row">
                    <div class="col-12 col-lg-6 mb-2 col-md-6">
                        <label for="" class="poppins" >Código</label>
                        <el-input type="text" name="code" v-model="dataPro.code" @change="valCodeProduct"></el-input>
                        <div class="poppins"  v-if="validations.valCodePro.status">
                            <p class="text-danger poppins feedback">{{ validations.valCodePro.text }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-2 col-md-6">
                        <label for="" class="poppins" >Registro sanitario</label>
                        <el-input type="text" name="regsanitary" v-model="dataPro.sanitaryReg"></el-input>
                    </div>

                    <div class="col-12 col-lg-6 mb-2 col-md-6">
                        <label for="" class="poppins" >Nombre</label>
                        <el-input type="text" name="name" v-model="dataPro.name"></el-input>
                    </div>

                    <div class="col-12 col-lg-6 mb-2 px-1 col-md-6 ">
                    <label for="" class="poppins" >Slogan</label>
                    <el-input type="text" name="slogan" v-model="dataPro.slogan"></el-input>
                    </div>

                    <div class="col-12 mb-2 col-lg-6 my-1 px-1 col-md-6" >
                        <label for="" class="poppins">descripción</label>
                        <el-input type="textarea" :autosize="{ minRows: 3, maxRows: 8}" name="description" v-model="dataPro.description"></el-input>
                    </div>
                    <div class="col-12 mb-2 col-lg-6 my-1 px-1 col-md-6">
                        <label for="cat" class="poppins">Categoría:</label>                  
                        <el-select v-model="dataPro.category" class="col-lg-12 pl-0 mx-0 px-0 mb-1" placeholder="Selecione una categoria" name="category">
                            <el-option v-for="(cat,index) in category" :key="index" :label="cat.name" :value="cat._id"></el-option>
                        </el-select>
                        <div class="col-2 mb-2 col-lg-2" style="padding-top:-0.6rem;margin-left:-0.9em">
                            <el-button type="info" size="mini" @click="formAddCat = true">Crear Categoría</el-button>
                        </div>            
                    </div>
                    
                    <div class="col-12 mb-2 col-lg-4 px-1 col-md-4" >
                        <label for="" class="poppins">Precio público </label>
                        <el-input type="text" name="public" v-model="dataPro.prices.public" @change="valFieldsNum('public')"></el-input>
                        <div class="poppins"  v-if="validations.valPP.status">
                                <p class="text-danger poppins feedback">{{ validations.valPP.text }}</p>
                        </div>
                    </div>

                    <div class="col-12 mb-2 col-lg-4 px-1 col-md-4" >
                        <label for="" class="poppins">Precio afiliado </label>
                        <el-input type="text" name="rec" v-model="dataPro.prices.rec" @change="valFieldsNum('rec')"></el-input>
                        <div class="poppins"  v-if="validations.valPR.status">
                                <p class="text-danger poppins feedback">{{ validations.valPR.text }}</p>
                        </div>
                    </div>

                    <div class="col-12 mb-2 col-lg-4 px-1 col-md-4">
                        <label for="" class="poppins">Stock </label>
                        <el-input type="text" name="stock" v-model="dataPro.stock" @change="valFieldsNum('stock')"></el-input>    
                        <div class="poppins"  v-if="validations.valSTK.status">
                                <p class="text-danger poppins feedback">{{ validations.valSTK.text }}</p>
                        </div>
                    </div>

                    <div class="col-12 mb-2 col-lg-12 px-1 col-md-12">
                        <hr>
                        <p class="text-secondary poppins-light">Subir imagenes de productos (max. 4 imagenes y que contengan el mismo ancho y alto)</p>
                    </div>

                    <div class="col-12 mb-2 col-lg-12 px-1 col-md-12">
                        <el-upload
                        action="/product/postTempData"
                        list-type="picture-card"
                        :before-upload="ValUploadImg"
                        :on-preview="handlePictureCardPreview"
                        :on-remove="handleRemove" 
                        :on-change="view"
                        :on-exceed="handleExceed" 
                        ref="images" multiple :limit="4">
                        <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVisible">
                        <img width="100%" :src="dialogImageUrl" alt="">
                        </el-dialog>
                    </div>
                            <!-- <el-button @click="view">ver</el-button> -->
                            <!-- <div class="form-group">
                            <label for="exampleFormControlFile1">subir imagenes</label>
                            <input type="file" name="images" id="images" class="form-control-file" ref="images" @change="viewe" multiple>
                        </div> -->
                    <div class="col-lg-12 item-center text-center">            
                        <el-button type="primary" :loading="response.charginButton" :disabled="response.charginButton" effect="dark" class="bg-btn poppins" @click.prevent="valInputsProd">Registrar</el-button>            
                    </div>    
                </el-form>
                </div>
            <div class="col-12 mb-2 col-lg-12 px-1 col-md-12 form-row" v-if="formAddCat">
                    <div class="col-12 mb-2 col-lg-12 px-1 col-md-12">
                    <hr>
                    </div>
                    <!---------------- Form Category-------------------------->
                    <div class="col-12 mb-1 col-lg-12 px-1 col-md-12">
                        <span class="poppins catTitle">Nueva categoría</span><span class="float-right"><el-button plain type="info" icon="el-icon-close"  @click="formAddCat = !formAddCat" size="small"></el-button></span>
                    </div>
                    <div class="col-12 mb-2 col-lg-12 px-1 col-md-12 row">
                        <el-form  :model="dataCat" ref="dataCat"  class="form-row mt-3">
                            <div class="col-12 col-lg-6 px-1 col-md-6 ">
                                <label for="" class="poppins">Nombre</label>
                                <el-input type="text"  name="namecat" v-model="dataCat.name"></el-input>
                            </div>
                            <div class="col-12 col-lg-6 px-1 col-md-6 ">
                                <label for="" class="poppins">Subtitulo</label>
                                <el-input type="text"  name="namecat" v-model="dataCat.subName"></el-input>
                            </div>
                            <div class="col-12 mb-2 col-lg-6 px-1 col-md-6 mt-2" >
                                <label for="" class="poppins">descripción</label>
                                <el-input type="textarea" name="descriptioncat" :autosize="{ minRows: 5, maxRows: 8}"  v-model="dataCat.description"></el-input>
                            </div>
                            <div class="col-12 mb-2 col-lg-6 px-1 col-md-6 mt-2 text-center">
                                <div><p class="poppins">Subir imagen</p></div>
                                <el-upload
                                action="/product/postTempData"
                                class="avatar-uploader uploadcat"
                                :show-file-list="false"
                                :on-success="handlePictureCat"
                                :before-upload="ValUploadCatImg"
                                :on-change="viewImgCat" ref="imgcat" name="imgcat" id="imgcat">
                                    <div v-if="imageUrl">
                                    <img :src="imageUrl" class="avatar">
                                    <!-- <el-button icon="el-icon-zom-in" @click="handlePictureCatPreview" size="mini"></el-button>  -->
                                    </div>
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>  
                                <el-button-group>
                                        <el-button icon="el-icon-delete" @click="handleRemoveCat" size="mini" v-if="imageUrl != ''"></el-button>
                                    </el-button-group>
                                <!-- <el-dialog :visible.sync="dialogVisibleCat">
                                <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>          -->
                            </div>
                            <div class="col-lg-12 item-center text-center">            
                                <el-button type="primary" :loading="response.cat.charginButton" :disabled="response.cat.charginButton" effect="dark" class="bg-btn poppins" @click.prevent="valInputsCat">Registrar</el-button>            
                            </div> 
                        </el-form>
                    </div>
                    <div class="col-12 mb-2 col-lg-12 px-1 col-md-12">
                    <hr>
                    </div>
                </div>
                <!---------------- End Form Category--------------------------> 
                <el-dialog title="" top="20vh" 
                :visible.sync="response.charginButton"
                :close-on-click-modal="outModal" 
                :close-on-press-escape="escModal"
                :show-close="closeLoading"
                 >
                    <div class="text-center" slot="title">
                        <span class="poppins-bold text-secondary">Procesando ...</span>
                    </div>
                    <div class="text-center" v-loading="response.charginButton">
                          <p class="poppins">Registrando producto...</p>  
                    </div>
                </el-dialog>
                <el-dialog title="" top="20vh" 
                :visible.sync="response.cat.charginButton"
                :close-on-click-modal="outModal" 
                :close-on-press-escape="escModal"
                :show-close="closeLoading"
                 >
                    <div class="text-center" slot="title">
                        <span class="poppins-bold text-secondary">Procesando ...</span>
                    </div>
                    <div class="text-center" v-loading="response.cat.charginButton">
                          <p class="poppins">Registrando Categoría...</p>  
                    </div>

                </el-dialog>
            </div>
    </div>  
</template>
<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .feedback {
      font-size: 13px;
  }
  .catTitle{
      font-size: 22px;
  }
  .uploadcat{
     margin-top: -0.5em; 
  }
  </style>
<script>
import { fileURLToPath } from 'url';
let datap = {
    name:'',
    code:'',
    sanitaryReg:'',
    description:'',
    slogan:'',
    prices:{
        public:'',
        rec:''
    },
    stock:'',
    images:[],
    category:''
}
let datac = {
    name:'',
    subName:'',
    description:'',
    image:''
}
export default {
    data() {
        return {
            dataPro:datap,
            dataCat:datac,
            imgprod:'',
            imgcat:'',
            category:[],
            formAddCat:false,
            response:{
                cat:{
                   charginButton:false 
                },
                charginButton:false
            },
            fileList:[],
            dialogImageUrl: '',
            dialogImageUrlCat: '',
            imageUrl: '',
            dialogVisible: false,
            dialogVisibleCat: false,
            disabled: false,
            imglist:null,
            imgcat:null,
            stimgcat:true,
            filecat:null,
            validations:{
              valPP:{
                  text:'',
                  status:null
              },
              valPR:{
                  text:'',
                  status:null
              },
              valSTK:{
                  text:'',
                  status:null
              },
              valCodePro:{
                  text:'',
                  status:null
              }   
            },
            outModal:false,
            escModal:false,
            closeLoading:false
        }      
    },
    watch: {
       'formAddCat': function(val){
           if(val == false) {
                this.dataCat.name = ''
                this.dataCat.subName = ''
                this.dataCat.description = ''
                this.dataCat.images = ''
                this.$refs.imgcat.clearFiles()
                this.imgcat = null
                // console.log(this.dataCat)
                this.imageUrl= ''
           }
       } 
    },
    mounted() {
        this.getCategorys()
        
    },
    methods: {
        getTempFile() {
            axios.post('/product/temfile').then((resp) => {
                // console.log(resp.data.data)
            })
        },
        getCategorys() {
            this.category = []
            axios.post('/product/category/getAll').then((resp) => {
                let data = resp.data.data
                // console.log(data)
                if(resp.data.status == 'success')
                {
                    for (let index = 0; index < data.length; index++) {
                        this.category.push(data[index])
                        
                    }
                }
            })
        },
        progressBar(file,filelist) {

        },
        handleExceed(files, fileList) {
        this.$message.warning(`Solo se pueden cargar 4 imagenes, haz seleccionado ${files.length} imagenes esta vez`);
        },
        handleRemove(file,filelist) {          
        // console.log(file,filelist);
        },
        handlePictureCardPreview(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        },
        handleRemoveCat() {
        // let d = this.$refs.imgcat.clearFiles()
        this.imageUrl = ''
        // this.imageUrl= URL.revokeObjectURL(this.imageUrl)
        // this.imageUrl = ''
        },
        handlePictureCatPreview(file) {
            this.dialogImageUrlCat = URL.createObjectURL(this.filecat);
            this.dialogVisibleCat = true;
        },
        handlePictureCat(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
        this.filecat = file.raw
        // console.log('link:',this.imageUrl)
        },
        ValUploadCatImg(file){
            const isTYPE = file.type === 'image/jpeg' || file.type === 'image/jpg' || file.type === 'image/png';
            const isLt1M = file.size / 1024 / 1024 < 1;
            if (!isTYPE) {
                this.$message.warning('La imagen debe estar en formato JPG o PNG JPEG!');
            }
            if(!isLt1M) {
                 this.$message.warning('La imagen debe pesar menos de 1MB!');
            }

    
            return isTYPE && isLt1M;
        },
        ValUploadImg(file){
            const isTYPE = file.type === 'image/jpeg' || file.type === 'image/jpg' || file.type === 'image/png';
            const isLt1M = file.size / 1024 / 1024 < 1;
            if (!isTYPE) {
                this.$message.warning('La imagen debe estar en formato JPG, PNG o JPEG!');
            }
            if(!isLt1M) {
                 this.$message.warning('La imagen debe pesar menos de 1MB!');
            }
            return isTYPE && isLt1M;
        },
        view(file,filelist)
        {
            this.fileList = []
            this.imglist = filelist
            for (let index = 0; index < this.imglist.length; index++) {
            
                this.fileList.push(this.imglist[index].raw)
            }
        },
        viewImgCat(file,filelist){ 
            if(file)
            {
                this.imgcat = file.raw
                // console.log(this.imgcat)
            }
            
        },
        valCodeProduct() {
            if(this.dataPro.code != '')
            {
                axios.post('/product/valCodePro',{data:this.dataPro.code}).then((resp) => {
                    if(resp.data.status == 'success')
                    {
                        this.validations.valCodePro.status = true
                        this.validations.valCodePro.text = 'Hay un producto registrado con este código'
                    }
                    else
                    {
                       this.validations.valCodePro.status = null
                       this.validations.valCodePro.text = '' 
                    }
                })
            }
        },
        valNumber(n){
            var num = /^([1-9][0-9]*)$/.test(n)
              return num
        },
        valFieldsNum(type) {
            let pp = this.dataPro.prices.public
            let pr = this.dataPro.prices.rec
            let stk = this.dataPro.stock
            if(type == 'public')
            {   
                if(pp != '' && (this.valNumber(pp) == false || pp <= 0))
                {
                    this.validations.valPP.text = 'Precio inválido. Deber ser una cantidad númerica entera y mayor que "0"'
                    this.validations.valPP.status = true
                }
                else
                {
                    this.validations.valPP.text = ''
                    this.validations.valPP.status = null
                }        
            }
            else if(type == 'rec')
            {
                if(pr != '' && (this.valNumber(pr) == false || pr <= 0))
                {
                    this.validations.valPR.text = 'Precio inválido. Deber ser una cantidad númerica entera y mayor que "0"'
                    this.validations.valPR.status = true
                }
                else
                {
                    this.validations.valPR.text = ''
                    this.validations.valPR.status = null
                }
            }
            else if(type == 'stock')
            {
                if(stk != '' && (this.valNumber(stk) == false || stk <= 0))
                {
                    this.validations.valSTK.text = 'Cantidad inválida. Deber ser una cantidad númerica entera y mayor que "0"'
                    this.validations.valSTK.status = true
                }
                else 
                {
                    this.validations.valSTK.text = ''
                    this.validations.valSTK.status = null
                }
            }

        },
        valInputsProd(){
            this.response.charginButton = true
           if(this.validations.valCodePro.status)
            {   
                this.response.charginButton = false
                this.$swal.fire({
                        title: 'El código de producto que ha ingresado ya se encuentra en uso',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
             return false  
            }
           if(this.validations.valPP.status)
           {
               this.response.charginButton = false
               this.$swal.fire({
                        title: 'El campo "precio publico" ha sido ingresado de forma incorrecta',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
             return false       
           }
           if(this.validations.valPR.status)
           {
               this.response.charginButton = false
               this.$swal.fire({
                        title: 'El campo "precio rec" ha sido ingresado de forma incorrecta',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
             return false       
           }
           if(this.validations.valSTK.status)
           {
               this.response.charginButton = false
               this.$swal.fire({
                        title: 'El campo "stock" ha sido ingresado de forma incorrecta',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                return false       
           }     

           if(this.dataPro.name != '' && this.dataPro.code != '' && this.dataPro.description != '' && this.dataPro.slogan != '' && this.dataPro.prices.public != '' && this.dataPro.prices.rec != '' && this.dataPro.stock != '' && this.dataPro.category != '')
           {
              if(this.fileList.length == 0)
            {
                this.response.charginButton = false
                this.$swal.fire({
                        title: 'Debe seleccionar una o varias imagenes del producto',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })      
            } 
            else 
            {   

                this.dataPro.code = this.dataPro.code.toUpperCase()
                this.dataPro.sanitaryReg = this.dataPro.sanitaryReg.toUpperCase() 
                this.registerProduct()
               
            }
            
           }
           else
           {
               this.response.charginButton = false
               this.$swal.fire({
                        title: 'Debe llenar todos los campos',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
           }
  
        },
        registerProduct() {
            let data_ = this.$myCryptor.encode(this.dataPro)
            axios.post('/product/store',{data:data_}).then((resp) => {
                if(resp.data.status == 'success')
                {   
                    let idp = resp.data.data._id 
                    // let cat = resp.data.data.category
                    
                    this.upload(idp)
                }else{
                    this.response.charginButton = false
                   this.$swal.fire({
                        title: 'Ups! :(',
                        text: 'Ocurrio un problema al registrar el producto. Intentelo más tarde',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                }
                
            })
        },
        upload(id) {
            //   let file = document.getElementById('images').files
            var formData = new FormData()
            if(this.fileList.length > 0)
            {
                for (let index = 0; index < this.fileList.length; index++) {
                    formData.append("images",this.fileList[index])    
                }
                formData.append("idp",id)
                // formData.append("idc",cat)
                var contenttype = {
                    headers:{
                        "content-type": "multipart/form-data"
                    }
                };
                axios.post('/product/uploadimg',formData,contenttype).then((resp) => {
                    // console.log(resp.data)
                    if(resp.data.status == 'success')
                    {
                        this.response.charginButton = false
                        this.$swal.fire({
                            title: 'El producto ha sido registrado con exito',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#87ED6F',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                        })
                       
                    }
                     else if(resp.data.status == 'failed')
                    {
                        this.response.charginButton = false
                        this.$swal.fire({
                            title: 'Ups! :(',
                            text: 'Ocurrio un problema al registrar el producto. Intentelo más tarde',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#E76F55',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                            })
                    }
                    else if(resp.data.status == 'exceed') 
                    {
                       this.response.charginButton = false
                       this.$swal.fire({
                            title: 'Ups! :(',
                            text: 'Registro no completado. Ocurrio un problema al carga las imagenes. Alguna de las  imagenes pesa mas de 1MB',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#E76F55',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                            })
                    }
                })
            }
            else
            {
                this.response.charginButton = false
                this.$swal.fire({
                        title: 'Ups! :(',
                        text: 'Ocurrio un problema al registrar el producto',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    }) 
            }
            this.dataPro.name = ''
            this.dataPro.code = ''
            this.dataPro.sanitaryReg = ''
            this.dataPro.slogan = ''
            this.dataPro.description = ''
            this.dataPro.category = ''
            this.dataPro.prices.public = ''
            this.dataPro.prices.rec = ''
            this.dataPro.stock = ''
            this.imglist = null
            this.fileList = []
            this.$refs.images.clearFiles()
            this.clearValidations()    
        },
        valInputsCat(){
            this.response.cat.charginButton = true
           if(this.dataCat.name != '' && this.dataCat.description != '' && this.dataCat.subName != '')
           {
                if(this.imgcat == null)
                {
                    this.response.cat.charginButton = false 
                    this.$swal.fire({
                            title: 'Debe seleccionar una imagen para la categoría',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#E76F55',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                        })          
                } 
                else 
                {
                    this.registerCategory()
                }
            
           }
           else
           {
                this.response.cat.charginButton = false   
               this.$swal.fire({
                        title: 'Debe llenar todos los campos',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
           }
  
        },
        registerCategory() {
            let data_ = this.$myCryptor.encode(this.dataCat)
            axios.post('/product/category/store',{data:data_}).then((resp) => {
                if(resp.data.status == 'success')
                {   
                    let idc = resp.data.data._id 
                    
                    this.uploadimgcat(idc)
                }else{

                    this.response.cat.charginButton = false
                    this.$swal.fire({
                        title: 'Ups! :(',
                        text:'Ocurrio un error al registrar la categoría. Intentalo más tarde',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                }
                
            })
        },
        uploadimgcat(id) {
            //   let file = document.getElementById('images').files
            var formData = new FormData()
            
            if(this.imgcat != null)
            {
                formData.append("imgcat",this.imgcat)
                formData.append("idc",id)
                var contenttype = {
                    headers:{
                        "content-type": "multipart/form-data"
                    }
                };
                // encriptar formData

                axios.post('/product/category/catimg',formData,contenttype).then((resp) => {
                    // console.log(resp.data)
                    if(resp.data.status == 'success')
                    {
                        this.response.cat.charginButton = false
                        this.$swal.fire({
                            title: 'La categoria ha sido registrada con exito',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#87ED6F',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                        })
                    }
                    else if(resp.data.status == 'failed')
                    {
                        this.response.cat.charginButton = false
                        this.$swal.fire({
                            title: 'Ups! :(',
                            text: 'Ocurrio un problema al registrar la categoría. Intentelo más tarde',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#E76F55',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                            })
                    }
                    else if(resp.data.status == 'exceed') 
                    {
                        this.response.cat.charginButton = false
                       this.$swal.fire({
                            title: 'Ups! :(',
                            text: 'Registro no completado. Ocurrio un problema al carga las imagen. La imagen pesa mas de 1MB',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#E76F55',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                            })
                    }
                })
            }
            else
            {
                this.response.cat.charginButton = false
                this.$swal.fire({
                        title: 'Ups! :(',
                        text: 'Ocurrio un problema al registrar la categoría',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    }) 
            }
            this.dataCat.name = ''
            this.dataCat.subName = ''
            this.dataCat.description = ''
            this.dataCat.images = ''
            // this.$refs.imgcat.clearFiles()
            this.imgcat = null
            this.formAddCat = false
            // this.imageUrl= URL.revokeObjectURL(this.imageUrl)
            this.imageUrl = ''
            this.getCategorys()
        },
        clearValidations() {
            this.validations.valPP.status = null
            this.validations.valPP.text = ''
            this.validations.valPR.status = null
            this.validations.valPR.text = ''
            this.validations.valSTK.status = null
            this.validations.valSTK.text = ''
            this.validations.valCodePro.status = null
            this.validations.valCodePro.text = ''           
        }
    }
}
</script>
