<template>
    <div class="cont">
        <nav class="sideM primary-color shadow-c">
            <p onclick="location.href = '/'" class="mt-3 pb-3 text-center mb-0"><img src="/img/ico.png" alt=""></p>
            <el-divider content-position="center">Impha</el-divider>
            <ul>
                <li>
                    <el-tooltip class="item" effect="dark" content="Ir a comprar" placement="right">
                        <a @click.prevent="redirectStore">
                            <i class="el-icon-sell"></i>
                        </a>
                    </el-tooltip>
                </li>
                <li @click="aside.show = !aside.show; aside.cart = !aside.cart">
                    <el-tooltip class="item" effect="dark" content="Mi carrito" placement="right">
                        <a href="#" :class="{'active-item-side': aside.cart}">
                            <i class="el-icon-shopping-cart-2"></i>
                        </a>
                    </el-tooltip>
                </li>                
                <li>
                    <el-tooltip class="item" effect="dark" content="Mis compras" placement="right">
                        <a @click.prevent="chan(3)">
                            <i class="el-icon-box"></i>
                        </a>
                    </el-tooltip>
                </li>
                <li v-if="!isLogged">
                    <el-tooltip class="item" effect="dark" content="Iniciar sesion" placement="right">
                        <a href="/auth/login">
                            <i class="el-icon-user"></i>
                        </a>
                    </el-tooltip>
                </li>
                <li>
                    <el-tooltip class="item" effect="dark" content="Configuración" placement="right">
                        <a @click.prevent="chan(1)">
                            <i class="el-icon-setting"></i>
                        </a>
                    </el-tooltip>
                </li>
                <li class="sign-out position-absolute fixed-bottom" v-if="isLogged">
                    <el-tooltip class="item" effect="dark" content="salir" placement="right">
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </el-tooltip>
                </li>
            </ul>
        </nav>
        <div class="backdrop-b fade-in" @click="aside.show = false; aside.cart = false" v-if="aside.show"></div>
        <aside v-if="aside.show" class="swing-in-left-fwd shadow aside">
            <h4 class="poppins px-3 text-dark mb-0 py-4 border-bottom cart">
                <span class="text-gradient" style="letter-spacing:4px;">Carrito</span> <i @click="aside.show = false; aside.cart = false" class="mt-1 el-icon-close float-right"></i>
            </h4>
            <div class="empty text-center mt-4" v-if="empty">
                <h5 class="poppins-light text-center text-gradient">Tu carrito esta vacio :(</h5>
                <img src="/img/new-cart.svg" alt="" class="empty-cart mt-3">                
                <p class="mb-0 text-center mt-4">
                    <el-button type="primary" onclick="location.href = '/'" class="shadow-button">empieza a comprar!</el-button>
                </p>
                <!-- <p class="mt-3">
                    <small class="poppins-light">Obtendras puntos de compra <br> siendo usuario de <strong>OPTIRIS</strong></small>
                </p> -->
            </div>
            <div class="cart-body" v-else>
                <div class="cart-action">
                    <span class="cart-total">
                        <small>$</small>{{myCart.totalAmount.toLocaleString("de-DE")}}
                    </span>
                    <a href="#" @click="chan(2)" style="text-decoration:none;" class="el-button shadow-button-h el-button--primary">
                        <span>Confirmar <i class="el-icon-check"></i></span>
                    </a>
                </div>
                <ul class="shopping-cart-items">
                    <!-- Item -->
                    <li class="clearfix" v-for="(product, index) in myCart.orderDetails" :key="index">
                        <img :src="product.image" alt="">
                        <span class="item-meta">
                            <span class="item-name">{{product.name}}</span>
                            <span class="item-price">${{product.price}}</span>
                        </span>
                        <span class="quantity">
                            <el-tag                                
                                type="primary"
                                effect="plain">
                                {{product.quantity}} Und
                            </el-tag>
                        </span>
                        <el-tooltip class="item" effect="dark" content="Remover del carrito" placement="right">
                            <span class="remove-item" @click.prevent="quitToCart(product._id)">                            
                                <i class="el-icon-sold-out remove-item-i"></i>                            
                            </span>
                        </el-tooltip>
                    </li>                                       
                </ul>
            </div>
        </aside>
        <div class="body">
            <div class="dash-wrapper px-5 py-4">
                <div class="account-title">
                    <h2>{{activeName}}</h2>
                    <img class="brand-filigrane" src="img/ico.png" alt="">
                </div>
                <el-tabs v-model="activeName">
                    <el-tab-pane label="Perfil" name="Perfil">
                        <p class="poppins-light">
                            Pronto estará disponible
                        </p>
                    </el-tab-pane>
                    <el-tab-pane label="Carrito" class="container" name="Carrito">
                        <div class="cart-summary">
                            <span class="cart-total">
                                {{myCart.totalAmount.toLocaleString("de-DE")}}&nbsp;<el-tag effect="plain" class="mb-2 position-relative" style="top: -5px;" size="medium"> + Costo de envío &nbsp;$5.000</el-tag><small style="text-align:left;">{{myCart.orderDetails.length}} <span>productos en el carrito</span></small>
        
                                
                            </span>
                            
                            <a href="#" @click="sendPurchase" class="el-button shadow-button-h el-button--primary" v-if="myCart.orderDetails.length > 0">
                                Realizar Compra
                            </a>
                        </div>   
                        <div class="w-100">
                            <div class="row mx-0">
                                <div class="row mx-0 col-lg-8 col-md-12 col-12">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <el-checkbox-group v-model="sellerQ.status" size="medium">
                                            <el-checkbox label="¿Recibiste ayuda de algun asesor?" border></el-checkbox>                                
                                        </el-checkbox-group>
                                    </div>                     
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <el-select filterable v-model="sellerQ.id" v-if="sellerQ.status" class="w-100 mt-0" clearable placeholder="Selecciona el vendedor">
                                            <el-option
                                            v-for="(item, index) in sellerList"
                                            :key="index"
                                            :label="item.name.first+' '+item.name.last"
                                            :value="item._id">
                                            </el-option>
                                        </el-select>
                                    </div>               
                                </div>                                
                            </div>
                        </div>
                        <el-divider content-position="left">Detallado</el-divider>
                        <div class="shopping-cart">
                           
                            <!-- Product #1 -->
                            <div v-for="(product, index) in myCart.orderDetails" :key="index" class="itemm border-top pb-0 mb-3 d-flex align-items-center justify-content-between">
                                <div class="buttons">
                                    <span class="delete-btnn" @click.prevent="quitToCart(product._id)"></span>
                                </div>
                            
                                <div class="image">
                                    <el-image     
                                        class="cart-image"                                   
                                        :src="product.image" 
                                        :preview-src-list="product.images">
                                        <div slot="error" class="image-slot">
                                            <i class="el-icon-picture-outline"></i>
                                        </div>
                                    </el-image>
                                </div>
                            
                                <div class="description">
                                <span>{{product.name}}</span>
                                <span>{{product.category}}</span>
                                </div>
                            
                                <div class="quant">
                                    <!-- <el-input-number size="small" v-model="product.quantity" :min="1" :max="product.stock" @change="addAmountBag({price:product.price,id:product._id,stock:product.quantity})"></el-input-number> -->
                                    <fieldset data-quantity="" class="fielset">
                                        <button type="button" title="Down" class="sub" @click="addAmountBag({price:product.price,id:product._id,stock:product.quantity}, 'quit')">Down</button>
                                            <input type="number" name="quantity" v-model="product.quantity" min="1" @keyup="addAmountBag({price:product.price,id:product._id,stock:product.quantity}, 'ch')" :max="product.stock" class="quantity-input" pattern="[0-9]+">
                                        <button type="button" @click="addAmountBag({price:product.price,id:product._id,stock:product.quantity}, 'add')" title="Up" class="add">Up</button>
                                    </fieldset>
                                </div>
                            
                                <div class="d-flex align-items-center justify-content-center">
                                    <span class="product-price">
                                        <span>Precio</span>
                                        <br>
                                        <span class="pp">{{product.price.toLocaleString("de-DE")}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>                                                                     
                    </el-tab-pane>
                    <el-tab-pane label="Ordenes" name="Ordenes">
                        <div class="row mx-0 py-2">
                            <div class="col-lg-4 col-md-4 col-12 px-1">
                                <el-card shadow="hover" class="box-card list-card">
                                    <div slot="header" class="clearfix">
                                        <span class="poppins title-card-list">Listado</span>                                       
                                    </div>
                                    <ul class="mb-0">
                                        <!-- List item -->
                                        <li v-for="(order, index) in myOrders.orders" :key="index" :class="myOrders.theOrder == order.paymentRef ? 'is-active' : ''" :data-order="order.paymentRef" @click.prevent="changeOrder(order.paymentRef)">
                                            <span>ORDEN {{order.paymentRef.substr(order.paymentRef.length - 7)}}</span>
                                            <span class="order-indicator" :class="'is-'+order.internalStatus.status"></span>
                                        </li>
                                    </ul>
                                </el-card>
                            </div>
                            <div class="col-lg-8 col-12 col-md-8 px-1">
                                <el-card shadow="hover" class="box-card order-list-card">
                                    <div class="clearfix mb-3">
                                        <span class="poppins title-card-list">ORDEN {{myOrders.theOrder.substr(myOrders.theOrder.length - 7)}}</span>
                                        <el-progress :stroke-width="10"  class="w-50 pp float-right" :class="'is-'+myOrders.details.internalStatus.realname" :percentage="myOrders.details.internalStatus.code" :show-text="false"></el-progress>
                                    </div>
                                    <div>                                       
                                        <!-- Order status -->
                                        <div class="order-block">
                                            <div class="order-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
                                            </div>
                                            <div class="status">
                                                <div>Estatus</div>
                                                <div>
                                                    <el-tag   
                                                        :type="myOrders.details.internalStatus.realname"         
                                                        effect="dark"
                                                        size="small">
                                                        {{myOrders.details.internalStatus.name}}
                                                    </el-tag>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Order date -->
                                        <div class="order-block">
                                            <div class="order-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                            </div>
                                            <div class="date">
                                                <div>Fecha</div>
                                                <div class="is-date">{{myOrders.details.created_at}}</div>
                                            </div>
                                        </div>
                                        <!-- Order total -->
                                        <div class="order-block">
                                            <div class="order-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                            </div>
                                            <div class="total">
                                                <div>Orden total</div>
                                                <div class="is-price">{{myOrders.details.totalAmount.toLocaleString('de-DE')}} 
                                                    <el-tag            
                                                        effect="dark"
                                                        type="success"
                                                        size="small"
                                                        class="poppins-light">
                                                        {{myOrders.details.status}}
                                                    </el-tag></div>
                                            </div>
                                        </div>
                                        <!-- Order details -->
                                        <div class="table-block">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Puntos</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(holiwi, index) in myOrders.details.orderDetails" :key="index">
                                                        <td data-label="Product">{{holiwi.product}}</td>
                                                        <td data-label="SKU">{{holiwi.points}}</td>
                                                        <td data-label="Quantity">{{holiwi.quant}}</td>
                                                        <td data-label="Total">${{holiwi.amount.toLocaleString('de-DE')}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- View Invoice -->
                                        <div class="button-block text-right">
                                            <el-button type="primary" disabled class="">
                                                <span>Factura</span>
                                            </el-button>
                                            <!-- <el-button disabled type="button" class="el-button shadow-button-h el-button--primary">
                                                <span>Factura</span>
                                            </el-button> -->
                                        </div>
                                    </div>
                                </el-card>
                            </div>
                        </div>
                    </el-tab-pane>    
                    <el-tab-pane label="Reclamos" name="Reclamos">
                        <div class="row mx-0 py-2 d-flex align-items-center justify-content-center mt-3">
                            <div class="col-lg-8 row col-md-10 mx-0 px-3 py-4 shadow rounded">
                                <div class="col-12">
                                    <h4 class="poppins-light mb-3">Diligencie su reclamo</h4>
                                </div>
                                <div class="col-lg-12 mb-2 px-1 md-12 col-12">
                                    <el-input
                                        placeholder="Nombre"
                                        prefix-icon="el-icon-user"
                                        v-model="Rname"
                                        clearable>
                                    </el-input>
                                </div>
                                <div class="col-lg-6 mb-2 px-1 col-md-6 col-12">
                                    <el-input
                                        prefix-icon="el-icon-message"
                                        placeholder="E-Mail"
                                        v-model="Rmail"
                                        clearable>
                                    </el-input>
                                </div>
                                <div class="col-lg-6 mb-2 px-1 col-md-6 col-12">
                                    <el-input
                                        prefix-icon="el-icon-mobile-phone"
                                        placeholder="Telefono"
                                        v-model="Rphone"
                                        clearable>
                                    </el-input>
                                </div>
                                <div class="col-lg-12 mb-2 px-1 col-md-12 col-12">
                                    <el-input
                                        type="textarea"
                                        :rows="3"
                                        placeholder="Mensaje"
                                        v-model="Rmessage">
                                    </el-input>
                                </div>
                                <div class="col-lg-12 mb-3 px-1 col-12">
                                    <el-input 
                                    prefix-icon="el-icon-key"
                                    placeholder="Confirmar ontraseña" 
                                    v-model="Rpass" 
                                    show-password 
                                    clearable></el-input>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 text-center">
                                    <el-button :loading="load" :disabled="load" @click="sendMail" type="button" class="el-button shadow-button-h el-button--primary">
                                        <span>Enviar <i class="el-icon-check"></i></span>
                                    </el-button>
                                </div>
                            </div>
                        </div>
                    </el-tab-pane>                
                </el-tabs>
            </div>
        </div>  
        <div id="mylittlediv"></div>            
    </div>
</template>
<script>
import { Notification } from 'element-ui';
import { payuData } from '../Utilities/keys.json'
export default {
    data() {
        return {
            isLogged: false,
            sellerList: [],
            sellerQ:
            {
                status: false,
                id: ''
            },
            load: false,
            ac: 0,
            Rid:'',
            Rname: '',
            Rmail: '',
            Rphone: '',
            Rmessage: '',    
            Rpass: '',
            url: '/img/products/5d49971c6b24c76494e817e1/5d49971c6b24c76494e817e121565103900829.jpg',
            srcList: [
            '/img/products/5d49971c6b24c76494e817e1/5d49971c6b24c76494e817e121565103900829.jpg'
            ],
            num: null,
            aside: 
            {
                show: false,
                cart: false
            },
            activeName: '',
            empty: true,
            myCart: {
                pRef: '',
                totalAmount: 0,
                orderDetails: [],
                totalPoints: 0
            },
            myOrders: {
                orders: [],
                theOrder: '',
                details: {
                    internalStatus: {
                        realname: '',
                        name: '',
                        code: 0
                    },
                    created_at: '',
                    totalAmount: '',
                    status: '',
                    orderDetails: []
                }
            },
            allProducts: [],
            userType: '',
            payuFormData : {
                merchantId: payuData.merchantId,
                accountId: payuData.accountId,
                apiKey: payuData.apiKey,
                responseUrl: location.origin + payuData.responseURL,
                confirmationUrl: location.origin + payuData.confirmationURL,
                buyerFullName: "",
                buyerMail: "",
                signature: ""
            },
            title: '',
        }
    },
    mounted(){
        this.sessdata()
       if(this.$route.params.tabname != 'profile' && this.$route.params.tabname != 'cart' && this.$route.params.tabname != 'orders')
       {
           this.activeName = 'Perfil'
           this.activeName = 'Perfil'
       } else {
           switch (this.$route.params.tabname) {
                case 'profile':
                    this.activeName = 'Perfil'
                break;
                case 'cart':
                    this.activeName = 'Carrito'
                break;
                case 'orders':
                   this.activeName = 'Ordenes'
                break;
                default:
                    this.activeName = 'Perfil'
                break;
           }           
       }
       this.getProducts()     
       this.listSeller()  
    },
    methods: {
        listSeller()
        {
            axios.post('/auth/seller/getAll/front').then((resp) =>
            {                                
                if(resp.data.status == 'success')
                {
                    let res = this.$myCryptor.decode(resp.data.data)                    
                    this.sellerList = res
                } else {
                    this.$swal.fire(
                        {
                            title: 'Info',
                            type: 'warning',
                            text: 'Error al obtener vendedores'
                        }
                    )
                }
            })
        },
        sendMail()
        {
            let clear = () =>
            {
                this.Rname = ''
                this.Rmail = ''
                this.Rphone = ''
                this.Rmessage = ''   
                this.Rpass = ''
            }
            this.load = true
            let data = {Rpass: this.$myCryptor.encode(this.Rpass), Rid: this.Rid, Rname: this.Rname, Rmail: this.Rmail, Rphone: this.Rphone, Rmessage: this.Rmessage}
            if(!data.Rname || !data.Rmail || !data.Rphone || !data.Rmessage)
            {
                this.$swal.fire(
                    {
                        title: 'Info',
                        type: 'info',
                        text: 'Campos vacios'
                    }
                )
                this.load = false
            } else {
                axios.post('/auth/send-mail', {data: data}).then((res) =>
                {
                    // console.log(res.data.status)
                    if(res.data.status == 'pass')
                    {
                        this.$swal.fire(
                            {
                                title: 'Info',
                                type: 'warning',
                                text: res.data.mes
                            }
                        )
                    }
                    if(res.data.status == 'success')
                    {
                        this.$swal.fire(
                            {
                                title: 'Exito',
                                type: 'success',
                                text: res.data.mes
                            }
                        )
                        clear()
                    } else if(res.data.status == 'error'){
                        this.$swal.fire(
                            {
                                title: 'Error',
                                type: 'error',
                                text: res.data.mes
                            }
                        )
                        clear()
                    }
                    this.load = false
                })
            }
        },
        chan(a)
        {
            if(a == 1)
            {
                this.activeName = 'Perfil', 
                this.title = 'Perfil'
            }
            if(a == 2)
            {
                this.activeName = 'Carrito'
                this.title = 'Carrito'
                this.aside.show = false
                this.aside.cart = false
            }
            if(a == 3)
            {
                this.activeName = 'Ordenes', 
                this.title = 'Ordenes'
            }
        },
        changeOrder(ref) {
            this.myOrders.theOrder = ref
            let a = this.myOrders.orders
            for (let index = 0; index < a.length; index++) {
                if(ref == a[index].paymentRef) {
                    this.myOrders.details.internalStatus.realname = a[index].internalStatus.status
                    switch (a[index].internalStatus.status) {
                        case 'waiting':
                            this.myOrders.details.internalStatus.name = 'En Preparación'
                            this.myOrders.details.internalStatus.code = 0        
                            break;
                        case 'ready':
                            this.myOrders.details.internalStatus.name = 'Listo para envío'
                            this.myOrders.details.internalStatus.code = 33        
                            break;
                        case 'delivered':
                            this.myOrders.details.internalStatus.name = 'Enviado'
                            this.myOrders.details.internalStatus.code = 66        
                            break;
                        case 'received': 
                            this.myOrders.details.internalStatus.name = 'Recibido'
                            this.myOrders.details.internalStatus.code = 100
                            break;
                        default:
                            break;
                    }
                    switch (a[index].purchaseStatus) {
                        case 'Approved':
                            this.myOrders.details.status = 'Aprobado'
                            break;
                        case 'Rejected':
                            this.myOrders.details.status = 'Rechazado'
                            break;
                        case 'Pending':
                            this.myOrders.details.status = 'Pendiente'
                            break;
                        default:
                            break;
                    }
                    this.myOrders.details.created_at = a[index].created_at.split('T')[0]
                    this.myOrders.details.totalAmount = a[index].totalAmountToPay

                    this.myOrders.details.orderDetails = []
                    
                    for (let ind = 0; ind < a[index].orderDetails.length; ind++) {
                        for (let indd = 0; indd < this.allProducts.length; indd++) {
                            if(a[index].orderDetails[ind].product == this.allProducts[indd]._id) {
                                let bon = {
                                    product: this.allProducts[indd].name,
                                    amount: this.allProducts[indd].prices[this.userType],
                                    points: Math.floor(this.allProducts[indd].prices[this.userType]/5000),
                                    quant: a[index].orderDetails[ind].quantity
                                }
                                if(this.userType != 'rec')
                                    bon.points = '-'
                                this.myOrders.details.orderDetails.push(bon)
                                break;
                            }
                        }
                    }

                    break;
                }
            }
        },
        getProducts(){   
            axios.post('/product/getAll', {onlyActive: false}).then(resp => {
                if(resp.data.status == 'success') {
                    this.allProducts = resp.data.data
                    this.getMyCart()
                    this.getMyBuys()
                }
            })
        },
        getMyBuys() {
            axios.post('/purchase/getMyBuys')
            .then(resp => {
                if(resp.data.status = 'success') 
                {
                    let datis = this.$myCryptor.decode(resp.data.data)                    
                    if(datis.length > 0)
                    {
                        this.myOrders.orders = datis
                        this.myOrders.theOrder = datis[0].paymentRef
                        this.changeOrder(datis[0].paymentRef)
                    }
                }
            })
        },
        sessdata() {
            axios.post('/auth/sessdata', {fields: ['userType', 'name', 'mail', '_id']}).then(resp => 
            {
                if(resp.data.status == 'failed')
                    location.href = '/'
                else {
                    let res = this.$myCryptor.decode(resp.data.data);     
                    this.Rid = res[3]                                                   
                    this.userType = res[0]
                    this.payuFormData.buyerFullName = res[1].first + " " + res[1].last
                    this.payuFormData.buyerMail = res[2]
                    this.isLogged = true
                }
            })
        },  
        getMyCart() {
            axios.post('/purchase/getMyCart').then(resp => {
                if(resp.data.status == 'success') {
                    this.myCart.orderDetails = []
                    this.myCart.pRef = resp.data.data.paymentRef
                    this.myCart.totalAmount = resp.data.data.totalAmount
                    this.myCart.totalPoints = resp.data.data.totalPoints
                    for (let index = 0; index < resp.data.data.orderDetails.length; index++) {
                        for (let ind = 0; ind < this.allProducts.length; ind++) {
                            if(resp.data.data.orderDetails[index].product.toString() == this.allProducts[ind]._id) {
                                let price = 0
                                // if(this.userType == 'public')
                                    price = this.allProducts[ind].prices.public
                                // else
                                //     price = this.allProducts[ind].prices.rec
                                for (let indiii = 0; indiii < this.allProducts[ind].images.length; indiii++) {
                                    this.allProducts[ind].images[indiii] = '/img/products/'+this.allProducts[ind].images[indiii]
                                }
                                let bon = {
                                    _id: resp.data.data.orderDetails[index].product,
                                    price,
                                    name: this.allProducts[ind].name,
                                    image: this.allProducts[ind].images[0],
                                    images: this.allProducts[ind].images,
                                    quantity: resp.data.data.orderDetails[index].quantity,
                                    stock: this.allProducts[ind].stock,
                                    category: this.allProducts[ind].category
                                }
                                this.myCart.orderDetails.push(bon)
                                break;
                            }
                        }
                    }
                    if(resp.data.data.orderDetails.length > 0)
                        this.empty = false
                    else
                        this.empty = true
                    axios.post('/purchase/validateBagToSell').then(resp => {
                        //send feedback to cart problems
                    })
                }
            })
        },
        quitToCart(id) {
            let bone = {product: id}
            let orderDetails = []
            orderDetails.push(bone)

            axios.post('/purchase/quitToCart', {orderDetails}).then(resp => {
                // console.log(resp)
                if(resp.data.status == 'success')
                    this.getMyCart()
            })
        },
        addAmountBag(obj, action)
        {
            let total = 0    
            let ts = obj.st  
            // console.log(obj)                                       
            if(action == 'add')
            {
                // let val = $('input[name=quantity]').val()
                for (const key in this.myCart.orderDetails) 
                {
                    if(obj.id == this.myCart.orderDetails[key]._id)
                    {    
                        this.myCart.orderDetails[key].quantity++;                                            
                        if(this.myCart.orderDetails[key].quantity >= this.myCart.orderDetails[key].stock)
                        {
                            this.myCart.orderDetails[key].quantity = this.myCart.orderDetails[key].stock;
                        }                        
                    }
                }
                
            } 
            if(action == 'quit')
            {
                for (const key in this.myCart.orderDetails) 
                {
                    if(obj.id == this.myCart.orderDetails[key]._id)
                    {
                        this.myCart.orderDetails[key].quantity--;
                        if(this.myCart.orderDetails[key].quantity <= 1)
                        {
                            this.myCart.orderDetails[key].quantity = 1;
                        }                        
                    }
                }
            }        
            if(action == 'ch')
            {
                for (const key in this.myCart.orderDetails) 
                {
                    if(obj.id == this.myCart.orderDetails[key]._id)
                    {                        
                        if(this.myCart.orderDetails[key].quantity > this.myCart.orderDetails[key].stock)
                        {
                            this.myCart.orderDetails[key].quantity = this.myCart.orderDetails[key].stock;
                            this.$swal.fire(
                                {
                                    title: 'Info',
                                    type: 'info',
                                    text: 'La cantidad requerida excede el stock'
                                }
                            )
                        }  
                        if(this.myCart.orderDetails[key].quantity <= 0)
                        {
                            this.myCart.orderDetails[key].quantity = 1;
                            this.$swal.fire(
                                {
                                    title: 'Info',
                                    type: 'info',
                                    text: 'La cantidad requerida tiene que ser de al menos 1 UND'
                                }
                            )
                        }                        
                    }
                }                 
            }  
            for (const key in this.myCart.orderDetails) 
            {
                total += this.myCart.orderDetails[key].price*this.myCart.orderDetails[key].quantity // hacer el cambio en la BD
            } 
            this.myCart.totalAmount = total
        },
        async sendPurchase() 
        {
            if(this.sellerQ.status && !this.sellerQ.id)
            {
                this.$swal.fire(
                {
                    title: 'INFO',
                    text:'Elige el vendedor, si no tienes vendedor, desmarca la opcion "¿Te ayudo algun vendedor?"',
                    type: 'info',
                    showCancelButton: false,                    
                    confirmButtonText: 'Aceptar'
                })
                return false;
            }
            let orderDetail = []
            for (let key = 0; key < this.myCart.orderDetails.length; key++) 
            {
                let bon = 
                {
                    product: this.myCart.orderDetails[key]._id,
                    units: this.myCart.orderDetails[key].quantity
                }
                orderDetail.push(bon)
            }
            let seller = 
            {
                id: this.sellerQ.id,
                status: this.sellerQ.status
            }            
            axios.post('/purchase/modifyUnits', {orderDetails: orderDetail, action: 'modifyUnits', seller}).then(async (res) =>
            {
                if(res.data.status == 'success')
                {
                    this.payuFormData.signature = await this.$jsmd5(payuData.apiKey+"~"+payuData.merchantId+"~"+this.myCart.pRef+"~"+(this.myCart.totalAmount+5000)+"~COP")
                    let elformi = `<form method="post" v-show="payuFormData.merchantId == null" id="elformpapaga" action="${payuData.targetURL['prod']}">
                                <input name="merchantId"    type="hidden"  value="${this.payuFormData.merchantId}"   >
                                <input name="accountId"     type="hidden"  value="${this.payuFormData.accountId}" >
                                <input name="description"   type="hidden"  value="Compra de productos IMPHA"  >
                                <input name="referenceCode" type="hidden"  value="${this.myCart.pRef}" >
                                <input name="amount"        type="hidden"  value="${this.myCart.totalAmount + 5000}"   >
                                <input name="tax"           type="hidden"  value="0"  >
                                <input name="taxReturnBase" type="hidden"  value="0" >
                                <input name="currency"      type="hidden"  value="COP" >
                                <input name="signature"     type="hidden"  value="${this.payuFormData.signature}"  >
                                <input name="test"          type="hidden"  value="${payuData.test}" >
                                <input name="buyerEmail"    type="hidden"  value="${this.payuFormData.buyerMail}" >
                                <input name="buyerFullName"    type="hidden"  value="${this.payuFormData.buyerFullName}" >
                                <input name="responseUrl"    type="hidden"  value="${this.payuFormData.responseUrl}" >
                                <input name="confirmationUrl"    type="hidden"  value="${this.payuFormData.confirmationUrl}" >
                            </form>`;
                    $('#mylittlediv').html(elformi)
                    $('#elformpapaga').submit()
                    $('#mylittlediv').html("")
                }
                else {
                    this.$swal.fire({
                        title: 'Ups ! Ocurrio un error al intentar hacer la compra',
                        text:'Puedes intentarlo más tarde',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                }
                // console.log(res.data)
            })
            
        },
        redirectStore()
        {
            location.href = '/'
        }
    }
}
</script>
