<template>
    <div class="container">
        <el-dialog
        title="Recuperar contraseña"
        :visible.sync="dialogRP"
        :before-close="handledBeforeClose"
        :close-on-press-escape="false"
        :close-on-click-modal="false"
        :show-close="false"
        width="40%"
        center>
        <span class="poppins">Diligencie la siguiente información:</span>
        <div class="row mt-1">
            <div class="col-lg-12 col-sm-12">
                <label for="">Nombre usuario:</label>
                <el-input v-model="reset.nick"></el-input>
            </div>
            <div class="col-lg-12 col-sm-12">
                <label for="">Correo asociado a la cuenta:</label>
                <el-input v-model="reset.mail"></el-input>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="handledBeforeClose">Cancelar</el-button>
            <el-button type="primary" @click="valRedirectRP" :loading="rp.loading" :disabled="rp.disabled">Enviar</el-button>
        </span>
        </el-dialog>
        <div class="row mx-0">
            <div class="col-12 col-lg-12 text-center col-md-12 align-items-center justify-content-center position-relative d-flex" style="height:100vh;">
                <div class="col-lg-5 col-md-6 col-sm-12 card_wrapper bg-white px-5 py-5 animated fadeIn">
                   <div class="errors">
                        <ul class="error-handler mb-0">
                            <li class="text-left font-weight-bold pb-1"><i class="el-icon-warning"></i> Info</li>                        
                            <li class="text-left error-textt">lorem insup door sit amet</li>
                        </ul>
                   </div>
                    <p class="mb-0">
                        <p class="poppins mb-0 text-center">                            
                            <div class="px-4">
                                <!-- <h4>Tienda IMPHA</h4> -->
                                <div class="account-title">
                    <h2>Tienda IMPHA</h2>
                    <img class="brand-filigrane" src="/img/ico.png" alt="">
                </div>
                                <!-- <img src="/src/textures/logos/logo.png" style="width:280px;" class="img-fluid pb-3 border-bottom border-light mb-2" alt=""> -->
                            </div>
                            <p class="mb-0 poppins text-center" style="letter-spacing: 5px;font-size: 15px;color:#b0b9b7;">Bienvenido</p>
                        </p>
                        <div class="input-wrapper position-relative mb-3">
                            <img src="/src/textures/icons/user/icons8-user.png" style="filter: grayscale(80%);">
                            <input type="text" v-model="inputUser" class="form-control-login" placeholder="Ingrese Usuario">                            
                        </div>
                        <div class="input-wrapper position-relative mb-1">
                            <img src="/src/textures/icons/key/icons8-password.png" style="filter: grayscale(80%);">
                            <input type="password" v-model="inputPass" class="form-control-login" placeholder="Ingrese Contraseña">                            
                        </div>                        
                    </p>
                    <p class="text-left">
                        ¿olvidaste tu contraseña? <a href="#"  class="poppins text-primary" @click.prevent="dialogRP = true">Recuperala</a>
                    </p>  
                    <p class="text-left">
                        ¿No tienes cuenta? <a href="/auth/register" class="poppins text-primary">Registrate</a>
                    </p>                   
                    <el-tooltip content="Ingresar 👌" placement="bottom" effect="dark">                        
                        <el-button icon="el-icon-user" v-bind:disabled="(inputUser == '') || (inputPass == '') || button.disabled" type="success" class="bg-btn btn-login poppins" :loading="button.loading" @click="login()"> Iniciar</el-button>
                    </el-tooltip>
                    <el-tooltip content="Ir a la tienda 🛒" placement="bottom" effect="dark">                        
                        <el-button type="info" plain class="btn-login poppins" @click="backstore" icon="el-icon-sell"> Tienda</el-button>
                    </el-tooltip>
                </div>
            </div>            
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            inputPass: '',
            inputUser: '',
            button: {loading: false, disabled: false},
            reset:{
                nick:'',
                mail:''
            },
            dialogRP:false,
            rp:{
                loading:false,
                disabled:false
            }
        }
    },
    mounted()
    {        
        
    },
    methods:
    {
        login()
        {
            this.button.loading = true;
            this.button.disabled = true;
            var data = {nickname: this.inputUser, password: this.inputPass}
            var el = this.$myCryptor.encode(data)
            axios.post('/auth/validate', {data: el}).then(resp => {
                if(resp.data.status == 'success')
                {
                    window.location.href = '/';
                }
                else
                {
                    $('.error-textt').text(resp.data.response)
                    $('.error-handler').css({'top': '0px'})                    
                }
                this.button.loading = false;
                this.button.disabled = false;
            }).catch(error => {
                alert('Un error inesperado a ocurrido', error); 
                this.button.loading = false;
                this.button.disabled = false;
            })
        },
        handledBeforeClose()
        {
            this.dialogRP = false
            this.reset.nick = ''
            this.reset.mail = ''
            this.rp.loading = false
            this.rp.disabled = false
        },
        valRedirectRP() 
        {
            this.rp.loading = true
            this.rp.disabled = true
            if(this.reset.nick && this.reset.mail)
                this.redirectRP()
            else
            {
                this.dialogRP = false
                this.rp.loading = false
                this.rp.disabled = false
                this.$swal.fire({
                title: 'Información',
                text:'Debes llenar todos los campos',
                type: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#E76F55',
                cancelButtonColor: '#99908E',
                confirmButtonText: 'Aceptar'
                }).then((result) => {
                    this.dialogRP = true
                })
            }
        },
        redirectRP()
        {
            let data = this.$myCryptor.encode(this.reset)
            axios.post('/auth/send/mail/restore',{data:data}).then((resp) => {
                if(resp.data.success)
                {
                    this.dialogRP = false
                    this.$swal.fire({
                        title: 'Solicitud enviada',
                        text:'En breve recibirás un correo electrónico donde podrás recuperar tu contraseña. Revisa tu bandeja de entrada o tu bandeja de correo no deseados',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        location.href = '/auth/login'
                    })
                }
                else
                {
                    this.dialogRP = false
                    this.$swal.fire({
                    title: 'UPS! :(',
                    text:'Ha ocurrido un error al procesar tus datos. Revise si el nombre de usuario o el correo electrónico corresponde a un usuario registrado',
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                }
                this.dialogRP = false
                this.rp.loading = false
                this.rp.disabled = false
                this.reset.nick = ''
                this.reset.mail = ''
            })
        },
        backstore()
        {
            location.href = '/'
        }
    }
}
</script>
