<template>
     <div class="some-cont"> 
        <div class="row mx-0 my-4">
            <div class="col-lg-12 row mx-0 text-center">
                <div class="col-lg-12">
                    <img src="/src/textures/logos/logo.png" class="imagelogo">
                </div>
                <div class="col-lg-12">
                    <p class="poppins-bold" style="color:rgb(86, 86, 85);letter-spacing:2px;">Área de bodega IMPHA</p>
                    <p class="poppins" style="color:rgba(86, 86, 85, 0.88);">Bienvenid@ - <strong>{{ nameUser }}</strong></p>
                    <p class="text-center">
                        <el-button @click="exit">Cerrar Sesion</el-button>
                    </p>
                </div>                
            </div>
            <el-divider><i class="el-icon-menu" style="color:rgb(95, 92, 92);"></i></el-divider>
            <div class="col-lg-12 row mx-0">
                <div class="col-lg-3 col-12 col-md-12 mb-2 d-flex justify-content-center align-items-center">
                     <el-card class="box-card text-center p-2" shadow="hover" style="cursor:pointer;">
                            <div class="box-img" @click="redirectView('products')">
                                <img src="/src/box.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Productos</h5>                                    
                                </div>
                            </div>      
                        </el-card>
                </div>
                <div class="col-lg-3 col-12 col-md-12 mb-2 d-flex justify-content-center align-items-center">
                    <el-card class="box-card text-center p-2" shadow="hover" style="cursor:pointer;">
                            <div class="box-img" @click="redirectView('addproducts')">
                                <img src="/src/menu.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Registrar productos</h5>                                
                                </div>
                            </div> 
                        </el-card>
                </div>
                <div class="col-lg-3 col-12 col-md-12 mb-2 d-flex justify-content-center align-items-center">
                    <el-card class="box-card text-center p-2" shadow="hover" style="cursor:pointer;">
                            <div class="box-img" @click="redirectView('purchases-orders')">
                                <img src="/src/product.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Pedidos</h5>                                
                                </div>
                            </div> 
                        </el-card>
                </div>
                <div class="col-lg-3 col-12 col-md-12 d-flex justify-content-center align-items-center">
                    <el-card class="box-card text-center p-2" shadow="hover"  style="cursor:pointer;">
                            <div class="box-img" @click="redirectView('sellers-view')">
                                <img src="/src/seller.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Vendedores</h5>                                    
                                </div>
                            </div>  
                        </el-card>
                    
                </div>
            </div>
        </div>
        <div class="mt-2 mb-2">
             <el-divider></el-divider>
            <router-view uid="manager"></router-view>
        </div>       
        <div class="poppins info-s-wrapper justify-content-between d-flex align-items-center w-100 position-fixed fixed-bottom mt-3">
            <div class="px-3 text-white">
                <!-- <i class="fa fa-copyright"></i> <span class="font-weight-bold">{{name}}</span> {{today_year}} • <strong>v{{version}}</strong> -->
                 <!-- <i class="fa fa-copyright"></i> <span class="font-weight-bold">IMPHA</span> {{today_year}} • <strong>v1.0</strong> -->
                 <i class="fa fa-copyright"></i> <span class="font-weight-bold">OPTIRIS</span> 2019 • <strong>v1.0</strong>
            </div>
            <div class="px-3 text-white">
                <span class="">
                    <i class="fa fa-calendar"></i> <b>Ultimo Acceso:</b> {{lastAccess}}
                </span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            nameUser:'',
            lastAccess:''
        }
    },
    mounted() {
        this.sessdata()
    },
    methods:{
        sessdata() {
            axios.post('/auth/sessdata', {fields: ['userType', 'name', 'lastAccess']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                                                        
                this.userType = res[0]
                this.nameUser = res[1].first + " " + res[1].last
                this.lastAccess = res[2]
                
            })
        },
        redirectView(comp)
        {
            location.href = '/cpanel#/'+comp+''
        },
        exit() {
            location.href = '/logout'
        }
    }
}
</script>
