<template>
    <div class="cont">        
        <!-- <el-dialog v-if="!isLogged" title="Anuncio" top="2vh" width="480px" :visible.sync="dialogVisible">
            <img src="/img/hola.png" alt="" style="width:100%;" class="img-fluid">
        </el-dialog> -->
        <nav class="sideM primary-color shadow-c">
            <p onclick="location.href = '/'" class="mt-3 pb-3 text-center mb-0"><img src="/img/ico.png" alt=""></p>
            <el-divider content-position="center">Impha</el-divider>
            <ul>
                <li v-if="isLogged" @click="aside.show = !aside.show; aside.cart = !aside.cart">
                    <el-tooltip class="item" effect="dark" content="Mi carrito" placement="right">
                        <a href="#" :class="{'active-item-side': aside.cart}">
                            <i class="el-icon-shopping-cart-2"></i>
                        </a>
                    </el-tooltip>
                </li>                
                <li v-if="isLogged">
                    <el-tooltip class="item" effect="dark" content="Mis compras" placement="right">
                        <router-link to="/dash/orders">
                            <i class="el-icon-box"></i>
                        </router-link>
                    </el-tooltip>
                </li>
                <li v-if="!isLogged">
                    <el-tooltip class="item" effect="dark" content="Iniciar sesion" placement="right">
                        <a href="/auth/login">
                            <i class="el-icon-user"></i>
                        </a>
                    </el-tooltip>
                </li>
                <li v-if="isLogged">
                    <el-tooltip class="item" effect="dark" content="Configuración" placement="right">
                        <router-link to="/dash/profile">
                            <i class="el-icon-setting"></i>
                        </router-link>
                    </el-tooltip>
                </li>
                <li class="sign-out position-absolute fixed-bottom" v-if="isLogged">
                    <el-tooltip class="item" effect="dark" content="salir" placement="right">
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </el-tooltip>
                </li>
            </ul>
        </nav>
        <div class="backdrop-b fade-in" @click="aside.show = false; aside.cart = false" v-if="aside.show"></div>
        <aside v-if="aside.show" class="swing-in-left-fwd shadow aside">
            <h4 class="poppins px-3 text-dark mb-0 py-4 border-bottom cart">
                <span class="text-gradient" style="letter-spacing:4px;">Carrito</span> <i @click="aside.show = false; aside.cart = false" class="mt-1 el-icon-close float-right"></i>
            </h4>
            <div class="empty text-center mt-4" v-if="empty">
                <h5 class="poppins-light text-center text-gradient">Tu carrito esta vacio :(</h5>
                <img src="/img/new-cart.svg" alt="" class="empty-cart mt-3">                
                <p class="mb-0 text-center mt-4">
                    <el-button type="primary" @click="aside.show = false; aside.cart = false" class="shadow-button">empieza a comprar!</el-button>
                </p>
                <!-- <p class="mt-3">
                    <small class="poppins-light">Obtendras puntos de compra <br> siendo usuario de <strong>OPTIRIS</strong></small>
                </p> -->
            </div>
            <div class="cart-body" v-else>
                <div class="cart-action">
                    <span class="cart-total">
                        <small>$</small>{{myCart.totalAmount.toLocaleString('de-DE')}}
                    </span>
                    <a href="/#/dash/cart" style="text-decoration:none;" class="el-button shadow-button-h el-button--primary">
                        <span>Confirmar <i class="el-icon-check"></i></span>
                    </a>
                </div>
                <ul class="shopping-cart-items">
                    <!-- Item -->
                    <li class="clearfix" v-for="(product, index) in myCart.orderDetails" :key="index">
                        <img :src="'/img/products/'+product.image" alt="">
                        <span class="item-meta">
                            <span class="item-name">{{product.name}}</span>
                            <span class="item-price">${{product.price.toLocaleString('de-DE')}}</span>
                        </span>
                        <span class="quantity">
                            <el-tag                                
                                type="primary"
                                effect="plain">
                                {{product.quantity}} Und
                            </el-tag>
                        </span>
                        <el-tooltip class="item" effect="dark" content="Remover del carrito" placement="right">
                            <span class="remove-item" @click.prevent="quitToCart(product._id)">                            
                                <i class="el-icon-sold-out remove-item-i"></i>                            
                            </span>
                        </el-tooltip>
                    </li>                                       
                </ul>
            </div>
        </aside>
        <div class="body">
            <el-alert
                v-if="!isLogged"
                title="Recuerda iniciar sesion para poder comprar. Si no tienes una cuenta, registrate para que puedas adquirir nuestros productos 😃"
                type="info"
                class="mb-2"
                close-text="registrarse"
                @close="redirectReg"
                >
            </el-alert>
            <div class="car position-relative" style="z-index:0;">
                <div class="mb-0 dd">
                    <span class="focus-in-contract-bck">IMPHA</span> <span class="focus-in-contract-bck">IMPHA</span>
                </div>
                <el-carousel class="ff" :interval="4000" trigger="click" direction="vertical" height="300px">
                    <el-carousel-item v-for="(index) in 3" :key="index">                    
                    </el-carousel-item>
                </el-carousel>    
            </div>  
            <el-divider content-position="center">Productos recientes</el-divider>        
            <div class="owl-carousel owl-theme">                                
                <div class="item mx-2" style="cursor:pointer;" v-for="(product, index) in recentProducts" :key="index">                    
                    <div class="aProd" @click="details(product._id)">
                    <el-card class="mb-3 mx-1 shadow-cc card-prod" shadow="hover" style="max-width:280px;" :body-style="{ padding: '0px' }">
                        <el-carousel arrow="never" indicator-position="outside" class="prod" trigger="hover" height="150px">
                            <el-carousel-item @click="details(product._id)" v-for="(image, index1) in product.images" :key="index1" :style="'background-image:url(/img/products/'+image+');'">                                
                            </el-carousel-item>
                            <!-- <el-carousel-item style="background-image:url(/img/products/home/p1/2.jpg);">                                
                            </el-carousel-item> -->
                        </el-carousel>
                        
                        <div class="p-3 border-top">
                            <p class="poppins mb-0 text-truncate text-prod">{{product.name}}</p>
                            <div class="ss">
                                <small class="text-left poppins-light">
                                    {{product.slogan}}
                                </small>
                            </div>                                
                        </div>                        
                    </el-card>    
                    </div>                                                            
                    <div class="mb-0 d-flex div-icons-prod justify-content-end">
                        <el-tooltip class="item" effect="dark" content="Más" placement="bottom">
                            <i @click="details(product._id)" class="el-icon-more-outline mx-1 shadow-cc"></i>                                                       
                        </el-tooltip>
                        <el-tooltip v-if="isLogged" class="item itemCar" effect="dark" content="Agregar al carrito" placement="bottom">
                            <i class="el-icon-shopping-cart-full mx-1 shadow-cc" @click="addToCart(product._id)"></i>
                        </el-tooltip>
                    </div>
                </div>      
            </div>
            <el-divider content-posisition="left">Categorias <i class="el-icon-menu"></i></el-divider>                                   
            <div class="row mx-0 mt-2">
                <div class="col-lg-4 col-md-6 col-12 px-1 mb-2" v-for="(c, index) in categories" :key="index">
                    <div class="tile is-parent">
                        <article class="tile is-child has-min-height has-class has-background-image" :data-background="'/img/categories/'+c.image" onclick="return true" :style="'background-image: url(/img/categories/'+c.image+');background-position:right;'">
                            <div class="tile-content">
                                <h2 class="shop-category">{{c.name}}</h2>
                                <div class="divider"></div>
                                <p class="mb-1">{{c.subName}}</p>
                                <p class="desc">{{c.description}}</p>
                                <div class="products">
                                    <strong>{{c.stp}}</strong> <span style="font-size: 12px;">Productos</span>
                                </div>
                                <a href="#" @click.prevent="showCatP(c._id)" class="action">
                                    <span>Ver</span>                                     
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                </a>
                            </div>
                            <!-- Overlay -->
                            <div class="tile-overlay"></div>
                        </article>
                    </div> 
                </div>
            </div>    
            <el-dialog width="75%" top="5vh" class="catPD" title="Productos Encontrados" :visible.sync="dialogCatProd" :class="{'categoriesD': (productsCat.length > 0 && !loadI)}">
                <p class="text-center mb-0" v-if="loadI">
                    <i class="el-icon-loading loadD"></i> 
                </p>
                <div class="d-flex align-items-center justify-content-center align-content-center" v-if="productsCat.length > 0 && !loadI" v-for="(products, index) in productsCat" :key="index">
                    <div class="aProd w-100" style="cursor: pointer;" @click="details(products._id)">
                        <el-card class="mb-3 mx-1 shadow-cc card-prod" shadow="hover" style="max-width:280px;" :body-style="{ padding: '0px' }">
                            <el-carousel arrow="never" indicator-position="outside" class="prod" trigger="hover" height="150px">
                                <el-carousel-item @click="details(products._id)" v-for="(image, index1) in products.images" :key="index1" :style="'background-image:url(/img/products/'+image+');'">                                
                                </el-carousel-item>
                                <!-- <el-carousel-item style="background-image:url(/img/products/home/p1/2.jpg);">                                
                                </el-carousel-item> -->
                            </el-carousel>
                            
                            <div class="p-3 border-top">
                                <p class="poppins mb-0 text-truncate text-prod">{{products.name}}</p>
                                <div class="ss">
                                    <small class="text-left poppins-light">
                                        {{products.slogan}}
                                    </small>
                                </div>                                
                            </div>  
                            <div class="mb-3 mx-3 d-flex justify-content-end">
                                <!-- <el-tooltip class="item" effect="dark" content="Más" placement="bottom">
                                    <i @click="details(products._id)" class="el-icon-more-outline mx-1 shadow-cc"></i>                                                       
                                </el-tooltip> -->
                                <el-tooltip v-if="isLogged" class="item itemCar" effect="dark" content="Agregar al carrito" placement="bottom">
                                    <i class="el-icon-shopping-cart-full mx-1 shadow-cc icon-prod " @click="addToCart(products._id)"></i>
                                </el-tooltip>
                            </div>                      
                        </el-card>                            
                    </div>                                                                                
                </div>                  
                <div class="notD" v-if="!productsCat.length">
                    <h5 class="poppins-light text-center w-100">Aun no hay productos para esta categoria :(</h5>                    
                </div>                
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogCatProd = false">Cerrar</el-button>
                </span>  
            </el-dialog>           
        </div>    
        <div id="mylittlediv"></div>
    </div>
</template>

<script>
import { Notification } from 'element-ui';
import { payuData } from '../Utilities/keys.json'
import { setTimeout } from 'timers';
export default {
    data(){
        return{
            // dialogVisible: false,
            isLogged: false,
            dialogCatProd: false,
            loadI: false,
            productsCat: [],
            aside: 
            {
                show: false,
                cart: false
            },
            empty: true,
            products: [],
            allProducts: [],
            recentProducts: [],
            categories: [],
            myCart: {
                pRef: '',
                totalAmount: 0,
                orderDetails: [],
                totalPoints: 0
            },
            userType: '',
            payuFormData : {
                merchantId: payuData.merchantId,
                accountId: payuData.accountId,
                apiKey: payuData.apiKey,
                responseUrl: location.origin + payuData.responseURL,
                confirmationUrl: location.origin + payuData.confirmationURL,
                buyerFullName: "",
                buyerMail: "",
                signature: ""
            }
        }
    },
    mounted()
    {
        this.sessdata()
        this.getProducts()
        setTimeout(() => 
        {
            this.owl()
        }, 1000);
    },
    methods:
    {
        details(id)
        {
            location.href = '/#/product-detail/'+id
        },
        owl()
        {
            $('.owl-carousel').owlCarousel({
                loop:false,
                // margin:10,
                responsiveClass:true,
                nav:true,                
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:2
                    },
                    760:{
                        items:3
                    },
                    1000:{
                        items:4
                    }
                }
            })   
            $('.owl-carousel').find('.owl-nav').removeClass('disabled');
            // $('.owl-carousel').find('.owl-dots').removeClass('disabled');
            $('.owl-carousel').on('changed.owl.carousel', function(event) 
            {
                $(this).find('.owl-nav').removeClass('disabled');
                // $(this).find('.owl-dots').removeClass('disabled');
            }); 
            $('.owl-carousel .owl-next').html('<i class="el-icon-arrow-right"></i>')
            $('.owl-carousel .owl-prev').html('<i class="el-icon-arrow-left"></i>')
        },
        sendPurchase() {
            this.payuFormData.signature = this.$jsmd5(payuData.apiKey+"~"+payuData.merchantId+"~"+this.myCart.pRef+"~"+this.myCart.totalAmount+"~COP")
            let elformi = `<form method="post" v-show="payuFormData.merchantId == null" id="elformpapaga" action="${payuData.targetURL['dev']}">
                        <input name="merchantId"    type="hidden"  value="${this.payuFormData.merchantId}"   >
                        <input name="accountId"     type="hidden"  value="${this.payuFormData.accountId}" >
                        <input name="description"   type="hidden"  value="Compra de productos IMPHA"  >
                        <input name="referenceCode" type="hidden"  value="${this.myCart.pRef}" >
                        <input name="amount"        type="hidden"  value="${this.myCart.totalAmount}"   >
                        <input name="tax"           type="hidden"  value="0"  >
                        <input name="taxReturnBase" type="hidden"  value="0" >
                        <input name="currency"      type="hidden"  value="COP" >
                        <input name="signature"     type="hidden"  value="${this.payuFormData.signature}"  >
                        <input name="test"          type="hidden"  value="${this.payuData.test}" >
                        <input name="buyerEmail"    type="hidden"  value="${this.payuFormData.buyerMail}" >
                        <input name="buyerFullName"    type="hidden"  value="${this.payuFormData.buyerFullName}" >
                        <input name="responseUrl"    type="hidden"  value="${this.payuFormData.responseUrl}" >
                        <input name="confirmationUrl"    type="hidden"  value="${this.payuFormData.confirmationUrl}" >
                    </form>`;
            $('#mylittlediv').html(elformi)
            $('#elformpapaga').submit()
            $('#mylittlediv').html("")
        },
        sessdata() {
            axios.post('/auth/sessdata', {fields: ['userType', 'name', 'mail']}).then(resp => 
            {
                if(resp.data.status == 'failed') {
                    console.log('nothing')
                    // this.dialogVisible = true
                }
                else {
                    this.isLogged = true
                    let res = this.$myCryptor.decode(resp.data.data);                                                        
                    this.userType = res[0]
                    this.payuFormData.buyerFullName = res[1].first + " " + res[1].last
                    this.payuFormData.buyerMail = res[2]
                }                 
            })
        },  
        getProducts(){
            axios.post('/product/getAll', {onlyActive: true}).then(resp => {
                if(resp.data.status == 'success') {
                    this.products = resp.data.data
                    for (let index = 0; index < this.products.length; index++) {
                        if(index <= 9){
                            let one = this.products[index]
                            this.recentProducts.push(one)
                        }
                    }
                    this.getCategories()
                    axios.post('/product/getAll', {onlyActive: false}).then(resp => {
                        if(resp.data.status == 'success') {
                            this.allProducts = resp.data.data
                            this.getMyCart()
                        }
                    })
                }
            })
        },
        showCatP(id)
        {
            this.loadI = true
            axios.post('/product/category/allOfThis', {category: id}).then((res) =>
            {
                // console.log(res.data)
                this.dialogCatProd = true            
                if(res.data.status == 'success')
                {
                    this.productsCat = res.data.data
                    setTimeout(() => 
                    {
                        this.loadI = false    
                    }, 600); 
                }  else{
                    this.productsCat = []
                    this.loadI = false    
                }                                                     
            })                       
        },
        getCategories(){
            axios.post('/product/category/getAll').then(resp => {
                let i = 0
                if(resp.data.status == 'success') {
                    this.categories = resp.data.data
                    for (const key in this.categories) 
                    {
                        for (const keyy in this.products) 
                        {
                            if(this.categories[key]._id == this.products[keyy].idc)
                            {
                                i++
                            }
                        }
                        this.categories[key].stp = i
                        i = 0
                    }
                }
            })
        },
        getMyCart() {
            axios.post('/purchase/getMyCart').then(resp => {
                if(resp.data.status == 'success') {
                    this.myCart.orderDetails = []
                    this.myCart.pRef = resp.data.data.paymentRef
                    this.myCart.totalAmount = resp.data.data.totalAmount
                    this.myCart.totalPoints = resp.data.data.totalPoints
                    for (let index = 0; index < resp.data.data.orderDetails.length; index++) {
                        for (let ind = 0; ind < this.allProducts.length; ind++) {
                            if(resp.data.data.orderDetails[index].product.toString() == this.allProducts[ind]._id) {
                                let price = 0
                                // if(this.userType == 'public')
                                    price = this.allProducts[ind].prices.public
                                // else
                                //     price = this.allProducts[ind].prices.rec
                                let bon = {
                                    _id: resp.data.data.orderDetails[index].product,
                                    price,
                                    name: this.allProducts[ind].name,
                                    image: this.allProducts[ind].images[0],
                                    quantity: resp.data.data.orderDetails[index].quantity
                                }
                                this.myCart.orderDetails.push(bon)
                                break;
                            }
                        }
                    }
                    if(resp.data.data.orderDetails.length > 0)
                        this.empty = false
                    else
                        this.empty = true
                    axios.post('/purchase/validateBagToSell').then(resp => {
                        //send feedback to cart problems
                    })
                }
            })
        },
        addToCart(id) {            
            let bone = {product: id, quantity: 1}
            let orderDetails = []
            let amount = 0
            for (let index = 0; index < this.products.length; index++) {
                if(this.products[index]._id == id){
                    amount = this.products[index].prices['public']                    
                }
            }
            orderDetails.push(bone)
            axios.post('/purchase/store', {orderDetails, totalAmount: amount, purchaseType: 'public'}).then(resp => {
                if(resp.data.status == 'success') {
                    this.getMyCart()
                    this.$notify({
                        title: 'Ok!',
                        message: 'Producto agregado al carrito',
                        type: 'success'
                    });
                }
                else{
                    this.$notify({
                        title: "Error :'(",
                        message: resp.data.data,
                        type: 'error'
                    });
                }
            })
            // this.myCart.orderDetails.push(bone)
        },
        quitToCart(id) {
            let bone = {product: id}
            let orderDetails = []
            orderDetails.push(bone)

            axios.post('/purchase/quitToCart', {orderDetails}).then(resp => {
                // console.log(resp)
                if(resp.data.status == 'success')
                    this.getMyCart()
            })
        },
        redirectReg()
        {
            location.href = '/auth/register'
        }
    }
}
</script>

