<template>
    <div class="cont  mb-0">
        <navec-component></navec-component>
        <div class="container px-2 pt-2" style="top:63px;position:relative">
         <h4 class="text-center poppins text-dark font-weight-bold text-uppercase">Listado de pedidos</h4> 
        <hr class="bg-dark-blue">
        <div class="d-flex justify-content-center">
            <el-date-picker
            class="w-80 mb-4"
            v-model="dateRange"
            type="daterange"
            align="center"
            unlink-panels
            range-separator="-"
            start-placeholder="Desde"
            end-placeholder="Hasta"
            :picker-options="pickerOptions"
            :default-time="['00:00:00', '23:59:59']"
            >
            </el-date-picker> 
        </div> 
         <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">  
                    <template slot="prepend">Buscar</template>
        </el-input> 
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="orders" :filters="filters" class="mb-2" >
            <el-table-column prop="paymentRef" label="Código" header-align="center" align="center" width="270"></el-table-column>
            <el-table-column prop="dni" label="N° ID" header-align="center" align="center" width="120">
                <template slot-scope="scope">
                    {{scope.row.buyer.dni.dni}}
                </template>
            </el-table-column>
            <!-- <el-table-column prop="seller" label="Vendedor" header-align="center" align="center" width="190">
                <template slot-scope="scope">
                    {{scope.row.seller.name}}
                </template>
            </el-table-column> -->
            <el-table-column prop="name" label="Comprador" header-align="center" align="center" width="220">
                <template slot-scope="scope">
                    {{scope.row.buyer.name}}
                    <el-popover
                            placement="bottom"
                            width="300"
                            trigger="click"
                            >
                            <p class="poppins-bold mb-0 text-center">Info. Adicional</p>
                            <hr class="my-2">
                            <p class="poppins mb-0"><strong>e-mail: </strong> <span class="poppins-light">{{ scope.row.buyer.mail}}</span></p>
                            <hr class="my-2">
                            <p class="poppins mb-0"><strong>Teléfono: </strong><span class="poppins-light">{{ scope.row.buyer.phone}}</span></p>
                            <hr class="my-2">
                            <p class="poppins mb-0"><strong>Dirección: </strong><span class="poppins-light">{{scope.row.buyer.address}}</span></p>
                           <el-button icon="el-icon-info" slot="reference" size="mini" circle></el-button>
                        </el-popover>
                </template>
            </el-table-column>
            <!-- <el-table-column prop="address" label="Dirección Envio" header-align="center" align="center">
                <template slot-scope="scope">
                    {{scope.row.buyer.address}}
                </template>
            </el-table-column> -->
            <el-table-column prop="totalAmount" label="Total" header-align="center" align="center" width="160">
                <template slot-scope="scope">
                    <span>{{'$ '+scope.row.totalAmount.toLocaleString('de-DE')}}</span>
                </template>  
            </el-table-column>
            <el-table-column prop="status" label="Estado" header-align="center" align="center" width="70">
                <template slot-scope="scope">
                   <el-tooltip content="En Preparación" placement="top"><el-tag effect="dark" type="warning" v-if="scope.row.internalStatus.status == 'waiting'"><i class="el-icon-timer"></i></el-tag></el-tooltip>
                    <el-tooltip content="Listo para envio" placement="top"><el-tag effect="dark"  v-if="scope.row.internalStatus.status == 'ready'"><i class="el-icon-s-claim"></i></el-tag></el-tooltip>
                    <el-tooltip content="Enviado" placement="top"><el-tag effect="dark" type="info" v-if="scope.row.internalStatus.status == 'delivered'"><i class="el-icon-s-promotion"></i></el-tag></el-tooltip>
                    <el-tooltip content="recibido" placement="top"><el-tag effect="dark" type="success" v-if="scope.row.internalStatus.status == 'received'"><i class="el-icon-box"></i></el-tag></el-tooltip>
                </template>  
            </el-table-column>
            <el-table-column prop="payDate" label="Fecha" sortable="custom" header-align="center" align="center" width="100">
                <template slot-scope="scope">
                    <span>{{scope.row.payDate.split('T')[0]}}</span>
                </template>
            </el-table-column>
            <el-table-column  label="Acciones" width="120" header-align="center" align="center">
                <template slot-scope="scope">
                    <el-button-group>
                        <el-tooltip content="Información detallada" placement="top">
                            <el-button type="primary" size="small" icon="el-icon-s-order" @click="dialogDetails(scope.row)"></el-button>
                        </el-tooltip>
                        <el-tooltip content="Cambiar estados" placement="top">
                            <el-button type="primary" size="small" icon="el-icon-open" @click="dialogStatus(scope.row)"></el-button>
                        </el-tooltip>
                    </el-button-group> 
                </template>    
            </el-table-column>
        </data-tables>
        <!---------------------------------------------------------- MODAL DETAILS ORDER------------------------------------------------------------->
        <el-dialog
            title=""
            :visible.sync="modalDetail"
            width="60%"
            top="2vh"
            :before-close="handleCloseDetails"
            :close-on-click-modal="outModal" 
            :close-on-press-escape="escModal"
            :lock-scroll="false"
            >
                <div slot="title" class="clearfix text-center">
                    <span class="poppins-bold text-secondary">Detalles orden de compra</span>
                    <span class="poppins-light text-secondary">{{"("+infoOrder.ref+")"}} </span>                         
                </div>
                <p class="poppins"><strong>Código referencia de pago:</strong>&nbsp;{{infoOrder.paymentRefCode}}</p>
                <el-divider content-position="left">Info. Comprador</el-divider>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <p><strong>Nombre:</strong>&nbsp;{{infoOrder.buyer.name}}</p>
                        <p><strong>{{infoOrder.buyer.dni.dniType}}:</strong>&nbsp;{{infoOrder.buyer.dni.dni}}</p>
                        <p><strong>Dirección:</strong>&nbsp;{{infoOrder.buyer.address}}</p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p><strong>Teléfono:</strong>&nbsp;{{infoOrder.buyer.phone}}</p>
                        <p><strong>E-mail:</strong>&nbsp;{{infoOrder.buyer.mail}}</p>
                         <p><strong>Estado de la orden:</strong>&nbsp;<el-tag effect="dark" type="warning" v-if="infoOrder.status == 'waiting'"><i class="el-icon-timer"></i>&nbsp;En preparación</el-tag>
                        <el-tag effect="dark"  v-if="infoOrder.status == 'ready'"><i class="el-icon-s-claim"></i>&nbsp;Listo para envio</el-tag>
                        <el-tag effect="dark" class="mr-1" type="info" v-if="infoOrder.status == 'delivered'"><i class="el-icon-s-promotion"></i>&nbsp;Enviado</el-tag> <el-tag type="info" v-if="infoOrder.dateDelivery && infoOrder.status == 'delivered'">{{infoOrder.dateDelivery.split('T')[0]}}</el-tag>
                        <el-tag effect="dark" type="success" v-if="infoOrder.status == 'received'"><i class="el-icon-box"></i>&nbsp;Recibido</el-tag></p>
                    </div>                    
                    <div v-if="infoOrder.seller" class="col-12">
                        <p class="text-info mb-3"><strong>Vendedor:</strong>&nbsp;{{infoOrder.seller.name}}</p>
                    </div>
                    <!-- <el-tag v-if="infoOrder.seller" class="mx-4" effect="plain">{{infoOrder.seller.name}}</!--> 
                </div>                
                <el-divider content-position="left">Productos</el-divider>
                <data-tables :table-props="tableProps" :data="infoOrder.orderDetails" :page-size="5" :pagination-props="{ pageSizes: [3,4,5] }" >
                    <el-table-column prop="code" label="Código" header-align="center" align="center"></el-table-column>
                    <el-table-column prop="product" label="Producto" header-align="center" align="center"></el-table-column>
                     <el-table-column prop="quantity" label="Cantidad" header-align="center" align="center"></el-table-column>
                    <el-table-column prop="price" label="Precio" header-align="center" align="center">
                        <template slot-scope="scope">
                            <p class="poppins" v-if="infoOrder.buyer.userType == 'rec'">{{scope.row.prices.rec.toLocaleString('de-DE')}}</p>
                            <p class="poppins" v-else>{{scope.row.prices.public.toLocaleString('de-DE')}}</p>
                        </template>
                    </el-table-column>
                </data-tables>
                
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="handleCloseDetails" size="small"  effect="dark" class="poppins">Regresar</el-button>
                </span>
            </el-dialog>
             <!---------------------------------------------------------- MODAL CHANGE STATUS------------------------------------------------------------->
             <el-dialog
            title=""
            :visible.sync="modalStatus"
            width="50%"
            top="6vh"
            :before-close="handleCloseStatus"
            :close-on-click-modal="outModal" 
            :close-on-press-escape="escModal"
            >
                <div slot="title" class="clearfix text-center">
                    <span class="poppins-bold text-secondary">Estado orden de compra</span>
                    <span class="poppins-light text-secondary">{{"("+infoStatus.ref+")"}} </span>                         
                </div>
                <p class="poppins"><strong>Código referencia de pago:</strong>&nbsp;{{infoStatus.paymentRefCode}}</p>
                <el-divider><i class="el-icon-shopping-bag-1"></i></el-divider>
                <h5 class="poppins">Compra hecha por :</h5>
                <p><strong>Nombre:</strong>&nbsp;{{infoStatus.buyer.name}}</p>
                <p><strong>{{infoStatus.buyer.dni.dniType}}:</strong>&nbsp;{{infoStatus.buyer.dni.dni}}</p>
                <p><strong>Dirección:</strong>&nbsp;{{infoStatus.buyer.address}}</p>
                 
                <el-divider content-position="left">Cambiar estado</el-divider>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label for="" class="poppins">Estado:</label>
                        <el-select v-model="infoStatus.status" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Estados">
                            <el-option
                            v-for="item in infoStatus.selectStatus"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                            <span class="float-left">{{item.label}}</span>
                            <el-tag size="mini" class="float-right my-1" effect="dark" :type="item.type"><i :class="item.icon"></i></el-tag>   
                            </el-option>
                        </el-select>
                    </div>
    

                    <div class="col-lg-4 col-sm-12" v-if="infoStatus.status == 'delivered'">
                        <label for="" class="poppins">Fecha Envio</label>
                        <!-- <input type="date" class="form-control" v-model="infoStatus.dateDelivery"> -->
                        <el-date-picker
                        v-model="infoStatus.dateDelivery"
                        type="date"
                        placeholder="Fecha de envio"
                        format="yyyy/MM/dd">
                        </el-date-picker>
                    </div>
                </div>
                <span slot="footer" class="dialog-footer">
                    <el-button type="info" @click="handleCloseStatus" size="small"  effect="dark" class="poppins">Regresar</el-button>
                    <el-button type="primary" @click="valFormStatus" size="small"  effect="dark" class="poppins">Guardar Cambios</el-button>
                </span>
            </el-dialog>   
        </div>
    </div>
</template>
<script>
import { setTimeout } from 'timers';
export default {
    data() {
        return {
             dateRange: '',
            pickerOptions: {
            shortcuts: [{
                text: 'Ultima semana',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimo mes',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimos 3 meses',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                picker.$emit('pick', [start, end]);
                }
            }]
            },
            
            orders:[],
            dataOrders:[],
            loading:false,
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            filters: 
            [
                {
                    filterFn: (row, filter) => {
                        return Object.keys(row).some(prop => {
                            if(prop === 'paymentRef') {
                                let convert = row.paymentRef.toString()
                                return convert.indexOf(filter.value) > -1
                            }
                            else if(prop === 'buyer') {
                                let m = filter.value.toLowerCase()                
                                let val = this.removeAccents(filter.value)
                                let convert = row.buyer.dni.dni.toString()
                                let r = this.removeAccents(row.buyer.name.toLowerCase()) 
                                return r.toLowerCase().indexOf(val) > -1 || convert.indexOf(filter.value) > -1
                            }
                            else if(prop === 'payDate') {
                                let convert = row.payDate.toString()
                                return convert.indexOf(filter.value) > -1
                            }
                        })
                     
                    }
                }
            ],
            modalDetail:false,
            modalStatus:false,
            outModal:false,
            escModal:false,
            infoOrder:{
                ref:'',
                buyer:{
                    name:'',
                    address:'',
                    phone:'',
                    mail:'',
                    dni:{
                        dni:'',
                        dniType:''
                    },
                    userType:'' 
            },
           
                total:'',
                orderDetails:[],
                status:'',
                dateDelivery:null,
                paymentRefCode:'',
                seller: null
            },            
            infoStatus:{
                _id:'',
                ref:'',
                paymentRefCode:'',    
                buyer:{
                    name:'',
                    address:'',
                    dni:{
                        dni:'',
                        dniType:''
                    }
            },
            status:'',
            tempStatus:'',
            dateDelivery:null,
            selectStatus:[
                {label:'En Preparación',value:'waiting',type:'warning',icon:'el-icon-timer'},
                {label:'Listo para envio',value:'ready',type:'', icon:'el-icon-s-claim'},
                {label:'Enviado',value:'delivered',type:'info', icon:'el-icon-s-promotion'},
                {label:'Recibido',value:'received',type:'success', icon:'el-icon-box'},
                ]
            }
        }    
    },
    watch:{
        'dateRange': function (newVal) { 
            if(newVal != null){
                let startDate = Date.parse(newVal[0])
                let endDate = Date.parse(newVal[1])
                
                 this.orders = []              
                for (const key in this.dataOrders) {
                    let rangeDate = Date.parse(this.dataOrders[key].payDate)
                    if(rangeDate >= startDate && rangeDate <= endDate) {
                            
                        this.orders.push(this.dataOrders[key])
                    }                  
                }
                                              
            } else {
                this.orders = this.dataOrders
            } 
        },
    },
    mounted() {
        this.getOrders()
        this.dateRange = null
    },
    methods: {
        removeAccents(s) {
            var r=s.toLowerCase();
            r = r.replace(new RegExp(/\s/g),"");
            r = r.replace(new RegExp(/[àáâãäå]/g),"a");
            r = r.replace(new RegExp(/[èéêë]/g),"e");
            r = r.replace(new RegExp(/[ìíîï]/g),"i");
            r = r.replace(new RegExp(/ñ/g),"n");                
            r = r.replace(new RegExp(/[òóôõö]/g),"o");
            r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
            return r;
        },
        getOrders() {
            this.orders = []
            this.dataOrders = []
            axios.post('/purchase/allOrders').then((resp) => {
                let data_ = this.$myCryptor.decode(resp.data.data)
                console.log(data_)
                if(resp.data.status == 'success')
                {
                    for (let index = 0; index < data_.length; index++) {
                       this.dataOrders.push(data_[index])   
                    }
                }
            })
        },
        dialogDetails(obj)
        {
            this.infoOrder.ref = ''
            this.infoOrder.buyer.name = ''
            this.infoOrder.buyer.address = ''
            this.infoOrder.buyer.phone = ''
            this.infoOrder.buyer.mail = ''
            this.infoOrder.buyer.dni.dni = ''
            this.infoOrder.buyer.dni.dniType = ''
            this.infoOrder.buyer.userType = ''
            this.infoOrder.total = ''
            this.infoOrder.orderDetails = []
            this.infoOrder.seller = null
            this.infoOrder.status = ''
            this.infoOrder.dateDelivery = null
            this.infoOrder.paymentRefCode = ''

            this.modalDetail = true
            this.infoOrder.ref = obj.paymentRef
            this.infoOrder.buyer.name = obj.buyer.name
            this.infoOrder.buyer.address = obj.buyer.address
            this.infoOrder.buyer.phone = obj.buyer.phone
            this.infoOrder.buyer.mail = obj.buyer.mail
            this.infoOrder.buyer.dni.dni = obj.buyer.dni.dni
            this.infoOrder.buyer.dni.dniType = obj.buyer.dni.dniType
            this.infoOrder.buyer.userType = obj.buyer.userType
            this.infoOrder.total = obj.totalAmount
            this.infoOrder.seller = obj.seller
            this.infoOrder.status = obj.internalStatus.status
            this.infoOrder.dateDelivery = obj.internalStatus.deliveryDate
            for (let index = 0; index < obj.orderDetails.length; index++) {
               this.infoOrder.orderDetails.push(obj.orderDetails[index])     
            }
            if(obj.paymentRefCode)
                this.infoOrder.paymentRefCode = obj.paymentRefCode
            else
                this.infoOrder.paymentRefCode = 'Ninguno'    
        },
        handleCloseDetails()
        {
            this.infoOrder.ref = ''
           this.infoOrder.buyer.name = ''
            this.infoOrder.buyer.address = ''
            this.infoOrder.buyer.phone = ''
            this.infoOrder.buyer.mail = ''
            this.infoOrder.buyer.dni.dni = ''
            this.infoOrder.buyer.dni.dniType = ''
            this.infoOrder.buyer.userType = ''
            this.infoOrder.total = ''
            this.infoOrder.seller = null
            this.infoOrder.orderDetails = []
            this.infoOrder.status = ''
            this.infoOrder.dateDelivery = null
            this.infoOrder.paymentRefCode = ''
            this.modalDetail = false
        },
        dialogStatus(obj)
        {
            this.infoStatus._id = ''
            this.infoStatus.ref = ''
            this.infoStatus.buyer.name = ''
            this.infoStatus.buyer.address = ''
            this.infoStatus.buyer.dni.dni = ''
            this.infoStatus.buyer.dni.dniType = ''
            this.infoStatus.buyer.userType = ''
            this.infoStatus.total = ''
            this.infoStatus.status = ''
            this.infoStatus.tempStatus = ''
            this.infoStatus.dateDelivery = null
            this.infoStatus.paymentRefCode = ''

            this.modalStatus = true
            this.infoStatus._id = obj._id
            this.infoStatus.ref = obj.paymentRef
            this.infoStatus.buyer.name = obj.buyer.name
            this.infoStatus.buyer.address = obj.buyer.address
            this.infoStatus.buyer.dni.dni = obj.buyer.dni.dni
            this.infoStatus.buyer.dni.dniType = obj.buyer.dni.dniType
            this.infoStatus.status = obj.internalStatus.status
            this.infoStatus.tempStatus = obj.internalStatus.status
            this.infoStatus.total = obj.totalAmount
            if(obj.internalStatus.deliveryDate)
                this.infoStatus.dateDelivery = obj.internalStatus.deliveryDate.split('T')[0]
            if(obj.paymentRefCode)
                this.infoStatus.paymentRefCode = obj.paymentRefCode
            else
                this.infoStatus.paymentRefCode = 'Ninguno'   
        },
        handleCloseStatus(){
            this.infoStatus._id = ''
            this.infoStatus.ref = ''
            this.infoStatus.buyer.name = ''
            this.infoStatus.buyer.address = ''
            this.infoStatus.buyer.dni.dni = ''
            this.infoStatus.buyer.dni.dniType = ''
            this.infoStatus.buyer.userType = ''
            this.infoStatus.total = ''
            this.infoStatus.status = ''
            this.infoStatus.tempStatus = ''
            this.infoStatus.dateDelivery = null
            this.infoStatus.paymentRefCode = ''

            this.modalStatus = false  
        },
        valFormStatus(){
            if(this.infoStatus._id && this.infoStatus.status && this.infoStatus.status == 'delivered')
            {
                if(this.infoStatus.dateDelivery)
                    this.changeStatus()
                else
                {
                    this.$message({
                        showClose: true,
                        message: 'Debe asignar una fecha de envio',
                        type: 'error'
                        });
                }    
            }
            else if(this.infoStatus._id && this.infoStatus.status && this.infoStatus.status != 'delivered')
            {
                this.changeStatus()
            }
        },
        changeStatus()
        {
            let data = {
                id:this.infoStatus._id,
                internalStatus:{
                    status:this.infoStatus.status,
                    deliveryDate:this.infoStatus.dateDelivery
                }
            }
            let datast = this.$myCryptor.encode(data)
            let stold = this.infoStatus.tempStatus
            axios.post('/purchase/upStatus',{data:datast}).then((resp) => {
                if(resp.data.status == 'success')
                {   
                    let data_ = this.$myCryptor.decode(resp.data.data)
                    let status = data_.internalStatus.status 
    
                    // this.modalStatus = false
                    this.handleCloseStatus()
                
                    this.$swal.fire({
                        title: 'Cambio de estado exitoso!',
                        html:'<p>EL estado del pedido ha sido cambiado. Revise el nuevo estado asignado</p>',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                    
                    this.getOrders()
                    this.orders = this.dataOrders
                   
                   
                }
                else {
                    // this.modalStatus = false
                    this.handleCloseStatus()
                    this.$swal.fire({
                        title: 'Ups! Ocurrio un error inesperado!',
                        text:'Intentalo más tarde',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                }        
            })
        }

    }
}
</script>