<template>
    <div class="cont">        
        <nav class="sideM primary-color shadow-c">
            <p onclick="location.href = '/'" class="mt-3 pb-3 text-center mb-0"><img src="/img/ico.png" alt=""></p>
            <el-divider content-position="center">Impha</el-divider>
            <ul>
                <li>
                    <el-tooltip class="item" effect="dark" content="Ir a comprar" placement="right">
                        <a @click.prevent="redirectHome">
                            <i class="el-icon-sell"></i>
                        </a>
                    </el-tooltip>
                </li>
                <li v-if="isLogged" @click="aside.show = !aside.show; aside.cart = !aside.cart">
                    <el-tooltip class="item" effect="dark" content="Mi carrito" placement="right">
                        <a href="#!" :class="{'active-item-side': aside.cart}">
                            <i class="el-icon-shopping-cart-2"></i>
                        </a>
                    </el-tooltip>
                </li>                
                <li v-if="isLogged">
                    <el-tooltip class="item" effect="dark" content="Mis compras" placement="right">
                        <router-link to="/dash/orders">
                            <i class="el-icon-box"></i>
                        </router-link>
                    </el-tooltip>
                </li>
                <li v-if="!isLogged">
                    <el-tooltip class="item" effect="dark" content="Iniciar sesion" placement="right">
                        <a href="/auth/login">
                            <i class="el-icon-user"></i>
                        </a>
                    </el-tooltip>
                </li>
                <li v-if="isLogged">
                    <el-tooltip class="item" effect="dark" content="Configuración" placement="right">
                        <router-link to="/dash/profile">
                            <i class="el-icon-setting"></i>
                        </router-link>
                    </el-tooltip>
                </li>
                <li class="sign-out position-absolute fixed-bottom" v-if="isLogged">
                    <el-tooltip class="item" effect="dark" content="salir" placement="right">
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </el-tooltip>
                </li>
            </ul>
        </nav>
        <div class="backdrop-b fade-in" @click="aside.show = false; aside.cart = false" v-if="aside.show"></div>
        <aside v-if="aside.show" class="swing-in-left-fwd shadow aside">
            <h4 class="poppins px-3 text-dark mb-0 py-4 border-bottom cart">
                <span class="text-gradient" style="letter-spacing:4px;">Carrito</span> <i @click="aside.show = false; aside.cart = false" class="mt-1 el-icon-close float-right"></i>
            </h4>
            <div class="empty text-center mt-4" v-if="empty">
                <h5 class="poppins-light text-center text-gradient">Tu carrito esta vacio :(</h5>
                <img src="/img/new-cart.svg" alt="" class="empty-cart mt-3">                
                <p class="mb-0 text-center mt-4">
                    <el-button type="primary" @click="aside.show = false; aside.cart = false" class="shadow-button">empieza a comprar!</el-button>
                </p>
                <!-- <p class="mt-3">
                    <small class="poppins-light">Obtendras puntos de compra <br> siendo usuario de <strong>OPTIRIS</strong></small>
                </p> -->
            </div>
            <div class="cart-body" v-else>
                <div class="cart-action">
                    <span class="cart-total">
                        <small>$</small>{{myCart.totalAmount.toLocaleString('de-DE')}}
                    </span>
                    <a href="/#/dash/cart" style="text-decoration:none;" class="el-button shadow-button-h el-button--primary">
                        <span>Confirmar <i class="el-icon-check"></i></span>
                    </a>
                </div>
                <ul class="shopping-cart-items">
                    <!-- Item -->
                    <li class="clearfix" v-for="(product, index) in myCart.orderDetails" :key="index">
                        <img :src="'/img/products/'+product.image" alt="">
                        <span class="item-meta">
                            <span class="item-name">{{product.name}}</span>
                            <span class="item-price">${{product.price.toLocaleString('de-DE')}}</span>
                        </span>
                        <span class="quantity">
                            <el-tag                                
                                type="primary"
                                effect="plain">
                                {{product.quantity}} Und
                            </el-tag>
                        </span>
                        <el-tooltip class="item" effect="dark" content="Remover del carrito" placement="right">
                            <span class="remove-item" @click.prevent="quitToCart(product._id)">                            
                                <i class="el-icon-sold-out remove-item-i"></i>                            
                            </span>
                        </el-tooltip>
                    </li>                                       
                </ul>
            </div>
        </aside>
        <div class="body">
            <div class="containe">                                    
                <div class="product-panel">
                    <!-- Left Header -->
                    <div class="panel-header" style="z-index: -1;">
                        <div class="points"  v-if="!isLogged">
                            <!-- <span class="poppins">{{productInfo.points}}</span>  -->
                            <!-- <span class="poppins-light">Puntos</span>                            -->
                             <el-tooltip content="volver a la tienda 🛒" placement="bottom" effect="dark">
                                <el-button size="medium" type="info" plain icon="el-icon-s-shop" @click="redirectHome"></el-button>
                             </el-tooltip>
                        </div>
                    </div>
            
                    <!-- Product image -->
                    <div id="product-view" class="product-image translateLeft">
                        <el-image @click="previmg()" class="animated fadeIn imgg shadow-cc"
                            style="width: 100%;height: auto;max-height: 300px;max-width: 450px;"
                            :src="'img/products/'+zoomImg" 
                            :preview-src-list="['img/products/'+zoomImg]">
                            <div slot="error" class="image-slot">
                                <i class="el-icon-picture-outline"></i>
                            </div>
                        </el-image>
                        <hr class="mt-2 mb-3" v-if="previ">
                        <div class="prevI position-relative animated fadeInDown" v-if="previ">
                            <el-image v-for="(image, index) in productInfo.images" :key="index"
                            style="width: 60px; height: 60px;margin:0px 4px;"
                            class="img-thumbnail shadow-button-h"
                            :src="'img/products/'+image"
                            @click="zoomImg = productInfo.images[index]"
                            :fit="'cover'">
                                <div slot="error" class="image-slot">
                                    <i class="el-icon-picture-outline"></i>
                                </div>
                            </el-image>
                        </div>
                        <!-- <div class="details-carousel">
                            <div class="it" v-for="(image, index) in productInfo.images" :key="index">
                                <img :src="'img/products/'+image" :alt="(index+55)">
                            </div>
                        </div>
                        <div class="details-carousel-for mt-4">
                            <div class="itt" v-for="(image, index) in productInfo.images" :key="index">
                                <img :src="'img/products/'+image" :alt="(index+24)">
                            </div>
                        </div> -->
                    </div>                           
                </div>  
                <div class="product-info-panel">
                    <div class="inner-panel">
                        <div class="panel-header">
                            <!-- Title -->
                            <div class="category-title">
                                <i class="el-icon-price-tag" style="transform: rotate(90deg);font-size: 20px;position: relative;top: -4px;"></i>                                             
                                <h2>{{productInfo.category}}</h2>
                            </div>
                        </div>
                        <!-- Panel body -->
                        <div class="panel-body">
                            <el-alert
                                v-if="!isLogged"
                                title="Recuerda iniciar sesion para poder comprar, o si no estas registrado crea una cuenta"
                                type="warning"
                                class="mb-2"
                                :closable="false">
                            </el-alert>
                            <!-- Product Meta -->
                            <h3 class="product-name">{{productInfo.name}} <span>{{productInfo.slogan}}</span></h3>
                            <p class="product-description">{{productInfo.description}}</p>
                            <el-divider></el-divider>
                            <article class="pay-methods-row">
                                <div class="ui-icon--content">
                                    <i class="el-icon-bank-card"></i>
                                </div>
                                <div class="payment-info">
                                    <p class="payment-list">
                                        <span class="highlight-info"> Opciones de pago</span>		 
                                    </p>
                                    <p class="creditcards">
                                        <label data-block="methods">					
                                            <span class="cardd payments-small _visa-small" alt="visa"></span>			
                                            <span class="cardd payments-small _master-small" alt="master"></span>			
                                            <span class="cardd payments-small _amex-small" alt="amex"></span>		
                                            <span class="cardd payments-small _pse-small" alt="pse"></span>		
                                        </label>
                                    </p>
                                </div>
                            </article>
                            <el-divider></el-divider>
                            <!-- Product controls -->
                            <div class="product-controls">
                                <!-- Price -->
                                <div class="product-price">
                                    <div class="heading">Precio</div>
                                    <div class="value">${{productInfo.prices.first.toLocaleString('de-DE')}}</div>
                                    <div class="value-discount" v-if="false" >${{productInfo.prices.second.toLocaleString('de-DE')}}</div>
                                </div>
                                <!-- Quantity -->
                                <div class="product-quantity">
                                    <div class="heading has-text-centered">Cantidad</div>
                                    <div class="control">
                                        <input type="number" class="num-details" v-model="quantity">
                                    </div>
                                </div>
                                <!-- Add to Cart -->
                                <div class="add-to-cart">
                                    <div class="heading">-</div>
                                    <button v-if="isLogged" @click.prevent="addToCart(productInfo.id, quantity)" class="el-button shadow-button-h el-button--primary">Agregar al Carrito <i class="el-icon-plus"></i></button>
                                    <el-button v-else  type="primary" class="" @click="formReg">Agregar al Carrito <i class="el-icon-plus"></i></el-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>      
        </div>
        <!------------------------------------------------------- DIALOG REGISTER USER ------------------------------------------------------>
            <!-- <el-dialog
            :visible.sync="dialogRegUser"
            width="70%"
            top="8vh"
            :close-on-click-modal="false" 
            :close-on-press-escape="false"
            :before-close="handleBeforeClose"
            :show-close="false"
            >
            <div slot="title" class="poppins text-secondary text-center my-0">Te invitamos a registrarte para que puedas adquirir nuestros productos!.</div>
            <div>
                <el-steps :active="activeInModal" class="my-0 mx-auto step-modal" :space="300" simple>
                        <el-step title="Información básica" :status="statusStepBIM"></el-step>
                        <el-step title="Información de contacto" :status="statusStepCIM"></el-step>
                        <el-step title="Información de cuenta" :status="statusStepAUTH"></el-step>
                        <el-step title="Finalizar" :status="statusStepEnd"></el-step>
                    </el-steps>
               <el-form v-loading="button.register.loading">
                    <div class="w-100 row" v-if="activeInModal == 0">
                        <div class="col-lg-6 col-sm-12 mb-1">
                        <label for="">Tipo de Identificación:</label>
                            <el-select class="col-lg-12 pl-0 mx-0 px-0" v-model="regUser.dni.dniType" clearable placeholder="Seleccione una opción">
                                <el-option
                                v-for="item in dni" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-1">
                            <label for="">N° de identificación</label>
                            <el-input type="text" name="dni" v-model="regUser.dni.dni" :disabled="regUser.dni.dniType == '' ? true:false"></el-input>
                            <div class="poppins mt-1 d-none" :class="{'text-danger':validations.dni.status,'d-block':validations.dni.status == true || validations.dni.status == false,'text-success':!validations.dni.status}"  style="font-size:80%">
                                    {{ validations.dni.text }}
                                </div>
                        </div>
                    
                        <div class="col-lg-6 col-sm-12 mb-1">
                                <label for="">Nombre:</label>
                                <el-input type="text" name="first" v-model="regUser.name.first"></el-input>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-1">
                            <label for="">Apellidos:</label>
                            <el-input type="text" name="lfirst" v-model="updateUser.name.lfirst"></el-input>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-1">
                            <label for="">Género:</label>
                            <el-input type="text" name="gender" v-model="regUser.gender"></el-input>
                        </div>
                        <div class="col-lg-8 col-sm-12">
                            <el-alert
                                title="Verifique que todos los campos esten  llenos y se hayan diligenciado correctamente"
                                type="error"
                                show-icon v-if="statusStepBIM == 'error'" 
                                :closable="false"
                                style="margin-top:2em">
                            </el-alert>
                        </div>
                    
                    </div>
                    <div class="w-100 row" v-if="activeInModal == 1">
                        <div class="col-lg-4 mb-2 col-sm-12 col-md-6 px-1 mb-3">
                            <label for="dep">Departamento </label>                        
                            <el-select v-model="location.dep" class="w-100" placeholder="Selecione una opción" name="departamento">
                                <el-option v-for="(loc, index) in dept" :key="index" :label="loc.departamento" :value="loc.departamento+'/'+index"></el-option>
                            </el-select>
                        </div>
                        <div class="form-group col-lg-4 px-2 col-md-6 px-1 mb-3">
                            <label for="town1">Ciudad </label>            
                            <el-select  v-model="regUser.address.city" class="w-100" placeholder="Selecione una opción" name="ciudad" :disabled="location.dep == null">
                                <el-option v-for="(town, index) in cit" :key="index" :label="town" :value="town"></el-option>
                            </el-select>
                        </div>
                        <div class="col-12 mb-2 col-lg-4 px-1 col-md-6 px-1 mb-3" id="address">
                            <label for="">Dirección </label>
                            <input type="text" class="form-control" name="address-01" v-model="regUser.address.addInfo">
                        </div>
                        
                        <div class="col-lg-5 col-sm-12 mb-2">
                            <label for="">Correo Eléctronico</label>
                            <el-input type="mail" name="mail" v-model="regUser.mail"></el-input>
                            <div class="poppins mt-1 d-none" :class="{'text-danger':validations.mail.status,'d-block':validations.mail.status,'text-success':!validations.mail.status}"  style="font-size:80%">
                                {{ validations.mail.text }}
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <label for="">Teléfono:</label>
                            <el-input type="text" name="phone" v-model="regUser.phone"></el-input>
                            <div class="poppins mt-1 d-none" :class="{'text-danger':validations.phone.status,'d-block':validations.phone.status}"  style="font-size:80%">
                                {{ validations.phone.text }}
                            </div>
                        </div>
                        <el-alert
                            title="Verifique que todo los campos esten llenos y se hayan diligenciado correctamente"
                            type="error"
                            show-icon 
                            v-if="statusStepCIM == 'error'"
                            :closable="false"
                            style="margin-top:2em">
                        </el-alert>
                    </div>
                    <div class="w-100 row" v-if="activeInModal == 2">
                         <div class="col-lg-4 col-md-6 px-1 mb-3">                
                            <label for="">Usuario</label>
                            <input type="text" class="form-control" name="user" :class="{'is-invalid border-danger': validations.user.status, 'is-valid':validations.user.status == false}" v-model="regUser.accessData.userCode" @change="uniqueUser">
                            <div class="poppins" :class="{'invalid-feedback':validations.user.status, 'valid-feedback': !response.validation_user.status}">
                                {{ validations.user.text }}
                            </div>                
                        </div>
                        <div class="col-lg-4 col-md-12 px-1 mb-3">
                            <label for="">Contraseña </label>
                            <el-input placeholder="" v-model="regUser.accessData.password" show-password clearable @change="validationPassword"></el-input>
                            <div class="poppins text-danger mt-1" v-if="validations.pass.status == true" style="font-size:80%">
                                {{ validations.pass.text }}
                            </div>  
                        </div>
                        <div class="col-lg-4 col-md-12 px-1 text-center" style="padding-top: 1.97rem!important;">
                            <el-button type="primary" :loading="response.charginButton" :disabled="response.charginButton" @click.prevent="valInputs">REGISTRAR</el-button>
                        </div>
                    </div>    
                    <div class="w-100 row" v-if="activeInModal == 3">
                        <div class="col-lg-6 col-sm-12">
                            <el-card shadow="never">
                                <div slot="header" class="clearfix text-center">
                                    <span class="text-info text-subtitles-bold">Información básica</span>
                                    <el-button type="" plain circle icon="el-icon-edit" size="mini" class="float-right" @click="activeInModal = 0"></el-button>                        
                                </div>

                                <p class="text-subtitles-bold-min spacing-p-bottom">Nombres:</p><p class="text-subtitles spacing-p-bottom">{{ updateUser.name.first+" "+updateUser.name.second }}</p>
                                <p class="text-subtitles-bold-min spacing-p-bottom">Apellidos:</p><p class="text-subtitles spacing-p-bottom">{{ updateUser.name.lfirst+" "+updateUser.name.lsecond }}</p>
                                <p class="text-subtitles-bold-min spacing-p-bottom">Tipo de identificación:</p><p class="text-subtitles spacing-p-bottom">{{ updateUser.dni.dniType }}</p>
                                <p class="text-subtitles-bold-min spacing-p-bottom">N° de identificación:</p><p class="text-subtitles spacing-p-bottom">{{ updateUser.dni.dni }}</p> 
                        
                                <p><strong class="mr-1 font-weight-bold">Género:</strong>{{ regUser.gender}}</p>
                                
                            </el-card>
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-1">
                                <el-card shadow="never">
                                    <div slot="header" class="clearfix text-center">
                                        <span class="text-info text-subtitles-bold">Contacto</span>
                                        <el-button type="" plain circle icon="el-icon-edit" size="mini" class="float-right" @click="activeInModal = 1"></el-button>
                                    </div>
                            
                                    <p class="text-subtitles-bold-min spacing-p-bottom">Número teléfonico:</p><p class="text-subtitles spacing-p-bottom">{{ updateUser.phone }}</p>
                                    <p class="text-subtitles-bold-min spacing-p-bottom">Correo eléctronico:</p><p class="text-subtitles spacing-p-bottom">{{ updateUser.mail }}</p>       
                                </el-card>
                            </div>

                    </div>
               </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button size="medium" @click="handleBeforeClose" v-if="!button.update.loading">Cancelar</el-button>
                <el-button size="medium" type="primary" @click="nextModal" v-if="activeInModal<2" >Siguiente</el-button>
                <el-button size="medium" type="primary" @click="valInputsUpUser" v-if="activeInModal === 2" :loading="button.update.loading" :disabled="button.update.disabled">Guardar cambios</el-button>
            </span>
        </el-dialog> -->
        <!--------------------------------------------------------END DIALOG REGISTER USER -------------------------------------------------->
    </div>
</template>
<script>
import { setTimeout } from 'timers';
export default {
    data() {
        return {
            isLogged: false,
            url: '',
            zoomImg: '',
            srclist: [],
            aside: 
            {
                show: false,
                cart: false
            },            
            empty: true,
            myCart: {
                pRef: '',
                totalAmount: 0,
                orderDetails: [],
                totalPoints: 0
            },
            previ: true,
            recentProducts: [],
            allProducts: [],
            userType: '',
            productToShow: '',
            productInfo: {
                id: '',
                prices: {
                    first: 0,
                    second: 0
                },
                name: '',
                category: '',
                description: '',
                slogan: '',
                points: 0,
                images: []
            },
            quantity: 1,
            //DATA REGISTER USER
            //utilities
            dialogRegUser:false,
            activeInModal:0,
            statusStepBIM:false,
            statusStepCIM:false,
            statusStepAUTH:false,
            button:{
                register:{
                    loading:false,
                    disabled:false
                }
            },
            //validations
            validations:{
                dni:{
                    status:null,
                    text:''
                },
                mail:{ 
                    status:null,
                    text:''        
                },
                phone:{
                    status:null,
                    text:''
                },
                user:{
                    status:null,
                    text:''
                },
                pass:{
                    status:null,
                    text:''
                }
            },
            //data
            regUser:{
                name:
                {
                    first:'',
                    last:''
                },
                gender:'',
                address:{
                    country:'Colombia',
                    city:'',
                    addInfo:''
                },
                dni:{
                    dniType:'',
                    dni:''
                },
                mail:'',
                phone:'',
                accessData:{
                    userCode: '',
                    password: ''
                }
            }            
        }
    },
    mounted(){
        this.sessdata()
        this.getProducts()        
        // setTimeout(() => {
        //     $('.details-carousel').slick({                
        //         arrows: false,
        //         dots: false,
        //         infinite: true,
        //         speed: 500,
        //         slidesToShow: 1,
        //         slidesToScroll: 1,
        //         adaptiveHeight: true,
        //         asNavFor: '.details-carousel-for'
        //     });
        //     $('.details-carousel-for').slick({
        //         slidesToShow: 4,
        //         slidesToScroll: 4,                
        //         centerMode: false,
        //         asNavFor: '.details-carousel',
        //         dots: false,   
        //         arrows: true,           
        //         focusOnSelect: true,
        //         responsive: 
        //         [
        //             {
        //             breakpoint: 1400,
        //             settings: {
        //                 slidesToShow: 4,
        //                 slidesToScroll: 4,
        //                 infinite: true,
        //                 centerMode: true,
        //                 dots: true,
        //                 arrows: true
        //             }
        //             },
        //             {
        //             breakpoint: 1024,
        //             settings: {
        //                 slidesToShow: 3,
        //                 slidesToScroll: 3,
        //                 infinite: true,
        //                 centerMode: true,
        //                 dots: true,
        //                 arrows: true
        //             }
        //             },
        //             {
        //             breakpoint: 600,
        //             settings: {
        //                 slidesToShow: 3,
        //                 centerMode: true,
        //                 slidesToScroll: 3
        //             }
        //             },
        //             {
        //             breakpoint: 480,
        //             settings: {
        //                 slidesToShow: 3,
        //                 centerMode: true,
        //                 slidesToScroll: 3,
        //                 infinite: true,
        //                 dots: true,   
        //                 arrows: false,
        //             }
        //             }
        //         ]   
        //     });
        // }, 500);
        this.productToShow = this.$route.params.id
    },
    methods: {
        previmg()
        {
            this.previ = false
            setTimeout(() => 
            {
                $('span.el-image-viewer__btn.el-image-viewer__close').click(() =>
                {
                    this.previ = true                    
                })    
            }, 600);
        },
        sessdata() {
            axios.post('/auth/sessdata', {fields: ['userType', 'name', 'mail']}).then(resp => 
            {
                if(resp.data.status == 'failed')
                    this.userType = 'public'
                else {
                    let res = this.$myCryptor.decode(resp.data.data);                                                        
                    this.userType = res[0]
                    this.isLogged = true    
                }           
            })
        },  
        getProducts(){
            axios.post('/product/getAll', {onlyActive: true}).then(resp => {
                if(resp.data.status == 'success') {
                    this.products = resp.data.data
                    for (let index = 0; index < this.products.length; index++) {
                        if(index <= 9){
                            let one = this.products[index]
                            this.recentProducts.push(one)
                        }
                    }
                    axios.post('/product/getAll', {onlyActive: false}).then(resp => {
                        if(resp.data.status == 'success') {
                            this.allProducts = resp.data.data
                            if(this.isLogged)
                                this.getMyCart()
                            this.setProductToShow()
                        }
                    })
                }
            })
        },
        setProductToShow() {
            for (let index = 0; index < this.allProducts.length; index++) {
                if(this.allProducts[index]._id === this.productToShow) {
                    this.productInfo.id = this.allProducts[index]._id
                    this.productInfo.name = this.allProducts[index].name
                    this.productInfo.description = this.allProducts[index].description
                    this.productInfo.slogan = this.allProducts[index].slogan
                    this.productInfo.prices.first = this.allProducts[index].prices['public']
                    this.productInfo.prices.second = this.allProducts[index].prices.public
                    this.productInfo.images = this.allProducts[index].images
                    for (const [key, value] of this.allProducts[index].images.entries()) 
                    {
                        this.srclist.push('img/products/'+value)
                    }
                    this.productInfo.category = this.allProducts[index].category
                    this.zoomImg = this.allProducts[index].images[0]
                    this.productInfo.points = Math.floor(this.allProducts[index].prices.rec/5000)

                    break;
                }
            }
        },
        getCategories(){
            axios.post('/product/category/getAll').then(resp => {
                if(resp.data.status == 'success') {
                    this.categories = resp.data.data
                }
            })
        },
        getMyCart() {
            axios.post('/purchase/getMyCart').then(resp => {
                if(resp.data.status == 'success') {
                    this.myCart.orderDetails = []
                    this.myCart.pRef = resp.data.data.paymentRef
                    this.myCart.totalAmount = resp.data.data.totalAmount
                    this.myCart.totalPoints = resp.data.data.totalPoints
                    for (let index = 0; index < resp.data.data.orderDetails.length; index++) {
                        for (let ind = 0; ind < this.allProducts.length; ind++) {
                            if(resp.data.data.orderDetails[index].product.toString() == this.allProducts[ind]._id) {
                                let price = 0
                                // if(this.userType == 'public')
                                    price = this.allProducts[ind].prices.public
                                // else
                                //     price = this.allProducts[ind].prices.rec
                                let bon = {
                                    _id: resp.data.data.orderDetails[index].product,
                                    price,
                                    name: this.allProducts[ind].name,
                                    image: this.allProducts[ind].images[0],
                                    quantity: resp.data.data.orderDetails[index].quantity
                                }
                                this.myCart.orderDetails.push(bon)
                                break;
                            }
                        }
                    }
                    if(resp.data.data.orderDetails.length > 0)
                        this.empty = false
                    else
                        this.empty = true
                    axios.post('/purchase/validateBagToSell').then(resp => {
                        //send feedback to cart problems
                    })
                }
            })
        },
        addToCart(id, quant) {            
            if(quant == 0)
                quant = 1
            let bone = {product: id, quantity: quant}
            let orderDetails = []
            let amount = 0
            for (let index = 0; index < this.products.length; index++) {
                if(this.products[index]._id == id){
                    amount = this.products[index].prices['public'] * quant                   
                }
            }
            orderDetails.push(bone)
            console.log(amount)
            axios.post('/purchase/store', {orderDetails, totalAmount: amount, purchaseType: 'public'}).then(resp => {
                if(resp.data.status == 'success') {
                    this.quantity = 1
                    this.getMyCart()
                    this.$notify({
                        title: 'Ok!',
                        message: 'Producto agregado al carrito',
                        type: 'success'
                    });
                }
                else{
                    this.$notify({
                        title: "Error :'(",
                        message: resp.data.data,
                        type: 'error'
                    });
                }
            })
            // this.myCart.orderDetails.push(bone)
        },
        quitToCart(id) {
            let bone = {product: id}
            let orderDetails = []
            orderDetails.push(bone)

            axios.post('/purchase/quitToCart', {orderDetails}).then(resp => {
                // console.log(resp)
                if(resp.data.status == 'success')
                    this.getMyCart()
            })
        },
        redirectHome()
        {
            location.href = '/'
        },
        formReg()
        {
            location.href = '/auth/login'
        }
    }
}
</script>