<template>
    <div class="cont">
        <navec-component></navec-component>
    <div class="container px-2 pt-2" style="top:63px;position:relative">
         <!--------------------------------------------- Modal Product ------------------------------------------------>
        <el-dialog
            title=""
            :visible.sync="modalVisiblePro"
            width="80%"
            :before-close="handleClosePro"
            top="8vh"
            :close-on-click-modal="outModal" 
            :close-on-press-escape="escModal"
            :show-close="!response.product.charginButton"
            >
            <div slot="title" class="clearfix text-center">
                <span class="poppins-bold text-secondary">Actualizar producto</span>
                <span class="poppins-light text-secondary">{{"("+titlePro+")"}} </span>                         
            </div>
            <el-form  :model="infoPro" ref="infoPro"  class="form-row" v-loading="response.product.charginButton">
                <div class="col-12 col-lg-4 mb-2 col-md-6">
                        <label for="code" class="poppins" >Código</label>
                        <el-input type="text" name="code" v-model="infoPro.data.code" @change="valCodeProduct"></el-input>
                        <div class="poppins"  v-if="validations.valCodePro.status">
                            <p class="text-danger poppins feedback">{{ validations.valCodePro.text }}</p>
                        </div>
                </div>
                <div class="col-12 col-lg-4 mb-2 col-md-6">
                    <label for="regsanitary" class="poppins" >Registro sanitario</label>
                    <el-input type="text" name="regsanitary" v-model="infoPro.data.sanitaryReg"></el-input>
                </div>
                <div class="col-12 col-lg-4 mb-2 col-md-6">
                    <label for="name" class="poppins" >Nombre</label>
                    <el-input type="text" name="name" v-model="infoPro.data.name"></el-input>
                </div>

                <div class="col-12 col-lg-6 mb-2 px-1 mt-1 col-md-6 ">
                    <label for="slogan" class="poppins" >Slogan</label>
                    <input name="slogan" class="el-input__inner" v-model="infoPro.data.slogan">
                </div>

                <div class="col-12 mb-2 col-lg-6 my-1 px-1 col-md-6" >
                    <label for="description" class="poppins">Descripción</label>
                    <el-input type="textarea" name="description" v-model="infoPro.data.description"></el-input>
                </div>
                <div class="col-12 mb-2 col-lg-4 my-1 px-1 col-md-4">
                    <label for="cat" class="poppins">Categoría:</label>                  
                    <el-select v-model="infoPro.data.category" class="col-lg-12 pl-0 mx-0 px-0 mb-1" placeholder="Selecione una categoria" name="category">
                        <el-option v-for="(cat,index) in category" :key="index" :label="cat.name" :value="cat._id"></el-option>
                    </el-select>            
                </div>
                <div class="col-12 mb-2 col-lg-4 px-1 col-md-4 mt-1" >
                    <label for="" class="poppins">Precio público </label>
                    <el-input type="text" name="public" v-model="infoPro.data.prices.public" @change="valFieldsNum('public')"></el-input>
                    <div class="poppins"  v-if="validations.valPP.status">
                                <p class="text-danger poppins feedback">{{ validations.valPP.text }}</p>
                    </div>
                </div>

                <div class="col-12 mb-2 col-lg-4 px-1 col-md-4 mt-1" >
                    <label for="" class="poppins">Precio afiliado </label>
                    <el-input type="text" name="rec" v-model="infoPro.data.prices.rec" @change="valFieldsNum('rec')"></el-input>
                    <div class="poppins"  v-if="validations.valPR.status">
                                <p class="text-danger poppins feedback">{{ validations.valPR.text }}</p>
                    </div>
                </div>

                <div class="col-12 mb-2 col-lg-12 px-1 col-md-12">
                    <hr>
                    <p class="text-secondary poppins-light">Subir imagenes de productos</p>
                </div>

                <div class="col-12 mb-2 col-lg-12 px-1 col-md-12">
                    <el-upload
                    action="/product/postTempData"
                    list-type="picture-card"
                    :file-list="productList"
                    :before-upload="ValUploadImg"
                    :on-remove="handleRemove" :on-change="view" ref="images" multiple :limit="4">
                    <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                </div>
                <!-- <div class="col-lg-12 item-center text-center">            
                    <el-button type="primary" :loading="response.charginButton" effect="dark" class="bg-btn poppins" @click.prevent="valInputsProd">Registrar</el-button>            
                </div>     -->
            </el-form>
            <span slot="footer" class="dialog-footer">
                    <el-button @click="handleClosePro" size="small" effect="dark" class="bg-btn poppins" :disabled="response.product.charginButton">Cancelar</el-button>
                    <el-button type="primary" @click.prevent="valInputsProd" size="small" :loading="response.product.charginButton" effect="dark" class="bg-btn poppins" :disabled="response.product.charginButton">Actualizar</el-button>
                </span>
        </el-dialog>  
         <!--------------------------------------------- Modal Stock ------------------------------------------------>
            <el-dialog
                title=""
                :visible.sync="modalVisible"
                width="30%"
                :before-close="handleClose"
                :close-on-click-modal="outModal" 
                :close-on-press-escape="escModal"
                :show-close="!response.stock.charginButton"
                >
               <div slot="title" class="clearfix text-center">
                <span class="poppins-bold text-secondary">Actualizar Stock</span>
                <span class="poppins-light text-secondary">{{"("+infoStock.name+")"}} </span>                         
            </div>
            <el-alert
                    title="Stock bajo"
                    description="Este producto esta a punto de terminarse!"
                    type="warning"
                    show-icon v-if="infoStock.stock <= 10">
            </el-alert>
            <form class="form-row mt-1 item-center text-center" v-loading="response.stock.charginButton">
                        <div class="form-group col-lg-12 mb-2 px-1">
                            <el-input-number v-model="infoStock.stock" :min="0"></el-input-number>
                        </div>  
            </form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="handleClose" size="small"  effect="dark" class="bg-btn poppins" :disabled="response.stock.charginButton">Cancelar</el-button>
                    <el-button type="primary" @click.prevent="updateStock" size="small" :loading="response.stock.charginButton" effect="dark" class="bg-btn poppins" :disabled="response.stock.charginButton">Actualizar</el-button>
                </span>
            </el-dialog>
         <!------------------------------------------ End Modal Stock ------------------------------------------------->
        <h4 class="text-center poppins text-dark font-weight-bold text-uppercase">Inventario de productos</h4> 
        <hr class="bg-dark-blue">
                <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">  
                    <template slot="prepend">Buscar</template>
                </el-input>
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="products" :filters="filters">
            <el-table-column prop="images" label="img" width="105"  header-align="center" align="center">
                <template slot-scope="scope">
                        <div class="text-center" style="width:100px;height:100px;">
                               <img :src="'../img/products/'+scope.row.images[0]" alt="" style="width:100px;height:100px;position:absolute;left:0;right:0;">
                        </div>
                </template>
            </el-table-column>
            <el-table-column prop="code" label="Código" width="125" header-align="center" align="center">
            </el-table-column>
            <!-- <el-table-column prop="sanitaryReg" label="Reg. Sanitario" header-align="center" align="center">
            </el-table-column> -->
            <el-table-column prop="name" label="Producto" width="200" sortable="custom" header-align="center" align="center">
                <template slot-scope="scope">
                        {{scope.row.name}}
                            <el-popover
                            placement="bottom"
                            width="260"
                            trigger="click"
                            >
                            <p class="poppins-bold mb-0 text-center">Detalles</p>
                            <hr class="my-2">
                            <p class="poppins mb-0"><strong>Reg. Sanitario: </strong> <span class="poppins-light">{{ scope.row.sanitaryReg }}</span></p>
                            <hr class="my-2">
                            <p class="poppins mb-0"><strong>Descripción: </strong><span class="poppins-light">{{ scope.row.description}}</span></p>
                           <el-button icon="el-icon-info" slot="reference" size="mini" circle></el-button>
                        </el-popover>
                        
                </template>
            </el-table-column>
            <!-- <el-table-column prop="description" label="Descripción" header-align="center" align="center">
            </el-table-column> -->
            <el-table-column prop="category" label="categoría" width="130" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="public_price" label="Prec. público" width="140" sortable="custom" header-align="center" align="center">
                <template slot-scope="scope">
                        {{'$ '+scope.row.public_price.toLocaleString('de-DE')}}
                </template>
            </el-table-column>
            <el-table-column prop="rec_price" label="Prec. REC" width="140" header-align="center" align="center">
                <template slot-scope="scope">
                        {{'$ '+scope.row.rec_price.toLocaleString('de-DE')}}
                </template>
            </el-table-column>
            <el-table-column prop="stock" label="stock" width="80" sortable="custom" header-align="center" align="center">
            </el-table-column>
             <el-table-column prop="status" label="Estado" width="80" header-align="center" align="center">
                <template slot-scope="scope">
                        <el-tooltip :content="( scope.row.status ? 'En inventario':'dado de baja')" placement="top">
                        <el-switch
                        v-model="scope.row.status"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                        @change="turnDown(scope.row._id, scope.row.status)"
                        >
                        </el-switch>
                        </el-tooltip>
                        
                </template>
            </el-table-column>
            <el-table-column  label="Acciones" width="120" header-align="center" align="center">
                <template slot-scope="scope">
                    <el-button-group>
                        <el-tooltip content="Editar Información" placement="top">
                            <el-button type="primary" size="mini" icon="el-icon-edit" @click="formEditPro(scope.row)"></el-button>
                        </el-tooltip>
                        <el-tooltip content="Editar Stock" placement="top">
                            <el-button type="primary" size="mini" icon="el-icon-s-operation" @click="formEditStock({name:scope.row.name,id:scope.row._id,stock:scope.row.stock})"></el-button>
                        </el-tooltip>
                    </el-button-group> 
                </template>    
            </el-table-column>
        </data-tables>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            products:[],
            category:[],
            productList:[],
            fileList: [],
            removefile: [],
            imglist: null,
            dialogImageUrl: '',
            dialogVisible: false,
            modalVisible: false,
            modalVisiblePro: false,
            outModal: false,
            escModal: false,
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            loading:false,
            filters:[{ 
                filterFn: (row, filter) => {
                        return Object.keys(row).some(prop => {
                            if(prop === 'public_price') {
                                let convert = row.public_price.toString()
                                return convert.indexOf(filter.value) > -1
                            }
                            else if(prop === 'rec_price') {
                                let convert = row.rec_price.toString()
                                return convert.indexOf(filter.value) > -1
                            }
                            else if(prop === 'stock') {
                                let convert = row.stock.toString()
                                return convert.indexOf(filter.value) > -1
                            }
                            else if(prop === 'name') {
                                let m = filter.value.toLowerCase()                
                                let val = this.removeAccents(filter.value)
                                let r = this.removeAccents(row.name.toLowerCase())
                                return r.toLowerCase().indexOf(val) > -1
                            }
                            // else if(prop === 'description') {
                            //     let m = filter.value.toLowerCase()                
                            //     let val = this.removeAccents(filter.value)
                            //     let r = this.removeAccents(row.description.toLowerCase())
                            //     return r.toLowerCase().indexOf(val) > -1
                            // }
                            else if(prop === 'category') {
                                let m = filter.value.toLowerCase()                
                                let val = this.removeAccents(filter.value)
                                let r = this.removeAccents(row.category.toLowerCase())
                                return r.toLowerCase().indexOf(val) > -1
                            }
                            else if(prop === 'code') {
                                let m = filter.value.toLowerCase()                
                                let val = this.removeAccents(filter.value)
                                let r = this.removeAccents(row.code.toLowerCase())
                                return r.toLowerCase().indexOf(val) > -1
                            }
                            // else if(prop === 'sanitaryReg') {
                            //     let m = filter.value.toLowerCase()                
                            //     let val = this.removeAccents(filter.value)
                            //     let r = this.removeAccents(row.sanitaryReg.toLowerCase())
                            //     return r.toLowerCase().indexOf(val) > -1
                            // } 
                        })
                     
                    }
                }],  
            status:true,
            visible:false,
            response:{
                stock:{
                    charginButton:false
                },
                product:{
                    charginButton:false
                }
            },
            formStock:false,
            formPro:false,
            infoStock:{
                name: '',
                stock: '',
                id: ''
            },
            infoPro:{
                id: '',
                data:{
                    name: '',
                    code:'',
                    sanitaryReg:'',
                    description: '',
                    category:'',
                    prices:{
                        public:'',
                        rec:''
                    }
                }
                // images: null
            },
            imagesTemp: null,
            imgsTemp: [],
            codeTemp:'',
            titlePro:'',
            validations:{
              valPP:{
                  text:'',
                  status:null
              },
              valPR:{
                  text:'',
                  status:null
              },
              valSTK:{
                  text:'',
                  status:null
              },
              valCodePro:{
                  text:'',
                  status:null
              }   
            }    
        }
    },
    mounted(){
        this.getProducts()
        this.getCategories()
    },
    methods:{
         removeAccents(s) {
            var r=s.toLowerCase();
            r = r.replace(new RegExp(/\s/g),"");
            r = r.replace(new RegExp(/[àáâãäå]/g),"a");
            r = r.replace(new RegExp(/[èéêë]/g),"e");
            r = r.replace(new RegExp(/[ìíîï]/g),"i");
            r = r.replace(new RegExp(/ñ/g),"n");                
            r = r.replace(new RegExp(/[òóôõö]/g),"o");
            r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
            return r;
        }, 
        setup_num(n){
            var num = /^(0|[1-9][0-9]*)$/.test(n)
              return num
            },
        getProducts() {
            this.products = []
            axios.post('/product/getAll', {onlyActive: false}).then(res => {
                if(res.data.status == 'success') {
                    let data_ = res.data.data
                    let info = {
                        name: '',
                        code: '',
                        sanitaryReg:'',
                        slogan: '',
                        description: '',
                        category: '',
                        public_price:'',
                        rec_price:'',
                        stock: '',
                        status: null,
                        _id: '',
                        images:null
                    }

                    for (let index = 0; index < data_.length; index++) {
                        
                        info.name = data_[index].name
                        info.code = data_[index].code
                        info.sanitaryReg = data_[index].sanitaryReg
                        info.slogan = data_[index].slogan
                        info.description = data_[index].description
                        info.category = data_[index].category
                        info.public_price = data_[index].prices.public
                        info.rec_price = data_[index].prices.rec
                        info.stock = data_[index].stock
                        info.status = data_[index].status
                        info._id = data_[index]._id
                        info.images = data_[index].images

                        this.products.push(info)
                        info = {
                        name: '',
                        code: '',
                        sanitaryReg:'',
                        slogan: '',
                        description: '',
                        category: '',
                        public_price:'',
                        rec_price:'',
                        stock: '',
                        _id: '',
                        images:null
                        }
                        
                    }
                }
            })
        },
        getCategories() {
            axios.post('/product/category/getAll').then((resp) => {
                let data = resp.data.data
                // console.log(data)
                if(resp.data.status == 'success')
                {
                    for (let index = 0; index < data.length; index++) {
                        this.category.push(data[index])
                        
                    }
                }
            })
        },
        //------------------------------------------------------------- EVENTS AND UPDATE STOCK--------------------------------
        handleClose(done) {
            this.modalVisible = false
            this.infoStock.name = ''
            this.infoStock.stock = ''
            this.infoStock.id = ''
        },

        formEditStock(obj)
        {
            // $(document).scrollTop(0)
            this.infoStock.name = ''
            this.infoStock.stock = ''
            this.infoStock.id = ''
        //    this.formStock = true
            this.modalVisible = true
            this.infoStock.name = obj.name
            this.infoStock.stock = obj.stock
            this.infoStock.id = obj.id
        },
        updateStock() {
            if(this.infoStock.stock  && this.setup_num(this.infoStock.stock))
            {
                this.response.stock.charginButton = true
                let dstock = this.$myCryptor.encode(this.infoStock)
                axios.post('/product/update/stock',{data:dstock}).then((resp) => {
                    let d = this.$myCryptor.decode(resp.data.data)
                    if(resp.data.status == 'success')
                    {
                        this.response.stock.charginButton = false
                        this.$notify.success({
                        title: 'Ok!',
                        message: 'el stock del producto "'+d.name+'" ha sido actualizado',
                        offset: 100
                        });
                    }
                    else
                    {
                        this.response.stock.charginButton = false
                        this.$notify.error({
                        title: ':(',
                        message: 'ocurrio un error inesperado. Intentelo más tarde',
                        offset: 100
                        });
                    }
                })

            }
            else
            {
                this.response.stock.charginButton = false
                this.$notify.error({
                        title: ':(',
                        message: 'ocurrio un error inesperado. Esto se debe a que no ingreso una cantidad valida o dejó el campo vacio',
                        offset: 100
                        });
                // console.log("it's invalid!")
            }
            this.infoStock.name = ''
            this.infoStock.stock = ''
            this.infoStock.id = ''
            // this.response.stock.charginButton = false
            // this.formStock = false
            this.modalVisible = false
            setTimeout(() => {
               this.getProducts() 
            }, 200);
            
        },
        //----------------------------------------------------- EVENTS AND UPDATE INFO PRODUCTS--------------------------------------------------
        turnDown(id, status) {
            // console.log(id,status)
            axios.post('/product/turnDown', {product: id, status}).then(resp => {
                if(resp.data.status == 'success') {
                    if(resp.data.data.status)
                    {
                        this.$notify.success({
                        title: 'Ok!',
                        message: 'El producto ha  sido agregado nuevamente al inventario',
                        offset: 100
                        });
                    }
                    else
                    {
                        this.$notify.success({
                        title: 'Ok!',
                        message: 'El producto ha  sido removido del inventario',
                        offset: 100
                        });
                    }
                    this.getProducts()
                }
                else {
                    this.$notify.error({
                        title: 'Error!',
                        message: 'No se pudo completar la acción. Intenlo mas tarde',
                        offset: 100
                        });
                }
            })
        }, 
         
         handleClosePro(done) {
            this.modalVisiblePro = false
            this.productList = []
            this.imgsTemp = []
            this.fileList = []
            this.infoPro.data.name = ''
            this.infoPro.data.code = ''
            this.infoPro.data.sanitaryReg = ''
            this.infoPro.data.slogan = ''
            this.infoPro.data.description = ''
            this.infoPro.data.category = ''
            this.infoPro.data.prices.public = ''
            this.infoPro.data.prices.rec = ''
            this.imagesTemp = null
            this.infoPro.id = ''
            this.codeTemp = ''
            this.titlePro = ''
            this.clearValidations()
        },
        formEditPro(obj) {
            // console.log(obj)
            // $(document).scrollTop(0)
            this.modalVisiblePro = true
            this.productList = []
            this.imgsTemp = []
            this.fileList = []
            this.infoPro.id = ''
            this.infoPro.data.name = ''
            this.infoPro.data.code = ''
            this.infoPro.data.sanitaryReg = ''
            this.infoPro.data.slogan = ''
            this.infoPro.data.description = ''
            this.infoPro.data.category = ''
            this.infoPro.data.prices.public = ''
            this.infoPro.data.prices.rec = ''
            this.imagesTemp = null
            this.codeTemp = ''
            // this.formPro = true
            this.infoPro.id = obj._id
            this.infoPro.data.name = obj.name
            this.infoPro.data.slogan = obj.slogan
            this.infoPro.data.code = obj.code
            this.infoPro.data.sanitaryReg = obj.sanitaryReg   
            this.infoPro.data.description = obj.description
            this.infoPro.data.prices.public = obj.public_price
            this.infoPro.data.prices.rec = obj.rec_price
            this.imagesTemp = obj.images
            let catobj = this.category.find((element) => {
                return element.name == obj.category;
            })
            this.infoPro.data.category = catobj._id
            for (let index = 0; index < obj.images.length; index++) {
                 let name = obj.images[index]
                 let url = '../img/products/'+name
                 this.productList.push({name:name,url:url})
                 this.imgsTemp.push(obj.images[index])
                //  console.log(this.productList)
                
            }
            this.codeTemp = obj.code
            this.titlePro = obj.name
            // console.log('infopro',this.infoPro)
         },
         handleRemove(file,filelist) {      
            let beforeimg = this.imagesTemp.includes(file.name)
            let posdel = null
            let posfl = null
            if(beforeimg)
            {
                this.removefile.push({name:file.name,url:file.url})
                 for (let index = 0; index < this.imgsTemp.length; index++) {
                     if(file.name == this.imgsTemp[index])
                        posdel = index

                    }

                    this.imgsTemp.splice(posdel, 1)
            }
            else
            {
                if(this.fileList.length > 0)
                {
                    for (let index = 0; index < this.fileList.length; index++) {
                        if(file.name == this.fileList[index].name)
                        {
                            posfl = index
                        }
                        
                    }
                    this.fileList.splice(posfl, 1)
                }
            }
            // console.log('res',beforeimg,'removefile',this.removefile,'re imgtemp:',this.imgsTemp)
        },
        handlePictureCardPreview(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        },
        view(file,filelist)
        {
           this.fileList = []
            this.imglist = filelist
            // console.log('imglist:',this.imglist)
            for (let index = 0; index < this.imglist.length; index++) {
                
                let beforeimg = this.imagesTemp.includes(this.imglist[index].name)
                  
                if(!beforeimg)
                    this.fileList.push(this.imglist[index].raw)         
            }
            // console.log('filelist:',this.fileList)
           
        },
        ValUploadImg(file){
            const isTYPE = file.type === 'image/jpeg' || file.type === 'image/jpg' || file.type === 'image/png';
            if (!isTYPE) {
                this.$message.error('La imagen debe estar en formato JPG, PNG o JPEG!');
            }
            return isTYPE;
        },
        //VALIDATIONS FORM INPUTS PRODUCT
        valCodeProduct() {
            if(this.infoPro.data.code != '')
            {
                axios.post('/product/valCodePro',{data:this.infoPro.data.code}).then((resp) => {
                    if(resp.data.status == 'success')
                    {   
                        let cod = this.$myCryptor.decode(resp.data.data)
                        if(cod != this.codeTemp)
                        {
                            this.validations.valCodePro.status = true
                            this.validations.valCodePro.text = 'Hay un producto registrado con este código'
                        }
                        else 
                        {
                            this.validations.valCodePro.status = null
                            this.validations.valCodePro.text = '' 
                        }
                    }
                    else
                    {
                       this.validations.valCodePro.status = null
                       this.validations.valCodePro.text = '' 
                    }
                })
            }
        },
         valNumber(n){
            var num = /^([1-9][0-9]*)$/.test(n)
              return num
        },
        valFieldsNum(type) {
            let pp = this.infoPro.data.prices.public
            let pr = this.infoPro.data.prices.rec
            if(type == 'public')
            {  
                if(pp != '' && (this.valNumber(pp) == false || pp <= 0))
                {
                    this.validations.valPP.text = 'Precio inválido. Deber ser una cantidad númerica entera y mayor que "0"'
                    this.validations.valPP.status = true
                }
                else
                {
                    this.validations.valPP.text = ''
                    this.validations.valPP.status = null
                }        
            }
            else if(type == 'rec')
            {
                if(pr != '' && (this.valNumber(pr) == false || pr <= 0))
                {
                    this.validations.valPR.text = 'Precio inválido. Deber ser una cantidad númerica entera y mayor que "0"'
                    this.validations.valPR.status = true
                }
                else
                {
                    this.validations.valPR.text = ''
                    this.validations.valPR.status = null
                }
            }

        },
         valInputsProd(){
           this.response.product.charginButton = true
           if(this.validations.valCodePro.status)
            {
                this.response.product.charginButton = false
                this.$message({
                    type: 'warning',
                    message: 'El código de producto que ha ingresado ya se encuentra en uso' 
                }); 
                
             return false  
            }
           if(this.validations.valPP.status)
           {
                this.response.product.charginButton = false
                this.$message({
                    type: 'warning',
                    message: 'El campo "precio publico" ha sido ingresado de forma incorrecta' 
                });
             return false       
           }
           if(this.validations.valPR.status)
           {
               this.response.product.charginButton = false
               this.$message({
                    type: 'warning',
                    message: 'El campo "precio afiliado" ha sido ingresado de forma incorrecta' 
                });
             return false       
           }
           if(this.infoPro.data.name != '' && this.infoPro.data.code != '' && this.infoPro.data.description != '' && this.infoPro.data.slogan != '' && this.infoPro.data.prices.public != '' && this.infoPro.data.prices.rec != '' && this.infoPro.data.category != '')
           {
                if(this.$refs.images.uploadFiles.length == 0)
                {
                    this.response.product.charginButton = false
                    this.$message({
                        type: 'warning',
                        message: 'Debe seleccionar una o varias imagenes del producto' 
                    });
    
                } 
                else 
                {
                   
                    this.infoPro.data.code = this.infoPro.data.code.toUpperCase()
                    this.infoPro.data.sanitaryReg = this.infoPro.data.sanitaryReg.toUpperCase() 
                    this.updateProduct()                 
                }
            
           }
           else
           {
                this.response.product.charginButton = false
                this.$message({
                    type: 'warning',
                    message: 'Debe llenar todo los campos' 
                });
           }
  
        }, 

        updateProduct() {
          let datapro = this.$myCryptor.encode(this.infoPro)
          axios.post('/product/update/infoproduct',{data:datapro}).then((resp) => {
           if(resp.data.status == 'success')
           {
               let dataup = this.$myCryptor.decode(resp.data.data)
               let id = dataup._id
            //    let cat = dataup.category
               let dat = {
                   id: id,
                //    cat:cat,
                   del: this.removefile,
                   temp: this.imgsTemp
               }
               if(this.fileList.length > 0)
               {        
                  this.uploadImgPro(dat)  
               }
               else
               {
                   this.updateImgPro(dat)
               }
           }
           else
           {
               this.response.product.charginButton = false
               this.modalVisiblePro = false
               this.$swal.fire({
                        title: 'Ups! :(',
                        text: 'Ocurrio un problema al actualizar la información del producto. Intentelo más tarde',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                })
                this.productList = []
                this.imgsTemp = []
                this.removefile = []
                this.fileList = []
                this.infoPro.data.name = ''
                this.infoPro.data.slogan = ''
                this.infoPro.data.code = ''
                this.infoPro.data.sanitaryReg = ''
                this.infoPro.data.description = ''
                this.infoPro.data.category = ''
                this.infoPro.data.prices.public = ''
                this.infoPro.data.prices.rec = ''
                this.imagesTemp = null
                this.infoPro.id = ''
                this.codeTemp = ''
                this.clearValidations()
                this.$refs.images.clearFiles()
           }
          }) 
        },
        uploadImgPro(obj) {
            var formData = new FormData()
            let delf = []
            for (let index = 0; index < this.fileList.length; index++) {
                    formData.append("images",this.fileList[index])    
                }
           
            for (let index = 0; index < obj.temp.length; index++) {
            formData.append("temp",obj.temp[index])
            
            }
            if(obj.del.length > 0)
            {
                for (let index = 0; index < obj.del.length; index++) {
                formData.append("del",obj.del[index])
                
                }
             }
             else{
                formData.append("del",delf)  
             }   
                formData.append("idp",obj.id)
                // formData.append("idc",obj.cat)
                var contenttype = {
                    headers:{
                        "content-type": "multipart/form-data"
                    }
                };
            axios.post('/product/update/uploadimgs',formData, contenttype).then((resp) => {
                // console.log(resp.data.data)
                this.modalVisiblePro = false
               if(resp.data.status == 'success')
                    {
                        this.response.product.charginButton = false
                        this.$swal.fire({
                            title: 'La información del producto ha sido actualizada con exito',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#87ED6F',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                        })
                    }
                else if(resp.data.status == 'failed')
                {
                    this.response.product.charginButton = false
                    this.$swal.fire({
                        title: 'Ups! :(',
                        text: 'Ocurrio un problema al actualizar la información del producto. Intentelo más tarde',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                }
                else if(resp.data.status == 'exceed') 
                {
                    this.response.product.charginButton = false
                    this.$swal.fire({
                        title: 'Ups! :(',
                        text: 'Acción no completada. Ocurrio un problema al carga las imagenes. Alguna de las  imagenes pesa mas de 1MB',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                }
                this.productList = []
                this.imgsTemp = []
                this.fileList = []
                this.removefile = []
                this.infoPro.data.name = ''
                this.infoPro.data.code = ''
                this.infoPro.data.sanitaryReg = ''
                this.infoPro.data.slogan = ''
                this.infoPro.data.description = ''
                this.infoPro.data.category = ''
                this.infoPro.data.prices.public = ''
                this.infoPro.data.prices.rec = ''
                this.imagesTemp = null
                this.infoPro.id = ''
                this.codeTemp = ''
                this.$refs.images.clearFiles()
                this.clearValidations()
                setTimeout(() => {
                    this.getProducts() 
                }, 200);
                // this.getProducts()
            })
        },
        updateImgPro(obj) {
            let id = obj.id
            // let cat = obj.cat
            let del = obj.del
            let temp = obj.temp
            // console.log(obj)
            
            axios.post('/product/update/updateimgs',obj).then((resp) => {
                this.modalVisiblePro = false
               if(resp.data.status == 'success')
                    {
                        this.response.product.charginButton = false
                        this.$swal.fire({
                            title: 'La información del producto ha sido actualizada con exito',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#87ED6F',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                        })
                    }
                else 
                {
                    this.response.product.charginButton = false
                    this.$swal.fire({
                        title: 'Ups! :(',
                        text: 'Ocurrio un problema al actualizar la información del producto. Intentelo más tarde',
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                }
                this.productList = []
                this.imgsTemp = []
                this.fileList = []
                this.infoPro.data.name = ''
                this.infoPro.data.code = ''
                this.infoPro.data.sanitaryReg = ''
                this.infoPro.data.slogan = ''
                this.infoPro.data.description = ''
                this.infoPro.data.category = ''
                this.infoPro.data.prices.public = ''
                this.infoPro.data.prices.rec = ''
                this.imagesTemp = null
                this.infoPro.id = ''
                this.codeTemp = ''
                this.$refs.images.clearFiles()
                this.clearValidations()
                this.getProducts()
                     
            })
        },
        clearValidations() {
            this.validations.valPP.status = null
            this.validations.valPP.text = ''
            this.validations.valPR.status = null
            this.validations.valPR.text = ''
            this.validations.valCodePro.status = null
            this.validations.valCodePro.text = ''
            this.titlePro = ''           
        }
    }
}
</script>

