<template>
    <div class="container my-3 mt-4 shadow px-5 pt-4 pb-5 d-flex justify-content-center align-items-center">
        <div class="row my-0 w-100" >
            <div class="col-lg-12 mb-1">
                <h4 class="w-100 text-center poppins">Registro <strong class="poppins-bold">IMPHA</strong> <el-button type="info" icon="el-icon-user" class="float-right" @click="redirectLogin">Ya tengo una cuenta</el-button></h4>
            </div>
            <div class="col-lg-12">
                <el-divider content-position="left">Información personal</el-divider>
            </div>
            <div class="col-lg-6 mb-3 px-1 col-sm-12 col-md-6" id="cont-dni">
                <label  for="">Tipo de identificación</label>
                <el-select class="col-lg-12 pl-0 mx-0 px-0" v-model="dataForm.dni.dniType" clearable placeholder="Seleccione una opción">
                    <el-option
                        v-for="item in dni" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </div>

            <div class="col-lg-6 mb-3 px-1 col-sm-12 col-md-6">
                <label for="">N° De Identificación </label>                  
                <input type="text" @change="uniquePerson" :class="{'is-invalid border-danger': response.uniquePerson.status, 'is-valid': response.uniquePerson.status == false}" required name="document" class="form-control" v-model="dataForm.dni.dni">
                <div class="poppins" :class="{'invalid-feedback': response.uniquePerson.status, 'valid-feedback': !response.uniquePerson.status}">
                    {{ response.uniquePerson.text }}
                </div>
            </div>
            <div class="col-lg-4 px-1 mb-3">
                <el-input
                    placeholder="Nombre"
                    prefix-icon="el-icon-edit"
                    clearable
                    v-model="dataForm.name.first">
                </el-input>
            </div>
            <div class="col-lg-4 px-1 mb-3">
                <el-input
                    placeholder="Apellido"
                    prefix-icon="el-icon-edit"
                    clearable
                    v-model="dataForm.name.last">
                </el-input>
            </div>
            <div class="col-lg-4 px-1 mb-3">
                <el-select v-model="dataForm.gender" filterable class="w-100" placeholder="Genero">
                    <el-option label="Masculino" value="M">
                    </el-option>
                    <el-option label="Femenino" value="F">
                    </el-option>
                    <el-option label="Otro" value="O">
                    </el-option>
                </el-select>
            </div>
            <div class="col-12">
                <el-divider content-position="left">Información de contacto</el-divider>
            </div>
            <div class="col-lg-4 mb-2 col-sm-12 col-md-6 px-1 mb-3">
                <label for="dep">Departamento </label>                        
                <el-select v-model="location.dep" class="w-100" placeholder="Selecione una opción" name="departamento">
                    <el-option v-for="(loc, index) in dept" :key="index" :label="loc.departamento" :value="loc.departamento+'/'+index"></el-option>
                </el-select>
            </div>
            <div class="form-group col-lg-4 px-2 col-md-6 px-1 mb-3">
                <label for="town1">Ciudad </label>            
                <el-select  v-model="dataForm.address.city" class="w-100" placeholder="Selecione una opción" name="ciudad" :disabled="location.dep == null">
                    <el-option v-for="(town, index) in cit" :key="index" :label="town" :value="town"></el-option>
                </el-select>
            </div>
            <div class="col-12 mb-2 col-lg-4 px-1 col-md-6 px-1 mb-3" id="address">
                <label for="">Dirección </label>
                <input type="text" class="form-control" name="address-01" v-model="dataForm.address.addInfo">
            </div>
            <div class="col-lg-4 col-md-6 px-1 mb-3">
                <label for="">Correo </label>
                <input autocomplete="off" @change="valEmail" type="email" :class="{'is-invalid border-danger': response.validationMail.status, 'is-valid': response.validationMail.status == false}" required name="email" class="form-control" v-model="dataForm.mail" >
                <div class="poppins" :class="{'invalid-feedback': response.validationMail.status, 'valid-feedback': !response.validationMail.status}">
                    {{ response.validationMail.text }}
                </div>  
            </div>
            <div class="col-lg-4 col-md-6 px-1 mb-3">                
                <label for="">Teléfono </label>
                <input type="text" class="form-control" name="phone" :class="{'is-invalid border-danger': response.validation_phone.status, 'is-valid': response.validation_phone.status == false}" v-model="dataForm.phone" @change="valPhone">
                <div class="poppins" :class="{'invalid-feedback': response.validation_phone.status, 'valid-feedback': !response.validation_phone.status}">
                    {{ response.validation_phone.text }}
                </div>                
            </div>
             <el-divider content-position="left">Información de la cuenta</el-divider>
             <div class="col-lg-4 col-md-6 px-1 mb-3">                
                <label for="">Usuario</label>
                <input type="text" class="form-control" name="user" :class="{'is-invalid border-danger': response.validation_user.status, 'is-valid': response.validation_user.status == false}" v-model="dataForm.accessData.userCode" @change="uniqueUser">
                <div class="poppins" :class="{'invalid-feedback': response.validation_user.status, 'valid-feedback': !response.validation_user.status}">
                    {{ response.validation_user.text }}
                </div>                
            </div>
            <div class="col-lg-4 col-md-12 px-1 mb-3">
                <label for="">Contraseña </label>
                <el-input placeholder="" v-model="dataForm.accessData.password" show-password clearable @change="validationPassword"></el-input>
                <div class="poppins text-danger mt-1" v-if="response.validation_pass.status == true" style="font-size:80%">
                    {{ response.validation_pass.text }}
                </div>  
            </div>
            <div class="col-lg-4 col-md-12 px-1 text-center" style="padding-top: 1.97rem!important;">
                <el-button type="primary" :loading="response.charginButton" :disabled="response.charginButton" @click.prevent="valInputs">REGISTRAR</el-button>
            </div>
             
        </div>
    </div>
</template>
<script>
let dataPerson=
{
    name:
    {
        first:'',
        last:''
    },
    gender:'',
    address:{
        country:'Colombia',
        city:'',
        addInfo:''
    },
    dni:{
        dniType:'',
        dni:''
    },
    mail:'',
    phone:'',
    // bankAccount: {
    //     account: null,
    //     bank: null
    // },
    accessData:{
        userCode: '',
        password: ''

    }
}
let city = require('../Utilities/colombian-citys.json')
export default {
    data()
    {
        return{
            input2: '',
            dni:
            [
                {
                value: 'C.C',
                label:'Cédula de Ciudadania'
                },
                {
                    value:'C.E',
                    label:'Cédula de extranjería'
                },
                 {
                    value:'PAS',
                    label:'Pasaporte'
                }
            ],
            dataForm: dataPerson,
            cit:[],
            dept:city,
            response:
            {
                charginButton: false,
                uniquePerson: 
                {
                    text: '',
                    status: null
                },
                validationMail:{
                    text:'',
                    status:null
                },
                validation_phone:{
                    text:'',
                    status:null
                },
                validation_user:{
                    text:'',
                    status:null
                },
                validation_pass:{
                    text:'',
                    status:null
                }
            },
            res:{
                data: null
            },
            location:{
                dep:null
            }
           
        }
    }, 
    watch:
    {
        'location.dep': function (newVal) { 
            if(newVal != null){
                this.cit = []
                let dep = newVal.split('/')
                this.dataForm.address.city = ''
                var dept = dep[0]
                var cd = dep[1]
                let array_dep = this.dept[cd].ciudades
                for (let index = 0; index < array_dep.length; index++) 
                {
                    var city = array_dep[index];
                    this.cit.push(city)  
                }
            }
        },
         'dataForm.dni.dniType':function (newVal){
            if(newVal != null)
            {
                this.dataForm.dni.dni = ''
                this.response.uniquePerson.text = ''
                this.response.uniquePerson.status = null
            }
        }
    },
    mounted()
    {
        this.clearInputs()
        
    },
    methods:
    {
        setup_cc(n)
        {
            var num = /^([1-9][0-9]*)$/.test(n)
             if(num == false)
             {
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'Número de identificación inválido'
             }
             else{
                this.response.uniquePerson.status = false
                this.response.uniquePerson.text = 'Aprobado'
             }
        },
        setup_pp(n){
            var num = /^[0-9a-zA-Z]+$/.test(n)
             if(num == false)
             {
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'Número de pasaporte inválido'
             }
             else{
                this.response.uniquePerson.status = false
                this.response.uniquePerson.text = 'Aprobado'
             }
        },
        setup_num(n)
        {
            var num = /^(0|[0-9+/][0-9]*)$/.test(n)
            return num
        },
        validEmail(email) 
        {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        valPhone()
        {
            let n = this.dataForm.phone
            if(n != '' && (!this.setup_num(n) || n.length < 7 ))
            {
                this.response.validation_phone.status = true
                this.response.validation_phone.text = ' número telefónico inválido. Debe contener solo números o "+" indicativo y mínimo 7 digitos'

            }else{
                this.response.validation_phone.status = null
                this.response.validation_phone.text = ''
            }  
        }, 
        uniquePerson()
        {
            if(this.dataForm.dni.dni != '' && this.dataForm.dni.dni.length >= 7)
            {
               
	            axios.post('/auth/getPersonByParams', {queryParams :{'dni.dni': this.dataForm.dni.dni}}).then((res) =>
                {
                    if(res.data.status == 'failed')
                    {                       
                       if(this.dataForm.dni.dniType == 'PAS')
                        {this.setup_pp(this.dataForm.dni.dni)}
                        else if(this.dataForm.dni.dniType != 'PAS')
                        {this.setup_cc(this.dataForm.dni.dni)}
                    }
                    else
                    {
                        this.response.uniquePerson.status = true
                        this.response.uniquePerson.text = 'Este Número de identificación ya se encuentra registrado'
                    }
                })
            }
            else
            {   
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'Número de identificación no válido'
            }
        },
        valEmail() 
        {
            let mail = this.dataForm.mail
            if(mail != '' && !this.validEmail(mail) ){
                this.response.validationMail.status = true
                this.response.validationMail.text='Correo no válido'
            }else{
                this.response.validationMail.status = false
                this.response.validationMail.text=''
                this.uniqueMail()
            }
            if(mail == ''){
                this.response.validationMail.status = null
                this.response.validationMail.text=''
            }            
        },
        uniqueMail() 
        {
            axios.post('/auth/getPersonByParams', {queryParams :{'mail': this.dataForm.mail}}).then((res) =>
            {
                if(res.data.status == 'failed')
                    {
                        this.response.validationMail.status = null
                        this.response.validationMail.text = ''
                    }
                    else
                    {
                        this.response.validationMail.status = true
                        this.response.validationMail.text = 'Esta dirección de correo eléctronico ya se encuentra registrada'
                    }
            })
        },
        uniqueUser()
        {
            if(this.dataForm.accessData.userCode)
            {
               
	            axios.post('/auth/getPersonByParams', {queryParams :{'accessData.userCode': this.dataForm.accessData.userCode}}).then((res) =>
                {
                    if(res.data.status == 'failed')
                    {                       
                        this.response.validation_user.status = false
                        this.response.validation_user.text = 'Nombre de usuario disponible'
                    }
                    else
                    {
                        this.response.validation_user.status = true
                        this.response.validation_user.text = 'Este nombre de usuario ya se encuentra registrado'
                    }
                })
            }
            else
            {
                this.response.validation_user.status = null
                this.response.validation_user.text = ''
            }
        },
        validationPassword() {
            if(this.dataForm.accessData.password && this.dataForm.accessData.password.length < 7)
            {
                this.response.validation_pass.status = true
                this.response.validation_pass.text = 'La contraseña deber tener minímo 7 caracteres'
            }
            else
            {
               this.response.validation_pass.status = null
                this.response.validation_pass.text = '' 
            }
        },
        valInputs() {
            this.response.charginButton = true
            let iden = 0
            let names = 0
            let addressUsr = 0
            let access = 0

            for (const key in this.dataForm.dni) {
               if(this.dataForm.dni[key])
                    iden++;
            }
            for (const key in this.dataForm.name) {
                if(this.dataForm.name[key])
                    names++;
            }
            for (const key in this.dataForm.address) {
                if(this.dataForm.address[key])
                    addressUsr++;  
            }
            for (const key in this.dataForm.accessData) {
                if (this.dataForm.accessData[key])
                    access++ 
            }
            // console.log('id:',iden,'names:',names,'add:',addressUsr,'access:',access)
            if(iden < 2 || names < 2 || addressUsr < 3 || access < 2 || !this.dataForm.gender || !this.dataForm.mail || !this.dataForm.phone)
            {
                 this.response.charginButton = false
                 this.$swal.fire({
                    title: 'Debe llenar todos los campos',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                return false
            }
            if(this.response.uniquePerson.status)
            {
                 this.response.charginButton = false
                 this.$swal.fire({
                    title: 'El número de identificación no es válido o ya ha sido registrado',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                $('input[name=document]').focus()
                return false
            }
            if(this.response.validationMail.status)
            {
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'La dirección de correo electrónico ingresada no es válida o ya se encuentra registrada',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    $('input[name=email]').focus()
                    return false
            }
            if(this.response.validation_phone.status)
            {
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'El número teléfonico ingresado no es válido',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    $('input[name=phone]').focus()
                    return false
            }
            if(this.response.validation_user.status)
            {
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'El nombre de usuario escogido ya se encuentra registrado',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    return false
            }
            if(this.response.validation_pass.status)
            {
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'la contraseña digitada debe tener mínimo 7 caracteres',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    return false
            }
            
            if(iden >= 2 && names >= 2 && addressUsr >= 3 && access >= 2 && this.dataForm.gender && this.dataForm.mail && this.dataForm.phone)
            {
                this.registerUser()
            }
        },
        //REGISTER USER
        registerUser() {
            let data = this.$myCryptor.encode(this.dataForm)
            axios.post('/auth/store',{data:data}).then((resp) => {
                if(resp.data.status == 'success')
                {
                    this.response.charginButton = false
                    this.$swal.fire({
                        title: 'Registro exitoso!',
                        text:'Ya puedes ingresar a la tienda IMPHA',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        location.href = '/auth/login'
                    })
                }
                else
                {
                    this.response.charginButton = false
                    this.$swal.fire({
                    title: 'UPS! :(',
                    text:'Ha ocurrido un error al registrar tus datos. Intentalo más tarde',
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                }
                this.clearInputs()
            })
        },

        //CLEAR INPUTS
        clearInputs() {
        this.dataForm.name.first = ''
        this.dataForm.name.last = ''
        this.dataForm.gender = ''
        this.dataForm.address.city = ''
        this.dataForm.address.addInfo = ''
        this.location.dep = null
        this.dataForm.dni.dni = ''
        this.dataForm.dni.dniType = ''
        this.dataForm.mail = ''
        this.dataForm.phone = ''
        this.dataForm.accessData.userCode = ''
        this.dataForm.accessData.password = ''
        this.cit = []
        this.response.uniquePerson.text = ''
        this.response.uniquePerson.status = null
        this.response.validationMail.text = ''
        this.response.validationMail.status = null
        this.response.validation_phone.text = ''
        this.response.validation_phone.status = null
        this.response.validation_user.text = ''
        this.response.validation_user.status = null
        this.response.validation_pass.text = ''
        this.response.validation_pass.status = null
        this.response.charginButton = false
        },
        redirectLogin(){
            location.href = '/auth/login'
        }
        
    }
}
</script>