<template>
    <div class="container my-1 mb-1">
        <div class="account-title mt-5">
             <h4 class="poppins text-secondary mt-2">Restaurar contraseña</h4>
            <img class="brand-filigrane" src="/img/ico.png" alt="">
        </div>
        <el-divider></el-divider>
        <div class="row">
            <div class="col-lg-6 col-sm-12 mb-2">
                <label class="poppins text-secondary" for="">Nueva contraseña</label>
                <el-input v-model="reset.password" show-password></el-input>
            </div>
            <div class="col-lg-6 col-sm-12 mb-2">
                <label class="poppins text-secondary" for="">Digite nuevamente la contraseña</label>
                <el-input v-model="valpassword" show-password></el-input>
            </div>
            <div class="col-lg-12 col-sm-12 my-2">
                <el-button type="primary" @click.prevent="valformreset" :loading="button.loading" :disabled="button.disabled">Enviar</el-button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            reset:{
                nickname:'',
                token:'',
                password:''
            },
            valpassword:'',
            button:{
                loading:false,
                disabled:false
            }
        }
    },
    mounted()
    {
        // let url = location.pathname.split('/')
        // this.reset.nickname =  url[url.length - 2] 
        // this.reset.token =  url[url.length - 1]
        // console.log(this.reset)
        this.valUser()

    },
    methods:{

        valUser()
        {
            let url = location.pathname.split('/')
            this.reset.nickname =  url[url.length - 2] 
            this.reset.token =  url[url.length - 1]
            axios.post('/auth/getPersonByParams', {queryParams :{'accessData.userCode': this.reset.nickname}}).then((res) =>
                {
                    if(res.data.status == 'failed')
                    {                       
                        this.$swal.fire({
                            title: 'Información',
                            text:'Este usuario no se encuentra registrado.',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#E76F55',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            location.href = '/auth/login'
                        })
                    }
                   
                })
        },
        valformreset()
        {
            this.button.loading = true
            this.button.disabled = true
            if(this.reset.password && this.valpassword)
            {
                if( this.reset.password.length >= 7)
                {
                    if(this.reset.password == this.valpassword)
                    {
                        if(this.reset.password && this.reset.nickname && this.reset.token)
                            this.submitreset()
                        else
                        {
                            this.button.loading = false
                            this.button.disabled = false
                            this.$swal.fire({
                            title: 'UPS! :(',
                            text:'Ha ocurrido un error al procesar tus datos. Intentalo más tarde',
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#E76F55',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                            })
                        }
                    }
                    else
                    {
                        this.button.loading = false
                        this.button.disabled = false
                        this.$swal.fire({
                            title: 'Información',
                            text:'Debe coincidir la contraseña',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#E76F55',
                            cancelButtonColor: '#99908E',
                            confirmButtonText: 'Aceptar'
                        })
                    }
                }
                else
                {
                    this.button.loading = false
                    this.button.disabled = false
                   this.$swal.fire({
                    title: 'Información',
                    text:'La contraseña debe contener mínimo 7 caracteres',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    }) 
                }
                
            }
            else
            {
                this.button.loading = false
                this.button.disabled = false
                this.$swal.fire({
                    title: 'Información',
                    text:'Debe llenar todos los campos',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
            }
            
        },
        submitreset()
        {
            let data = this.$myCryptor.encode(this.reset)
            axios.post('/auth/reset/ur/pass',{data:data}).then((resp) => {
                if(resp.data.success)
                {
                   this.$swal.fire({
                        title: 'Proceso completado',
                        text:'La contraseña ha sido cambiado exitosamente',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        location.href = '/auth/login'
                    }) 
                }
                else
                {
                    this.$swal.fire({
                    title: 'Proceso no completado',
                    text:'Ha ocorrido un problema al cambiar la contraseña.',
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                }
                this.reset.password = ''
                this.valpassword = ''
                this.button.loading = false
                this.button.disabled = false
            })
        }
    }
}
</script>