<template>    
    <div class="cont  mb-0">
        <el-dialog
        :title="(updateRegister == 'register') ? 'Registar Vendedor' : `Modificar Vendedor ${saveForm.name.first}`"
        :visible.sync="registerUpdateModal"
        :fullscreen="true"        
        :close-on-click-modal="true">
            <div class="row my-0 mx-0 w-100 px-3">
                <div class="col-lg-12 mb-1">
                    <h4 class="w-100 text-center poppins mb-0"><strong class="poppins-bold">IMPHA</strong></h4>
                </div>
                <div class="col-lg-12">
                    <el-divider content-position="left">Información personal</el-divider>
                </div>
                <div class="col-lg-6 mb-3 px-1 col-sm-12 col-md-6" id="cont-dni">
                    <label  for="">Tipo de identificación</label>
                    <el-select class="col-lg-12 pl-0 mx-0 px-0" v-model="saveForm.dni.dniType" clearable placeholder="Seleccione una opción">
                        <el-option
                            v-for="item in dni" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="col-lg-6 mb-3 px-1 col-sm-12 col-md-6">
                    <label for="">N° De Identificación </label>                  
                    <input type="text" @change="uniquePerson" :class="{'is-invalid border-danger': response.uniquePerson.status, 'is-valid': response.uniquePerson.status == false}" required name="document" class="form-control" v-model="saveForm.dni.dni">
                    <div class="poppins" :class="{'invalid-feedback': response.uniquePerson.status, 'valid-feedback': !response.uniquePerson.status}">
                        {{ response.uniquePerson.text }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 px-1 mb-3">                    
                    <el-input
                        placeholder="Nombre"
                        prefix-icon="el-icon-edit"
                        clearable
                        v-model="saveForm.name.first">
                    </el-input>
                </div>
                <div class="col-lg-6 col-md-6 col-12 px-1 mb-3">                    
                    <el-input
                        placeholder="Apellido"
                        prefix-icon="el-icon-edit"
                        clearable
                        v-model="saveForm.name.last">
                    </el-input>
                </div>
                <div class="col-lg-6 col-md-6 px-1 mb-3">
                    <label for="">Correo </label>
                    <input autocomplete="off" @change="valEmail" type="email" :class="{'is-invalid border-danger': response.validationMail.status, 'is-valid': response.validationMail.status == false}" required name="email" class="form-control" v-model="saveForm.mail" >
                    <div class="poppins" :class="{'invalid-feedback': response.validationMail.status, 'valid-feedback': !response.validationMail.status}">
                        {{ response.validationMail.text }}
                    </div>  
                </div>
                <div class="col-lg-6 col-md-6 px-1 mb-3">                
                    <label for="">Teléfono </label>
                    <input type="text" class="form-control" name="phone" :class="{'is-invalid border-danger': response.validation_phone.status, 'is-valid': response.validation_phone.status == false}" v-model="saveForm.phone" @change="valPhone">
                    <div class="poppins" :class="{'invalid-feedback': response.validation_phone.status, 'valid-feedback': !response.validation_phone.status}">
                        {{ response.validation_phone.text }}
                    </div>                
                </div>
                <div class="col-lg-12 mt-1 col-md-12 px-1 text-center">
                    <el-button type="primary" :loading="response.charginButton" :disabled="response.charginButton" @click="valInputs">{{(updateRegister == 'register') ? 'REGISTRAR' : 'MODIFICAR'}}</el-button>
                </div>             
            </div>
            <span slot="footer" class="dialog-footer">                
                <el-button type="info" @click="registerUpdateModal = false">Cerrar</el-button>
            </span>
        </el-dialog>
        <!-- //////////////////////////////// END DIALOG REGISTER/UPDATE -->
        <el-dialog
            :title="`Ventas de [${modalInfo.name}]`"
            :visible.sync="dialogVisible"
            width="70%"
            :close-on-click-modal="true"
            :lock-scroll="false"
            top="8vh"
            class="modal-info-seller"
            :before-close="handleClose">
            <div class="bodyy">
                <div class="text-center mb-3">
                    <el-date-picker
                        class="w-75 mb-3"
                        v-model="dateRange"
                        type="daterange"
                        align="center"
                        unlink-panels
                        range-separator="-"
                        start-placeholder="Desde"
                        end-placeholder="Hasta"
                        :picker-options="pickerOptions"
                        :default-time="['00:00:00', '23:59:59']"
                        >
                    </el-date-picker> 
                    <p v-if="messageRange" class="text-center mb-2">
                        <small class="text-danger poppins">
                            No hay registros para la fecha seleccionada
                        </small>
                    </p>
                </div>
                <data-tables :table-props="tableProps" :data="modalInfo.data">
                    <el-table-column type="expand">
                        <template slot-scope="scope">
                            <div class="table-responsive-md">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"></th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(d, index) in scope.row.orders" :key="index">
                                            <th scope="row">{{index+1}}</th>
                                            <td>
                                                <img :src="'/img/products/'+scope.row.orders[0].product.images[0]" class="img-thumbnail" style="width: 50px;" alt="">
                                            </td>
                                            <td>{{ scope.row.orders[0].product.name }}</td>
                                            <td>{{ scope.row.orders[0].quantity }}</td>
                                        </tr>                                    
                                    </tbody>
                                </table>
                            </div>
                            <!-- <img src="'/img/products/'+scope.row.orders[0].product.images[0]" class="img-thumbnail" style="width: 50px;" alt="">
                            <p class="mb-2"><strong>producto:</strong> {{ scope.row.orders[0].product.name }}</p>
                            <p class="mb-2"><strong>cantidad:</strong> {{ scope.row.orders[0].quantity }}</p>
                            <el-divider></el-divider> -->
                        </template>
                    </el-table-column>
                    <el-table-column prop="dateShow" label="Fecha" header-align="center" align="center"></el-table-column> 
                    <el-table-column prop="amount" label="Total venta" header-align="center" align="center"></el-table-column>                     
                </data-tables>
            </div>
            <span slot="footer" class="dialog-footer">                
                <el-button type="primary" @click="dialogVisible = false">Cerrar</el-button>
            </span>
        </el-dialog>
        <navec-component></navec-component>
        <div class="container px-2 pt-2" style="top:63px;position:relative">
            <h4 class="text-center poppins text-dark font-weight-bold text-uppercase">Listado de vendedores</h4> 
            <hr class="bg-dark-blue">
            <el-button icon="el-icon-plus" @click="regis()" type="primary" size="medium" class="mb-2">
                Registar Vendedor
            </el-button>            
            <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">  
                <template slot="prepend">Buscar</template>
            </el-input> 
            <data-tables :default-sort = "{prop: 'sellerName', order: 'descending'}" v-loading.body="loading" :table-props="tableProps" :data="listSeller" :filters="filters" class="mb-2" >
                <el-table-column prop="code" label="Código" header-align="center" align="center" width="325">
                    <template slot-scope="scope">
                        <strong>{{scope.row.code}}</strong>
                    </template>
                </el-table-column>                                
                <el-table-column prop="dni" label="N° ID" header-align="center" align="center" width="120">
                    <template slot-scope="scope">
                        {{scope.row.dni.dni}}
                    </template>
                </el-table-column>
                <el-table-column sortable prop="sellerName" label="Nombre" width="200" header-align="center" align="center"></el-table-column>
                <el-table-column prop="phone" width="120" label="Telefono" header-align="center" align="center"></el-table-column>
                <el-table-column prop="mail" label="E-Mail" width="200" header-align="center" align="center"></el-table-column>
                <el-table-column  label="Acciones" width="150" fixed="right" header-align="center" align="center">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-tooltip content="Ver ventas" placement="top">
                                <el-button type="primary" size="small" icon="el-icon-s-order" @click="showDialog({data: scope.row.purchases, name: scope.row.sellerName})"></el-button>
                            </el-tooltip>
                            <el-tooltip content="Editar info" placement="top">
                                <el-button size="small" icon="el-icon-edit-outline" type="info" @click="editSeller(scope.row._id)"></el-button>
                            </el-tooltip>
                            <el-tooltip content="Cambiar estado" placement="top">
                                <el-button v-if="scope.row.status" type="success" size="small" @click="kill(scope.row._id, scope.row.status)" icon="el-icon-open"></el-button>
                                <el-button v-else type="danger" size="small" icon="el-icon-turn-off" @click="kill(scope.row._id, scope.row.status)"></el-button>                                
                            </el-tooltip>
                        </el-button-group> 
                    </template>    
                </el-table-column>
            </data-tables> 
        </div>
    </div>
</template>
<script>
import { setTimeout } from 'timers';
let save = 
{
    name: 
    {
        first: '',
        last: ''
    },
    dni: 
    {
        dniType: '',
        dni: ''
    },
    phone: '',
    mail: '',
}
import moment from 'moment'
    export default {
        data() {
            return {
                dni:
                [
                    {
                    value: 'C.C',
                    label:'Cédula de Ciudadania'
                    },
                    {
                        value:'C.E',
                        label:'Cédula de extranjería'
                    },
                    {
                        value:'PAS',
                        label:'Pasaporte'
                    }
                ],
                registerUpdateModal: false,
                updateRegister: 'register',
                saveForm: save,
                listSeller: null,
                messageRange: false,
                loading: false,
                dateRange: '',
                modalInfo: [],
                objectSearchModal: [],
                products: [],
                dialogVisible: false,
                response:
                {
                    charginButton: false,
                    uniquePerson: 
                    {
                        text: '',
                        status: null
                    },
                    validationMail:{
                        text:'',
                        status:null
                    },
                    validation_phone:{
                        text:'',
                        status:null
                    },
                    validation_user:{
                        text:'',
                        status:null
                    }
                },
                pickerOptions: 
                {
                    shortcuts: [{
                        text: 'Ultima semana',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Ultimo mes',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: 'Ultimos 3 meses',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                tableProps: 
                {
                    border: false,
                    stripe: true,                   
                },
                filters: 
                [
                    {
                        filterFn: (row, filter) => {
                            return Object.keys(row).some(prop => {
                                if(prop === 'code') {
                                    let convert = row.code.toString()
                                    return convert.indexOf(filter.value) > -1
                                }
                                else if(prop === 'sellerName') {
                                    let m = filter.value.toLowerCase()                
                                    let val = this.removeAccents(filter.value)
                                    let convert = row.dni.dni.toString()
                                    let r = this.removeAccents(row.sellerName.toLowerCase()) 
                                    return r.toLowerCase().indexOf(val) > -1 || convert.indexOf(filter.value) > -1
                                }
                                // else if(prop === 'payDate') {
                                //     let convert = row.payDate.toString()
                                //     return convert.indexOf(filter.value) > -1
                                // }
                            })
                        
                        }
                    }
                ]
            }
        },
        watch:{
            'dateRange': function (newVal) 
            {      
                let orders = this.objectSearchModal                                                     
                if(newVal != null)
                {                                       
                    let startDate = Date.parse(newVal[0])
                    let endDate = Date.parse(newVal[1])
                                          
                    let a = []
                    for (const key in this.objectSearchModal.data) 
                    {
                        let rangeDate = Date.parse(this.objectSearchModal.data[key].date)
                        console.log(moment(rangeDate).format('ll'));
                        if(rangeDate >= startDate && rangeDate <= endDate) 
                        {                       
                            // console.log('true');         
                            a.push(this.objectSearchModal.data[key])
                            // console.log(a);
                        }                  
                    }      
                    if(a.length == 0)
                    {
                        this.dateRange = null
                        // this.modalInfo.data = a
                        this.messageRange = true                        
                    } else {
                        this.messageRange = false
                    }
                } else {
                    this.messageRange = false
                    this.modalInfo = orders
                } 
            },
        },
        mounted()
        {
            this.list()
            this.getProducts()
        },
        methods:
        {
            regis()
            {
                this.updateRegister = 'register'
                this.clearInputs()
                this.registerUpdateModal = true                
            },
            getProducts()
            {
                axios.post('/product/getAll', {onlyActive: false}).then(res => {
                    if(res.data.status == 'success') 
                    {
                        this.products = res.data.data
                    }
                })
            },
            showDialog(val)
            {                
                moment.locale('es')
                this.modalInfo = val                
                for (const key in this.modalInfo.data) 
                {
                    this.modalInfo.data[key].dateShow = moment(this.modalInfo.data[key].date).format('ll');
                    for (const keyy in this.modalInfo.data[key].orders) 
                    {
                        for (const keyyy in this.products) 
                        {
                            if(this.products[keyyy]._id == this.modalInfo.data[key].orders[keyy].product)
                            {
                                this.modalInfo.data[key].orders[keyy].product = this.products[keyyy]
                            }
                        }
                    }
                }
                this.objectSearchModal = this.modalInfo
                this.dialogVisible = true
            },
            handleClose(done) 
            {
                console.log('cerró');
            },
            removeAccents(s) 
            {
                var r=s.toLowerCase();
                r = r.replace(new RegExp(/\s/g),"");
                r = r.replace(new RegExp(/[àáâãäå]/g),"a");
                r = r.replace(new RegExp(/[èéêë]/g),"e");
                r = r.replace(new RegExp(/[ìíîï]/g),"i");
                r = r.replace(new RegExp(/ñ/g),"n");                
                r = r.replace(new RegExp(/[òóôõö]/g),"o");
                r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
                return r;
            },
            list()
            {
                this.loading = true
                axios.post('/auth/seller/getAll').then((resp) =>
                {                                
                    if(resp.data.status == 'success')
                    {
                        let res = this.$myCryptor.decode(resp.data.data)
                        // console.log(res);
                        this.listSeller = res
                    } else {
                        this.$swal.fire(
                            {
                                title: 'Info',
                                type: 'warning',
                                text: 'Error al obtener vendedores'
                            }
                        )
                    }
                    this.loading = false
                })
            }, 
            kill(id, status)
            {
                axios.post('/auth/seller/update/kill-him', {id: id, status: status}).then((resp) =>
                {
                    if(resp.data.success)
                    {                                                
                        this.$swal.fire(
                            {
                                title: 'Exito!',
                                type: 'success',
                                text: 'Estatus cambiado correctamente'
                            }
                        )
                        this.list()
                    } else {
                        this.$swal.fire(
                            {
                                title: 'Error',
                                type: 'error',
                                text: 'Error al cambiar el estatus, intente nuevamente'
                            }
                        )
                    }
                })
            },
            setup_cc(n)
            {
                var num = /^([1-9][0-9]*)$/.test(n)
                // alert(n, num)
                if(!num || n.toString().length <= 7)
                {
                    this.response.uniquePerson.status = true
                    this.response.uniquePerson.text = 'Número de identificación inválido'  
                    return false;
                }
                else{
                    this.response.uniquePerson.status = false
                    this.response.uniquePerson.text = 'Aprobado para enviar'                    
                    return true;
                }
            },
            setup_pp(n){
                var num = /^[0-9a-zA-Z]+$/.test(n)
                if(num == false)
                {
                    this.response.uniquePerson.status = true
                    this.response.uniquePerson.text = 'Número de pasaporte inválido'
                }
                else{
                    this.response.uniquePerson.status = false
                    this.response.uniquePerson.text = 'Aprobado'
                }
            },
            setup_num(n)
            {
                var num = /^(0|[0-9+/][0-9]*)$/.test(n)
                return num
            },
            validEmail(email) 
            {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            valPhone()
            {
                let n = this.saveForm.phone
                if(n != '' && (!this.setup_num(n) || n.length < 7 ))
                {
                    this.response.validation_phone.status = true
                    this.response.validation_phone.text = ' número telefónico inválido. Debe contener solo números o "+" indicativo y mínimo 7 digitos'

                }else{
                    this.response.validation_phone.status = null
                    this.response.validation_phone.text = ''
                }  
            },
            valEmail() 
            {
                let mail = this.saveForm.mail
                console.log(this.validEmail(mail));
                if(mail != '' && !this.validEmail(mail))
                {
                    this.response.validationMail.status = true
                    this.response.validationMail.text='Correo no válido'
                }else{
                    this.response.validationMail.status = false
                    this.response.validationMail.text=''
                    this.uniqueMail()
                }
                if(mail == ''){
                    this.response.validationMail.status = null
                    this.response.validationMail.text=''
                }            
            },
            uniquePerson()
            {
                if(this.saveForm.dni.dni)
                {                
                    if(this.setup_cc(this.saveForm.dni.dni))
                    {
                        axios.post('/auth/seller/unique', {query :{'dni.dni': this.saveForm.dni.dni}}).then((res) =>
                        {
                            if(!res.data.status)
                            {                       
                                this.response.uniquePerson.status = false
                                // this.response.uniquePerson.text = 'Número de identificación disponible'
                            }
                            else
                            {
                                this.response.uniquePerson.status = true
                                this.response.uniquePerson.text = 'Número de identificación ya esta registrado'
                            }
                        })
                    }                    
                }
                else
                {
                    this.response.validation_user.status = null
                    this.response.validation_user.text = ''
                }
            },    
            uniqueMail()
            {
                if(this.saveForm.mail)
                {                
                    axios.post('/auth/seller/unique', {query :{'mail': this.saveForm.mail}}).then((res) =>
                    {
                        if(!res.data.status)
                        {                       
                            this.response.validationMail.status = false
                            // this.response.uniquePerson.text = 'Número de identificación disponible'
                        }
                        else
                        {
                            this.response.validationMail.status = true
                            this.response.validationMail.text='Este correo ya se encuentra en nuestra base de datos'
                        }
                    })                   
                }
                else
                {
                    this.response.validation_user.status = null
                    this.response.validation_user.text = ''
                }
            },            
            valInputs() 
            {                
                this.response.charginButton = true
                let iden = 0
                let names = 0                                

                for (const key in this.saveForm.dni)   
                {
                    if(this.saveForm.dni[key])
                        iden++;
                }                
                for (const keyy in this.saveForm.name) 
                {
                    if(this.saveForm.name[keyy])
                        names++;
                }                
                // console.log('id:',iden,'names:',names,'add:',addressUsr,'access:',access)
                if(iden < 2 || names < 2 || !this.saveForm.mail || !this.saveForm.phone)
                {
                    this.response.charginButton = false
                    this.$swal.fire({
                        title: 'Debe llenar todos los campos',
                        type: 'warning',
                        showCancelButton: false,                        
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                    return false
                }
                if(this.response.uniquePerson.status)
                {
                    this.response.charginButton = false
                    this.$swal.fire({
                        title: 'El número de identificación no es válido o ya ha sido registrado',
                        type: 'warning',
                        showCancelButton: false,                        
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                    $('input[name=document]').focus()
                    return false
                }
                if(this.response.validationMail.status)
                {
                    this.response.charginButton = false
                    this.$swal.fire({
                        title: 'La dirección de correo electrónico ingresada no es válida o ya se encuentra registrada',
                        type: 'warning',
                        showCancelButton: false,                        
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                        $('input[name=email]').focus()
                        return false
                }
                if(this.response.validation_phone.status)
                {
                    this.response.charginButton = false
                    this.$swal.fire({
                        title: 'El número teléfonico ingresado no es válido',
                        type: 'warning',
                        showCancelButton: false,                        
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                        $('input[name=phone]').focus()
                        return false
                }                
                
                if(iden >= 2 && names >= 2 && this.saveForm.mail && this.saveForm.phone)
                {
                    this.registerSeller()                    
                }
            },
            editSeller(id)
            {            
                console.log(id);                
                for (const key in this.listSeller) 
                {
                    if(this.listSeller[key]._id == id)
                    {
                        console.log(true);                  
                        this.saveForm._id = this.listSeller[key]._id      
                        this.saveForm.name.first = this.listSeller[key].name.first
                        this.saveForm.name.last = this.listSeller[key].name.last
                        this.saveForm.code = this.listSeller[key].code  
                        this.saveForm.dni.dni = this.listSeller[key].dni.dni
                        this.saveForm.dni.dniType = this.listSeller[key].dni.dniType
                        this.saveForm.mail = this.listSeller[key].mail
                        this.saveForm.phone = this.listSeller[key].phone
                        break;
                    }
                }
                this.updateRegister = 'update'
                this.registerUpdateModal = true
                
            },
            registerSeller()
            {
                if(this.updateRegister == 'register')
                {
                    axios.post('/auth/seller/store', this.saveForm).then((resp) =>
                    {
                        if(resp.data.status == 'success')
                        {
                            this.$swal.fire({
                                title: 'Ok!',
                                text: 'Vendedor registrado exitosamente!',
                                type: 'success',
                                showCancelButton: false,                        
                                cancelButtonColor: '#99908E',
                                confirmButtonText: 'Aceptar'
                            })
                        } else 
                        {
                            this.$swal.fire({
                                title: 'Error',
                                text: 'el vendedor no pudo ser registrado, intente nuevamente',
                                type: 'warning',
                                showCancelButton: false,                        
                                cancelButtonColor: '#99908E',
                                confirmButtonText: 'Aceptar'
                            })
                        }
                        this.clearInputs()
                    })
                } else 
                {
                    axios.post('/auth/seller/update', {id: this.saveForm._id, data: this.saveForm}).then((resp) =>
                    {
                        if(resp.data.success)
                        {
                            this.$swal.fire({
                                title: 'Ok!',
                                text: 'Vendedor modificado exitosamente!',
                                type: 'success',
                                showCancelButton: false,                        
                                cancelButtonColor: '#99908E',
                                confirmButtonText: 'Aceptar'
                            })
                        } else {
                            this.$swal.fire({
                                title: 'Error',
                                text: 'el vendedor no pudo ser modificado, intente nuevamente',
                                type: 'warning',
                                showCancelButton: false,                        
                                cancelButtonColor: '#99908E',
                                confirmButtonText: 'Aceptar'
                            })
                        }
                        this.registerUpdateModal = false
                        this.clearInputs()                        
                    })
                }
            },
            clearInputs()
            {
                this.saveForm = 
                {
                    name: 
                    {
                        first: '',
                        last: ''
                    },
                    dni: 
                    {
                        dniType: '',
                        dni: ''
                    },
                    phone: '',
                    mail: '',
                }
                this.response.charginButton = false
                this.registerUpdateModal = false
                this.response = 
                {
                    charginButton: false,
                    uniquePerson: 
                    {
                        text: '',
                        status: null
                    },
                    validationMail:{
                        text:'',
                        status:null
                    },
                    validation_phone:{
                        text:'',
                        status:null
                    },
                    validation_user:{
                        text:'',
                        status:null
                    }
                }
                this.list()
            }
        }
    }
</script>